Repository BenjaminSRussell/Scrapy, changes with the labels that .github/labeler.yml gives for each.
All labels: area/stage1, area/stage2, area/stage3, area/common, area/integration, area/nlp, area/ci

fix(#609): align DeltaHelper with LakehouseManager read_table/async_write (#812)
  Scraping_project/src/stage2/stage2_worker.py
  Scraping_project/src/utils/delta.py
  Scraping_project/tests/unit/test_delta_helper_api_parity.py
Labels: area/stage2

feat: wire OpenTelemetry tracing into Scrapy stages (#146) (#729)
  MONITORING.md
  Scraping_project/.env.example
  Scraping_project/pyproject.toml
  Scraping_project/src/otel_tracing.py
  Scraping_project/src/settings.py
  Scraping_project/src/stage2/stage2_worker.py
  Scraping_project/src/stage3/stage3_worker.py
  Scraping_project/src/stage4/stage4_worker.py
  Scraping_project/tests/unit/test_otel_tracing.py
Labels: area/stage2, area/stage3, area/nlp

deps: bump psutil to 7.1.2 (#782)
  Scraping_project/dev-requirements.txt
  Scraping_project/pyproject.toml
  Scraping_project/requirements.in
  Scraping_project/requirements.txt
Labels: none

deps: bump redis to 7.0.1 (MAJOR) (#889)
  Scraping_project/dev-requirements.in
  Scraping_project/dev-requirements.txt
  Scraping_project/pyproject.toml
  Scraping_project/requirements.in
  Scraping_project/requirements.txt
Labels: none

fix(#145): unify Compose profiles (rebase onto main after #622)
  .github/workflows/ci-compose.yml
  Scraping_project/.env.example
  Scraping_project/COMPOSE.md
  Scraping_project/docker-compose.yml
Labels: area/ci

feat(stage1): add DiscoveryDedup shared claim helper (#647)
  Scraping_project/src/stage1/discovery_dedup.py
Labels: area/stage1

feat(stage1): add DiscoveryHandoff success|empty|failed (#647)
  Scraping_project/src/stage1/discovery_handoff.py
Labels: area/stage1

feat(stage1): add DiscoveryHandoff success|empty|failed (#647)
  Scraping_project/src/stage1/discovery_handoff.py
Labels: area/stage1

fix(#645): add JS_QUEUE runbook
  Scraping_project/docs/JS_QUEUE.md
Labels: none

fix(#645): add unit tests for js_spider_queue drain
  Scraping_project/tests/unit/test_js_queue_drain.py
Labels: none

docs(config): document dual-discovery shared_dedup vs mutex (#647)
  Scraping_project/config.yml
Labels: none

fix(#645): document enable_js_spider in config.yml
  Scraping_project/config.yml
Labels: none

fix(#646): add hop reconciliation module, exports, example config (1/2)
  Scraping_project/config/orchestrator.example.yml
  Scraping_project/src/orchestrator/__init__.py
  Scraping_project/src/orchestrator/hop_reconciliation.py
Labels: none

fix(#145): entrypoint-smoke uses --profile core for compose config
  .github/workflows/main.yml
Labels: area/ci

test(stage1): dual-discovery dedup + handoff unit tests (#647)
  Scraping_project/tests/unit/stage1/test_discovery_dedup_handoff.py
Labels: none

feat(stage1): Scout wires shared dedup + handoff ingest (#647)
  Scraping_project/src/stage1/scout_spider.py
Labels: area/stage1

feat(stage1): SitemapParser returns typed discovery handoff (#647)
  Scraping_project/src/stage1/sitemap_parser.py
Labels: area/stage1

fix(#645): drain js_spider_queue in orchestrator between Scout and Stage2
  Scraping_project/src/orchestrator/pipeline_orchestrator.py
Labels: none

fix(#646): Stage2 barrier + hop reconciliation gating (2/2)
  Scraping_project/src/orchestrator/pipeline_orchestrator.py
  Scraping_project/tests/unit/test_hop_reconciliation_barrier.py
Labels: none

fix(#645): restore real pipeline_orchestrator.py (replace placeholder/main)
  Scraping_project/src/orchestrator/pipeline_orchestrator.py
Labels: none

fix(#645): restore real scout_spider.py (replace placeholder/main)
  Scraping_project/src/stage1/scout_spider.py
Labels: area/stage1

fix(#645): restore real scrapy_prometheus.py (replace placeholder/main)
  Scraping_project/src/scrapy_prometheus.py
Labels: none

test(#647): move discovery dedup tests under tests/stage1 for CI
  .github/workflows/main.yml
  Scraping_project/tests/stage1/test_discovery_dedup_handoff.py
Labels: area/ci

test(#647): remove duplicate discovery dedup tests from tests/unit/stage1
  Scraping_project/tests/unit/stage1/test_discovery_dedup_handoff.py
Labels: none

fix(#646): implement Stage2 barrier + hop reconciliation gating in orchestrator
  Scraping_project/src/orchestrator/pipeline_orchestrator.py
Labels: none

test(#646): barrier + reconciliation + late-append coverage
  Scraping_project/tests/unit/test_hop_reconciliation_barrier.py
Labels: none

fix(#645): address Reviewer RC (scout dual-queue, env, test path)
  Scraping_project/docs/JS_QUEUE.md
  Scraping_project/src/stage1/scout_spider.py
  Scraping_project/tests/stage1/test_js_queue_drain.py
Labels: area/stage1

fix(#645): remove tests/unit copy of js queue drain tests
  Scraping_project/tests/unit/test_js_queue_drain.py
Labels: none

test(#608): add QueueItemPipeline registration and stage2 queue smoke tests
  Scraping_project/tests/unit/test_queue_item_pipeline_registration.py
Labels: none

fix(#608): register QueueItemPipeline at priority 350 before Kafka
  Scraping_project/src/settings.py
Labels: none

test
  Scraping_project/src/pipelines.py
Labels: none

fix(#608): add is_queue_routing_item helper for Scout queue dicts
  Scraping_project/src/queue_routing.py
Labels: none

fix(#608): document QueueItemPipeline ordering; patch SchemaValidation skip
  Scraping_project/src/settings.py
Labels: none

test(#608): import queue_routing helper; apply settings patch in schema test
  Scraping_project/tests/unit/test_queue_item_pipeline_registration.py
Labels: none

fix(#608): extract Offsite/Grafana/SchemaValidation into pipelines_schema_grafana
  Scraping_project/src/pipelines_schema_grafana.py
Labels: none

probe
  Scraping_project/src/pipelines.py
  Scraping_project/src/pipelines_scoring.py
Labels: none

fix(#608): restore pipelines_scoring.py (Recency/Aggregation/MetadataExtraction)
  Scraping_project/src/pipelines_scoring.py
Labels: none

fix(#608): restore pipelines.py with QueueItemPipeline and module re-exports
  Scraping_project/src/pipelines.py
Labels: none

fix: restore truncated URL fragment in base_spider dedup test
  Scraping_project/tests/unit/stage1/test_base_spider.py
Labels: none

fix: restore source corrupted by automated comment-stripping commit
  Scraping_project/src/common/url_value_assessor.py
  Scraping_project/src/pipelines.py
  Scraping_project/src/stage1/js_detection.py
  Scraping_project/src/stage1/processors/url_extractor.py
  Scraping_project/src/utils/profiler.py
  Scraping_project/tests/common/test_url_processor.py
  Scraping_project/tests/integration/test_end_to_end.py
  Scraping_project/tests/unit/common/test_url_processor.py
  Scraping_project/tests/unit/stage1/test_js_detection.py
  Scraping_project/tests/unit/stage1/test_normalize_url.py
Labels: area/stage1, area/common, area/integration

.github/labeler.yml:

area/stage1:
  - "Scraping_project/src/stage1/**"
area/stage2:
  - "Scraping_project/src/stage2/**"
area/stage3:
  - "Scraping_project/src/stage3/**"
area/common:
  - "Scraping_project/src/common/**"
area/integration:
  - "Scraping_project/tests/integration/**"
area/nlp:
  - "Scraping_project/src/common/nlp.py"
  - "Scraping_project/src/stage3/**"
area/ci:
  - ".github/**"
