Repository BenjaminSRussell/Scrapy, changes with the labels that .github/labeler.yml gives for each.
All labels: area/stage1, area/stage2, area/stage3, area/common, area/integration, area/nlp, area/ci

Stage 4 reuses complete Stage 2 text from the queue row instead of re-fetching; fetch-vs-reuse metric (#320)
  Scraping_project/src/stage2/stage2_worker.py
  Scraping_project/src/stage4/stage4_worker.py
  Scraping_project/tests/unit/test_stage4_input_efficiency.py
Labels: area/stage2

Global crawl kill switch + request/byte budgets honored by Stage 1 and Stage 2; audit log, CLI, SEV1 runbook (#456)
  Scraping_project/cli.py
  Scraping_project/docs/runbooks/sev1_abuse_kill_switch.md
  Scraping_project/src/stage1/middlewares/crawl_guard_middleware.py
  Scraping_project/src/stage1/middlewares/spider_config.py
  Scraping_project/src/stage2/stage2_worker.py
  Scraping_project/src/utils/crawl_guard.py
  Scraping_project/tests/unit/test_crawl_guard_kill_switch.py
Labels: area/stage1, area/stage2

Lakehouse: quarantine undomainable rows instead of a hot domain=unknown partition; metric, alert, repair job (#458) (#1237)
  Scraping_project/README.md
  Scraping_project/k8s/helm/scraping-pipeline/files/monitoring/alerting_rules.yml
  Scraping_project/monitoring/alerting_rules.yml
  Scraping_project/src/lakehouse/lakehouse_manager.py
  Scraping_project/tests/unit/test_domain_quarantine.py
  Scraping_project/tests/unit/test_stage4_queue_input.py
Labels: none

Destructive lake/queue ops: dry-run default, dual confirmation, prod break-glass, audit log, backups; fix drain_lake import (#522, #573, #576)
  Scraping_project/cli.py
  Scraping_project/drain_lake.py
  Scraping_project/reseed.py
  Scraping_project/scripts/README.md
  Scraping_project/scripts/complete_reset.sh
  Scraping_project/scripts/reset_lake.py
  Scraping_project/src/utils/destructive_guard.py
  Scraping_project/tests/unit/test_destructive_guard_522_573_576.py
Labels: none

dashboard: timeout activity type (#767) and on-screen shortcut hint (#503)
  Scraping_project/dashboard/app.js
  Scraping_project/dashboard/format-utils.js
  Scraping_project/dashboard/index.html
  Scraping_project/dashboard/tests/refresh-nav.test.js
Labels: none

ZSC: /readyz until model warm-up + subscribe, offline stubbed tests, low-confidence review export CLI (#485, #296, #422)
  MONITORING.md
  Scraping_project/cli.py
  Scraping_project/src/ml_service.py
  Scraping_project/tests/unit/test_ml_service_offline.py
Labels: none

Pipelines: bounded (rows/bytes/age) Delta batches with timer flush for queue + offsite; honest saved/unwritten accounting (#424, #425) (#1246)
  Scraping_project/src/pipelines.py
  Scraping_project/tests/unit/test_pipeline_batch_bounds.py
Labels: none

dashboard serve.py: loopback bind by default with CC_HOST/CC_PORT/--host/--port (#735); 404 for listings, source, dotfiles, missing assets (#721)
  Scraping_project/dashboard/README.md
  Scraping_project/dashboard/serve.py
  Scraping_project/tests/unit/test_dashboard_serve_721_735.py
Labels: none

dashboard: combined UI/a11y/XSS fixes (#954 #957 #975 #976 #977 #978 #945 #962 #982 #983 #906 #910) (#1258)
  Scraping_project/dashboard/A11Y_CHECKLIST.md
  Scraping_project/dashboard/README.md
  Scraping_project/dashboard/app.js
  Scraping_project/dashboard/format-utils.js
  Scraping_project/dashboard/index.html
  Scraping_project/dashboard/serve.py
  Scraping_project/dashboard/tests/activity-announce.test.js
  Scraping_project/dashboard/tests/activity-seed.test.js
  Scraping_project/dashboard/tests/chart-sample-legend.test.js
  Scraping_project/dashboard/tests/charts-fallback.test.js
  Scraping_project/dashboard/tests/connection-title.test.js
  Scraping_project/dashboard/tests/forced-colors.test.js
  Scraping_project/dashboard/tests/format-utils.test.js
  Scraping_project/dashboard/tests/layout-structure.test.js
  Scraping_project/dashboard/tests/responsive-css.test.js
  Scraping_project/dashboard/tests/stage-activity.test.js
Labels: none

docs(kdi): README describes required install, not a past machine state (#577) (#1238)
  Scraping_project/kafka-delta-ingest/README.md
  Scraping_project/kafka-delta-ingest/src/main.rs
Labels: none

Sitemap walk: depth/URL/fetch/byte caps, gzip-bomb guard, Content-Encoding fix, metrics (#206) (#1248)
  Scraping_project/config.yml
  Scraping_project/src/stage1/sitemap_parser.py
  Scraping_project/tests/unit/stage1/test_sitemap_bounded_walk.py
Labels: area/stage1

Route off-domain hidden URLs to offsite candidates and export per-category hidden-URL metrics (#388, #392) (#1265)
  Scraping_project/src/scrapy_prometheus.py
  Scraping_project/src/stage1/experimental/deep_dive_spider.py
  Scraping_project/src/stage1/processors/hidden_url_extractor.py
  Scraping_project/tests/unit/stage1/test_hidden_urls_offsite_and_metrics.py
Labels: area/stage1

ASR: no Google egress by default (ASR_PROVIDER opt-in, local whisper); ASRPipeline only when ASR_ENABLED (#429, #470) (#1268)
  Scraping_project/src/common/async_asr_processor.py
  Scraping_project/src/settings.py
  Scraping_project/tests/unit/test_asr_provider_opt_in.py
  Scraping_project/tests/unit/test_asr_temp_cleanup.py
Labels: area/common

Bounds batch: stage4 chunk_spans validation/no dup tail (#738), sentence-aware stage3 truncation within limit (#740), capped seeded middleware backoff (#722), stage2 empty-body tests (#739)
  Scraping_project/src/stage1/middlewares/retry_middleware.py
  Scraping_project/src/stage3/stage3_worker.py
  Scraping_project/src/stage4/large_doc_processor.py
  Scraping_project/src/utils/text_truncate.py
  Scraping_project/tests/unit/test_bounds_batch_722_738_739_740.py
Labels: area/stage1, area/stage3, area/nlp

validation: host-exact is_uconn_domain, max_length=0, '.' filename (#757); seeded property tests for URL canonicalization (#760) and validation.py (#757)
  Scraping_project/src/utils/validation.py
  Scraping_project/tests/unit/test_url_validation_properties_757_760.py
Labels: none

Contributor tooling: devcontainer, VS Code launch/tasks, noxfile mirroring CI, smoke script, Playwright note (#321, #323, #350, #363, #387)
  .devcontainer/devcontainer.json
  .gitignore
  .vscode/launch.json
  .vscode/tasks.json
  CONTRIBUTING.md
  Scraping_project/noxfile.py
  Scraping_project/scripts/smoke_local.sh
  Scraping_project/tests/unit/test_contributor_tooling.py
Labels: none

One formatter path (ruff + ruff-format), one config file per tool, docs/tooling.md (#357, #360)
  Scraping_project/.pre-commit-config.yaml
  Scraping_project/Makefile
  Scraping_project/docs/tooling.md
  Scraping_project/pyproject.toml
  Scraping_project/tests/unit/test_contributor_tooling.py
Labels: none

test(stage4): use host-bearing URLs so main's domain quarantine keeps fixture rows (#318)
  Scraping_project/tests/unit/test_stage4_input_efficiency.py
Labels: none

chaos #661: patch deltalake.write_deltalake by dotted path (robust to tests that re-import deltalake)
  Scraping_project/tests/unit/chaos/test_lakehouse_write_faults_661.py
Labels: none

Tests: per-process lake/DLQ isolation for xdist, fail on writes to project data/, restore sys.modules in lazy-import test (#683)
  Scraping_project/tests/README.md
  Scraping_project/tests/conftest.py
  Scraping_project/tests/delta/test_lazy_imports_and_exceptions.py
  Scraping_project/tests/unit/test_xdist_isolation_683.py
Labels: none

test_queue_gc_754: back-date _last_queue_gc relative to monotonic() (CI runners can have <1h uptime)
  Scraping_project/tests/unit/test_queue_gc_754.py
Labels: none

test: ITEM_PIPELINES order regression lock loaded like production (#679) (#1226)
  Scraping_project/tests/unit/test_item_pipelines_lock.py
Labels: none

Test batch: adversarial JS detection, pytest Kafka-alert tests, CLI exit codes, Delta read-side evolution, PR checklist (#292, #295, #297, #299, #301)
  .github/pull_request_template.md
  .github/workflows/ci-kafka-alerts.yml
  Scraping_project/cli.py
  Scraping_project/k8s/helm/scraping-pipeline/files/monitoring/recording_rules.yml
  Scraping_project/monitoring/recording_rules.yml
  Scraping_project/pytest.ini
  Scraping_project/src/lakehouse/lakehouse_manager.py
  Scraping_project/src/stage1/js_detection.py
  Scraping_project/tests/delta/test_schema_evolution_read.py
  Scraping_project/tests/fixtures/js_detection/angular_tutorial_article.html
  Scraping_project/tests/fixtures/js_detection/cra_noscript_shell.html
  Scraping_project/tests/fixtures/js_detection/image_only_no_scripts.html
  Scraping_project/tests/fixtures/js_detection/next_shell_big_inline_state.html
  Scraping_project/tests/fixtures/js_detection/nuxt_uppercase_single_quotes.html
  Scraping_project/tests/fixtures/js_detection/react_tutorial_article.html
  Scraping_project/tests/fixtures/js_detection/static_docs_jquery_analytics.html
  Scraping_project/tests/fixtures/js_detection/vue_cloak_shell.html
  Scraping_project/tests/observability/_mock_metrics_server.py
  Scraping_project/tests/observability/test_kafka_lag_alert.py
  Scraping_project/tests/observability/test_recording_rules.py
  Scraping_project/tests/unit/monitoring/alert_rules_promtool_test.yml
  Scraping_project/tests/unit/stage1/test_js_detection_adversarial.py
  Scraping_project/tests/unit/test_cli_exit_codes.py
  Scraping_project/tests/unit/test_pr_template_checklist.py
Labels: area/stage1, area/ci

Stage 1 politeness: obey robots.txt + Crawl-delay, honour Retry-After, 30s AutoThrottle floor, per-host caps, exponential 429 backoff (#186, #188, #194) (#1243)
  Scraping_project/README.md
  Scraping_project/config.yml
  Scraping_project/src/settings.py
  Scraping_project/src/stage1/middlewares/retry_after_middleware.py
  Scraping_project/src/stage1/middlewares/robots_middleware.py
  Scraping_project/src/stage1/middlewares/spider_config.py
  Scraping_project/tests/unit/stage1/test_rate_limit_defaults.py
  Scraping_project/tests/unit/stage1/test_retry_after.py
  Scraping_project/tests/unit/stage1/test_robots_policy.py
Labels: area/stage1

Stage 2: stage2_queue_empty/pending gauges and read-failure counter; starved-vs-idle and unreadable-queue alerts (#220) (#1263)
  Scraping_project/k8s/helm/scraping-pipeline/files/monitoring/alerting_rules.yml
  Scraping_project/monitoring/alerting_rules.yml
  Scraping_project/src/stage2/stage2_worker.py
  Scraping_project/src/utils/delta.py
  Scraping_project/tests/unit/monitoring/alert_rules_promtool_test.yml
  Scraping_project/tests/unit/stage2/test_stage2_queue_state_metrics.py
Labels: area/stage2

Orchestrator: aborted runs end in a terminal 'aborted' state with stage + metric; fresh stats per run (#684)
  Scraping_project/src/orchestrator/pipeline_orchestrator.py
  Scraping_project/tests/unit/test_orchestrator_abort_684.py
Labels: none

Stage 1 content policy: never HTML-parse binary or non-HTML bodies (#662) (#1230)
  Scraping_project/src/stage1/content_policy.py
  Scraping_project/src/stage1/experimental/base_spider.py
  Scraping_project/src/stage1/scout_spider.py
  Scraping_project/tests/fixtures/content_types/README.md
  Scraping_project/tests/fixtures/content_types/archive.zip
  Scraping_project/tests/fixtures/content_types/data.gz
  Scraping_project/tests/fixtures/content_types/doc.pdf
  Scraping_project/tests/fixtures/content_types/nul_bytes.bin
  Scraping_project/tests/fixtures/content_types/page.html
  Scraping_project/tests/fixtures/content_types/page.xhtml
  Scraping_project/tests/fixtures/content_types/photo.jpg
  Scraping_project/tests/fixtures/content_types/pixel.png
  Scraping_project/tests/fixtures/content_types/plain.txt
  Scraping_project/tests/fixtures/content_types/utf16.html
  Scraping_project/tests/unit/stage1/test_content_type_policy.py
Labels: area/stage1

JS rendering: bounded priority queue (max size + TTL, metrics) and config-driven Playwright resource blocking applied from first request (#377, #390)
  Scraping_project/config.yml
  Scraping_project/docs/JS_RENDERING.md
  Scraping_project/src/stage1/experimental/js_spider.py
  Scraping_project/src/stage1/experimental/playwright_blocking.py
  Scraping_project/src/stage1/processors/js_priority_queue.py
  Scraping_project/tests/unit/stage1/test_js_priority_queue_bounds.py
  Scraping_project/tests/unit/stage1/test_playwright_blocking.py
Labels: area/stage1

Destructive lake/queue ops: dry-run default, dual confirmation, prod break-glass, audit log, backups; fix drain_lake import (#522, #573, #576) (#1270)
  Scraping_project/cli.py
  Scraping_project/drain_lake.py
  Scraping_project/reseed.py
  Scraping_project/scripts/README.md
  Scraping_project/scripts/complete_reset.sh
  Scraping_project/scripts/reset_lake.py
  Scraping_project/src/utils/destructive_guard.py
  Scraping_project/tests/unit/test_destructive_guard_522_573_576.py
Labels: none

Bounds batch: stage4 chunk_spans validation/no dup tail (#738), sentence-aware stage3 truncation within limit (#740), capped seeded middleware backoff (#722), stage2 empty-body tests (#739) (#1271)
  Scraping_project/src/stage1/middlewares/retry_middleware.py
  Scraping_project/src/stage3/stage3_worker.py
  Scraping_project/src/stage4/large_doc_processor.py
  Scraping_project/src/utils/text_truncate.py
  Scraping_project/tests/unit/test_bounds_batch_722_738_739_740.py
Labels: area/stage1, area/stage3, area/nlp

kafka-delta-ingest: dead-letter rejected messages with headers, fail closed (#544) (#1214)
  Scraping_project/kafka-delta-ingest/README.md
  Scraping_project/kafka-delta-ingest/src/main.rs
  Scraping_project/tests/unit/test_ingest_dlq_contract.py
Labels: none

Tests: per-process lake/DLQ isolation for xdist, fail on writes to project data/, restore sys.modules in lazy-import test (#683) (#1274)
  Scraping_project/tests/README.md
  Scraping_project/tests/conftest.py
  Scraping_project/tests/delta/test_lazy_imports_and_exceptions.py
  Scraping_project/tests/unit/test_xdist_isolation_683.py
Labels: none

DX batch: devcontainer, VS Code launch/tasks, nox, smoke script, one formatter path + config source of truth (#321, #323, #350, #363, #387, #357, #360) (#1278)
  .devcontainer/devcontainer.json
  .gitignore
  .vscode/launch.json
  .vscode/tasks.json
  CONTRIBUTING.md
  Scraping_project/.pre-commit-config.yaml
  Scraping_project/Makefile
  Scraping_project/docs/tooling.md
  Scraping_project/noxfile.py
  Scraping_project/pyproject.toml
  Scraping_project/scripts/smoke_local.sh
  Scraping_project/tests/unit/test_contributor_tooling.py
Labels: none

logging_config: stage/worker_id/crawl_job_id on every line, LOG_FORMAT=json; Stage 2-4 entrypoints finally log INFO (#466, #238)
  Scraping_project/.env.example
  Scraping_project/cli.py
  Scraping_project/src/utils/logging_config.py
  Scraping_project/src/workers/stage1_worker.py
  Scraping_project/src/workers/stage2_worker.py
  Scraping_project/src/workers/stage3_worker.py
  Scraping_project/src/workers/stage4_worker.py
  Scraping_project/tests/unit/test_logging_config.py
Labels: none

Shell scripts: strict mode standard, applied without breaking behaviour (#822)
  Scraping_project/access_grafana.sh
  Scraping_project/diagnose.sh
  Scraping_project/docker/entrypoints/crawler-entrypoint.sh
  Scraping_project/docker/entrypoints/kafka-delta-ingest-entrypoint.sh
  Scraping_project/docker/entrypoints/metrics-exporter-entrypoint.sh
  Scraping_project/rebuild_env.sh
  Scraping_project/scripts/SHELL_STANDARD.md
  Scraping_project/scripts/complete_reset.sh
  Scraping_project/scripts/compose_lib.sh
  Scraping_project/scripts/diagnose_issues.sh
  Scraping_project/scripts/k8s_reset_and_deploy.sh
  Scraping_project/scripts/reset_grafana_complete.sh
  Scraping_project/tests/unit/test_shell_strict_mode_822.py
Labels: none

Stage 4: filtered read of massive docs, reuse Stage 2 text instead of re-fetching (#318, #320) (#1276)
  Scraping_project/src/stage2/stage2_worker.py
  Scraping_project/src/stage4/stage4_worker.py
  Scraping_project/tests/unit/test_stage4_input_efficiency.py
Labels: area/stage2

HTTP cache disk quota: prune oldest entries over HTTPCACHE_MAX_BYTES, export cache size; filesystem storage default (#496) (#1277)
  Scraping_project/src/settings.py
  Scraping_project/src/stage1/extensions/__init__.py
  Scraping_project/src/stage1/extensions/httpcache_quota.py
  Scraping_project/tests/unit/stage1/test_httpcache_quota.py
Labels: area/stage1

Chaos tests (Kafka outage, lake ENOSPC/EACCES, Stage 2 store drop, replay idempotency) + fix dropped queued batch & duplicate Kafka produce (#1273)
  Scraping_project/src/lakehouse/lakehouse_manager.py
  Scraping_project/src/pipelines.py
  Scraping_project/tests/unit/chaos/__init__.py
  Scraping_project/tests/unit/chaos/test_kafka_outage_660.py
  Scraping_project/tests/unit/chaos/test_lakehouse_write_faults_661.py
  Scraping_project/tests/unit/chaos/test_stage2_store_drop_655_663.py
Labels: none

dashboard: fetch timeout/abort, hidden-tab pause, interval picker, shortcuts, remembered tab, touch targets (+#1258) (#1266)
  Scraping_project/dashboard/README.md
  Scraping_project/dashboard/app.js
  Scraping_project/dashboard/format-utils.js
  Scraping_project/dashboard/index.html
  Scraping_project/dashboard/serve.py
  Scraping_project/dashboard/tests/refresh-nav.test.js
  Scraping_project/tests/unit/test_dashboard_serve_721_735.py
Labels: none

Stage 1: configurable discovery heuristics, precise URL regex, opt-in hidden URLs; scout honours stage1.* flags (#27, #25, #481) (#1259)
  Scraping_project/config.yml
  Scraping_project/src/stage1/processors/hidden_url_extractor.py
  Scraping_project/src/stage1/processors/url_extractor.py
  Scraping_project/src/stage1/scout_spider.py
  Scraping_project/tests/unit/stage1/test_base_spider.py
  Scraping_project/tests/unit/stage1/test_discovery_heuristics_config.py
  Scraping_project/tests/unit/stage1/test_hidden_urls_in_scout.py
  Scraping_project/tests/unit/stage1/test_url_regex_precision.py
Labels: area/stage1

.github/labeler.yml:

area/stage1:
  - "Scraping_project/src/stage1/**"
area/stage2:
  - "Scraping_project/src/stage2/**"
area/stage3:
  - "Scraping_project/src/stage3/**"
area/common:
  - "Scraping_project/src/common/**"
area/integration:
  - "Scraping_project/tests/integration/**"
area/nlp:
  - "Scraping_project/src/common/nlp.py"
  - "Scraping_project/src/stage3/**"
area/ci:
  - ".github/**"
