Repository BenjaminSRussell/Scrapy, changes with the labels that .github/labeler.yml gives for each.
All labels: area/stage1, area/stage2, area/stage3, area/common, area/integration, area/nlp, area/ci

.github/labeler.yml:

area/stage1:
  - "Scraping_project/src/stage1/**"
area/stage2:
  - "Scraping_project/src/stage2/**"
area/stage3:
  - "Scraping_project/src/stage3/**"
area/common:
  - "Scraping_project/src/common/**"
area/integration:
  - "Scraping_project/tests/integration/**"
area/nlp:
  - "Scraping_project/src/common/nlp.py"
  - "Scraping_project/src/stage3/**"
area/ci:
  - ".github/**"

dashboard: stage card active state tracks live rates (#976)
  Scraping_project/dashboard/app.js
  Scraping_project/dashboard/format-utils.js
  Scraping_project/dashboard/index.html
  Scraping_project/dashboard/tests/stage-activity.test.js
Labels: none

CD: anchore/syft-action does not exist; use anchore/sbom-action (the jobs failed at setup)
  .github/workflows/cd-release.yml
  Scraping_project/tests/unit/test_release_images.py
Labels: area/ci

dashboard: leave cold-chart state on first sample; responsive doughnut legend (#977)
  Scraping_project/dashboard/app.js
  Scraping_project/dashboard/format-utils.js
  Scraping_project/dashboard/tests/chart-sample-legend.test.js
Labels: none

dashboard: drop static activity seed; JS renders first paint (#978)
  Scraping_project/dashboard/index.html
  Scraping_project/dashboard/tests/activity-seed.test.js
Labels: none

Alerts read only metrics something emits: StatsD mappings for the exporter, real ingestor names, batch write timer, catalog test (#178)
  Scraping_project/README.md
  Scraping_project/k8s/helm/scraping-pipeline/files/monitoring/alerting_rules.yml
  Scraping_project/k8s/helm/scraping-pipeline/files/monitoring/recording_rules.yml
  Scraping_project/k8s/helm/scraping-pipeline/files/monitoring/statsd_mapping.yml
  Scraping_project/kafka-delta-ingest/src/main.rs
  Scraping_project/monitoring/alerting_rules.yml
  Scraping_project/monitoring/alerts.yml
  Scraping_project/monitoring/prometheus.yml
  Scraping_project/monitoring/recording_rules.yml
  Scraping_project/tests/unit/monitoring/alert_rules_promtool_test.yml
  Scraping_project/tests/unit/monitoring/test_alert_metric_catalog.py
  Scraping_project/tests/unit/monitoring/test_prometheus_config.py
  Scraping_project/tests/unit/test_ingest_write_failure_alert.py
Labels: none

kafka-delta-ingest build stage: install clang/libclang for zstd-sys bindgen
  Scraping_project/Dockerfile
Labels: none

dashboard: un-nest Activity tab (stray </ul>); sticky refresh bar (#975)
  Scraping_project/dashboard/index.html
  Scraping_project/dashboard/tests/layout-structure.test.js
Labels: none

Stage 4: sandboxed PDF extraction with RSS/time/size budgets; quarantine instead of requeue (#445) (#1200)
  Scraping_project/README.md
  Scraping_project/src/stage4/large_doc_processor.py
  Scraping_project/src/stage4/pdf_extract_child.py
  Scraping_project/src/stage4/pdf_sandbox.py
  Scraping_project/src/stage4/stage4_worker.py
  Scraping_project/tests/unit/test_stage4_pdf_sandbox.py
Labels: none

Kafka: declare validation_failures with retention/partitions, provision topics at deploy, settings read kafka.topics (#410)
  Scraping_project/README.md
  Scraping_project/config.yml
  Scraping_project/k8s/helm/scraping-pipeline/templates/kafka-topics-job.yaml
  Scraping_project/k8s/helm/scraping-pipeline/templates/networkpolicy.yaml
  Scraping_project/k8s/helm/scraping-pipeline/values.yaml
  Scraping_project/src/settings.py
  Scraping_project/src/utils/kafka_topics.py
  Scraping_project/tests/unit/test_kafka_topics_contract.py
Labels: none

src.common shim: fail loudly on a broken re-export instead of a hidden ImportWarning (#368)
  Scraping_project/src/common/__init__.py
  Scraping_project/tests/unit/test_common_shim.py
Labels: area/common

Recency: null score when publication_date missing/unparseable, outcome metric, gold max ignores unknown (#675)
  Scraping_project/README.md
  Scraping_project/src/pipelines.py
  Scraping_project/src/settings.py
  Scraping_project/tests/unit/test_recency_missing_date.py
Labels: none

test: ITEM_PIPELINES order regression lock loaded like production (#679)
  Scraping_project/tests/unit/test_item_pipelines_lock.py
Labels: none

Redis: volatile-lru so seen sets/queues are never LRU-evicted, ERROR on allkeys-* servers, memory alert at 80%, key strategy docs (#161)
  Scraping_project/README.md
  Scraping_project/docker-compose.yml
  Scraping_project/k8s/deployment.yaml
  Scraping_project/k8s/helm/scraping-pipeline/files/monitoring/alerting_rules.yml
  Scraping_project/k8s/helm/scraping-pipeline/values.yaml
  Scraping_project/monitoring/alerting_rules.yml
  Scraping_project/src/utils/redis.py
  Scraping_project/tests/unit/test_redis_eviction_policy.py
Labels: none

kafka-delta-ingest image: libcurl headers for librdkafka cmake build, libcurl4 at runtime
  Scraping_project/Dockerfile
Labels: none

Bronze schema = Rust ingest contract: publication_date/title optional, provenance stamped before validation, drop/missing-date metrics (#227, #302)
  Scraping_project/README.md
  Scraping_project/src/pipelines.py
  Scraping_project/src/schemas.py
  Scraping_project/tests/integration/test_high_integrity_pipeline.py
  Scraping_project/tests/unit/test_bronze_schema_contract.py
Labels: area/integration

SSRF guard: refuse private/loopback/metadata/service-name targets before download, queueing and on every redirect hop (#682)
  Scraping_project/README.md
  Scraping_project/src/pipelines.py
  Scraping_project/src/settings.py
  Scraping_project/src/stage1/middlewares/spider_config.py
  Scraping_project/src/stage1/middlewares/ssrf_middleware.py
  Scraping_project/src/stage2/stage2_worker.py
  Scraping_project/src/utils/ssrf.py
  Scraping_project/tests/unit/stage2/test_stage2_shared_session.py
  Scraping_project/tests/unit/test_soft_ban.py
  Scraping_project/tests/unit/test_ssrf_guard.py
Labels: area/stage1, area/stage2

Lakehouse: quarantine undomainable rows instead of a hot domain=unknown partition; metric, alert, repair job (#458)
  Scraping_project/README.md
  Scraping_project/monitoring/alerting_rules.yml
  Scraping_project/src/lakehouse/lakehouse_manager.py
  Scraping_project/tests/unit/test_domain_quarantine.py
Labels: none

Stage1 content policy: no binary/non-HTML bodies into HTML parsing; explicit empty/missing content-type handling (#662)
  Scraping_project/src/stage1/content_policy.py
  Scraping_project/src/stage1/experimental/base_spider.py
  Scraping_project/src/stage1/scout_spider.py
  Scraping_project/tests/fixtures/content_types/README.md
  Scraping_project/tests/fixtures/content_types/archive.zip
  Scraping_project/tests/fixtures/content_types/data.gz
  Scraping_project/tests/fixtures/content_types/doc.pdf
  Scraping_project/tests/fixtures/content_types/nul_bytes.bin
  Scraping_project/tests/fixtures/content_types/page.html
  Scraping_project/tests/fixtures/content_types/page.xhtml
  Scraping_project/tests/fixtures/content_types/photo.jpg
  Scraping_project/tests/fixtures/content_types/pixel.png
  Scraping_project/tests/fixtures/content_types/plain.txt
  Scraping_project/tests/fixtures/content_types/utf16.html
  Scraping_project/tests/unit/stage1/test_content_type_policy.py
Labels: area/stage1

dashboard: single refresh scheduler; countdown derived from nextFetchAt (#986) (#1205)
  Scraping_project/dashboard/app.js
  Scraping_project/dashboard/format-utils.js
  Scraping_project/dashboard/tests/refresh-scheduler.test.js
Labels: none

Stage 2: in-request HTTP retries with backoff/jitter, fail-fast 4xx, per-host circuit breaker (#158)
  Scraping_project/README.md
  Scraping_project/src/stage2/stage2_worker.py
  Scraping_project/tests/unit/stage2/test_stage2_http_retry.py
Labels: area/stage2

SmartCache: JSON round-trip + pickle-payload regression tests (#472)
  Scraping_project/tests/unit/test_cache_serialization.py
Labels: none

with_retry: implement sync path sharing the async backoff/circuit-breaker policy; fix RateLimitError(retry_after=None) crash (#212)
  Scraping_project/src/utils/retry.py
  Scraping_project/tests/unit/test_with_retry_sync.py
Labels: none

Worker /metrics endpoints + scrape wiring for every stage; netpol renders and admits Prometheus (#789)
  Scraping_project/README.md
  Scraping_project/k8s/README.md
  Scraping_project/k8s/deployment.yaml
  Scraping_project/k8s/helm/scraping-pipeline/templates/networkpolicy.yaml
  Scraping_project/k8s/helm/scraping-pipeline/templates/prometheus-statefulset.yaml
  Scraping_project/k8s/helm/scraping-pipeline/templates/stage-workers-deployments.yaml
  Scraping_project/k8s/helm/scraping-pipeline/templates/worker-metrics-services.yaml
  Scraping_project/k8s/helm/scraping-pipeline/values.yaml
  Scraping_project/monitoring/prometheus.yml
  Scraping_project/src/stage2/stage2_worker.py
  Scraping_project/src/stage3/stage3_worker.py
  Scraping_project/src/stage4/stage4_worker.py
  Scraping_project/src/utils/worker_metrics.py
  Scraping_project/src/workers/stage2_worker.py
  Scraping_project/src/workers/stage3_worker.py
  Scraping_project/src/workers/stage4_worker.py
  Scraping_project/tests/unit/test_worker_metrics_scrape.py
Labels: area/stage2, area/stage3, area/nlp

schemas: BRONZE_REQUIRED_FIELDS reuses core.ingest_contract.REQUIRED_INGEST_FIELDS (single source of truth)
  Scraping_project/src/schemas.py
  Scraping_project/tests/unit/test_bronze_schema_contract.py
Labels: none

dashboard: tab title reflects ONLINE/OFFLINE/ERROR; topbar no longer hides pipeline_running 0 (#945)
  Scraping_project/dashboard/README.md
  Scraping_project/dashboard/app.js
  Scraping_project/dashboard/format-utils.js
  Scraping_project/dashboard/tests/connection-title.test.js
Labels: none

Kafka: key messages by url_hash (#285); enforceable idempotent producer + delivery-semantics docs (#464)
  Scraping_project/README.md
  Scraping_project/config.yml
  Scraping_project/k8s/helm/scraping-pipeline/templates/application-configmap.yaml
  Scraping_project/src/pipelines.py
  Scraping_project/src/settings.py
  Scraping_project/src/utils/kafka_config.py
  Scraping_project/tests/unit/test_kafka_durability.py
  Scraping_project/tests/unit/test_kafka_message_key.py
Labels: none

test(stage4): realistic URLs in analysis-fallback test (host-less rows are quarantined, #458)
  Scraping_project/tests/unit/test_stage4_queue_input.py
Labels: none

dashboard: announce new activity items once via an always-present live region (#962)
  Scraping_project/dashboard/A11Y_CHECKLIST.md
  Scraping_project/dashboard/app.js
  Scraping_project/dashboard/format-utils.js
  Scraping_project/dashboard/index.html
  Scraping_project/dashboard/tests/activity-announce.test.js
Labels: none

URLExtractor: count+log decode/parse failures instead of swallowing them; JS-accurate atob/decodeURIComponent/unescape (#385)
  Scraping_project/src/stage1/processors/url_extractor.py
  Scraping_project/tests/unit/test_url_extractor_decoding.py
Labels: area/stage1

config: CONFIG_ENV overlays deep-merge config/<name>.yml over config.yml (#788)
  Scraping_project/README.md
  Scraping_project/config/dev.yml.example
  Scraping_project/config/prod.yml.example
  Scraping_project/src/core/config.py
  Scraping_project/src/settings.py
  Scraping_project/tests/unit/test_config_overlay.py
Labels: none

docs: real entrypoint in CONFIG_ENV example (#788)
  Scraping_project/README.md
  Scraping_project/config/dev.yml.example
Labels: none

Scout: skip zero-byte/blank-shell responses before URL extraction; empty_body skip metric (#199)
  Scraping_project/src/stage1/scout_spider.py
  Scraping_project/tests/unit/test_scout_empty_body.py
Labels: area/stage1

settings: one crawl-concurrency knob per profile; duplicates warn and lose (#787)
  Scraping_project/README.md
  Scraping_project/config.yml
  Scraping_project/src/settings.py
  Scraping_project/tests/unit/test_crawl_concurrency_knob.py
Labels: none

Stage 2: quality thresholds from config.yml stage2.* / STAGE2_* env, logged at start (#329)
  Scraping_project/config.yml
  Scraping_project/src/core/config.py
  Scraping_project/src/stage2/intelligent_analyzer.py
  Scraping_project/src/stage2/stage2_worker.py
  Scraping_project/tests/unit/core/test_stage2_thresholds.py
Labels: area/stage2

ZSC service: manual offset commit after broker ack; replay on sink failure; poison cut-off (#252)
  Scraping_project/src/ml_service.py
  Scraping_project/tests/unit/test_ml_service_commit.py
Labels: none

Pipeline contract: authoritative hop table, startup drift check, Stage 4 legacy path fixed (#948)
  Scraping_project/README.md
  Scraping_project/config.yml
  Scraping_project/monitoring/metrics_exporter.py
  Scraping_project/src/core/constants.py
  Scraping_project/src/core/pipeline_contract.py
  Scraping_project/src/orchestrator/pipeline_orchestrator.py
  Scraping_project/src/stage2/stage2_worker.py
  Scraping_project/src/stage3/stage3_worker.py
  Scraping_project/src/stage4/large_doc_processor.py
  Scraping_project/src/stage4/stage4_worker.py
  Scraping_project/tests/unit/monitoring/test_metrics_exporter.py
  Scraping_project/tests/unit/test_pipeline_contract.py
Labels: area/stage2, area/stage3, area/nlp

start.py local mode waits on and prints only services docker-compose.yml defines (#399); --stage is k8s-only, Stage 4 not in Helm documented (#492) (#1203)
  README.md
  Scraping_project/start.py
  Scraping_project/tests/unit/test_start_local_services.py
Labels: none

Lock pre-commit for make install-dev and point the hook at Scraping_project config (#358); example config points at config.yml (#467) (#1211)
  Scraping_project/Makefile
  Scraping_project/config/entity_summarization.example.yml
  Scraping_project/dev-requirements.in
  Scraping_project/dev-requirements.txt
  Scraping_project/tests/unit/test_dev_setup.py
Labels: none

Stage 1: obey robots.txt by default, count refusals, honour Crawl-delay (capped) (#186, #188)
  Scraping_project/README.md
  Scraping_project/src/settings.py
  Scraping_project/src/stage1/middlewares/robots_middleware.py
  Scraping_project/src/stage1/middlewares/spider_config.py
  Scraping_project/tests/unit/stage1/test_robots_policy.py
Labels: area/stage1

dashboard: forced-colors / high-contrast support (#982)
  Scraping_project/dashboard/A11Y_CHECKLIST.md
  Scraping_project/dashboard/index.html
  Scraping_project/dashboard/tests/forced-colors.test.js
Labels: none
