Repository BenjaminSRussell/Scrapy, changes with the labels that .github/labeler.yml gives for each.
All labels: area/stage1, area/stage2, area/stage3, area/common, area/integration, area/nlp, area/ci

Stage 1: honour Retry-After on 429/503 via slot delay, capped and restored (#188)
  Scraping_project/README.md
  Scraping_project/src/settings.py
  Scraping_project/src/stage1/middlewares/retry_after_middleware.py
  Scraping_project/src/stage1/middlewares/spider_config.py
  Scraping_project/tests/unit/stage1/test_retry_after.py
Labels: area/stage1

test: rule matcher no longer swallows the selector's own brace (#982)
  Scraping_project/dashboard/tests/forced-colors.test.js
Labels: none

Alerts read only metrics something emits: StatsD mappings for the exporter, real ingestor names, batch write timer, catalog test (#178) (#1215)
  Scraping_project/README.md
  Scraping_project/k8s/helm/scraping-pipeline/files/monitoring/alerting_rules.yml
  Scraping_project/k8s/helm/scraping-pipeline/files/monitoring/recording_rules.yml
  Scraping_project/k8s/helm/scraping-pipeline/files/monitoring/statsd_mapping.yml
  Scraping_project/kafka-delta-ingest/src/main.rs
  Scraping_project/monitoring/alerting_rules.yml
  Scraping_project/monitoring/alerts.yml
  Scraping_project/monitoring/prometheus.yml
  Scraping_project/monitoring/recording_rules.yml
  Scraping_project/tests/unit/monitoring/alert_rules_promtool_test.yml
  Scraping_project/tests/unit/monitoring/test_alert_metric_catalog.py
  Scraping_project/tests/unit/monitoring/test_prometheus_config.py
  Scraping_project/tests/unit/test_ingest_write_failure_alert.py
Labels: none

Merge main (#1215); mirror DeltaUndomainableRows into the Helm alert rules (kept identical)
  Scraping_project/k8s/helm/scraping-pipeline/files/monitoring/alerting_rules.yml
Labels: none

ASR: never leak temp media files; cap download size; cleanup metrics (#468)
  Scraping_project/src/common/async_asr_processor.py
  Scraping_project/tests/unit/test_asr_temp_cleanup.py
Labels: area/common

repair_unknown_domains: abort before deleting the unknown partition if the quarantine write fails (#458)
  Scraping_project/src/lakehouse/lakehouse_manager.py
  Scraping_project/tests/unit/test_domain_quarantine.py
Labels: none

src.common shim: fail loudly on a broken re-export instead of a hidden ImportWarning (#368) (#1223)
  Scraping_project/src/common/__init__.py
  Scraping_project/tests/unit/test_common_shim.py
Labels: area/common

GrafanaSummaryPipeline: fail soft on export/sampling/close errors; summary_skipped stat + metric (#462)
  Scraping_project/src/pipelines.py
  Scraping_project/src/scrapy_prometheus.py
  Scraping_project/tests/unit/test_summary_pipeline_fail_soft.py
Labels: none

docs(kdi): README describes required install, not a past machine state (#577)
  Scraping_project/kafka-delta-ingest/README.md
  Scraping_project/kafka-delta-ingest/src/main.rs
Labels: none

Pipelines: bounded (rows/bytes/age) Delta batches with timer flush for queue + offsite; honest saved/unwritten accounting (#424, #425)
  Scraping_project/src/pipelines.py
  Scraping_project/tests/unit/test_pipeline_batch_bounds.py
Labels: none

Scout: blank-shell heuristic applies only to HTML; non-HTML text bodies go to the extractors (#199)
  Scraping_project/src/stage1/scout_spider.py
  Scraping_project/tests/unit/test_scout_empty_body.py
Labels: area/stage1

Rate limits: 30s AutoThrottle max-delay floor, per-host target <= per-domain cap, exponential backoff on 429/503 without Retry-After, waits survive AutoThrottle (#194)
  Scraping_project/README.md
  Scraping_project/config.yml
  Scraping_project/src/settings.py
  Scraping_project/src/stage1/middlewares/retry_after_middleware.py
  Scraping_project/src/stage1/middlewares/spider_config.py
  Scraping_project/tests/unit/stage1/test_rate_limit_defaults.py
  Scraping_project/tests/unit/stage1/test_retry_after.py
Labels: area/stage1

lint: unused import; typed spider name (#194)
  Scraping_project/src/settings.py
  Scraping_project/src/stage1/middlewares/retry_after_middleware.py
Labels: area/stage1

Ops scripts only touch services/volumes docker-compose.yml defines (#324 #326 #383 #403) (#1201)
  Scraping_project/diagnose.sh
  Scraping_project/run_all_tests.sh
  Scraping_project/scripts/README.md
  Scraping_project/scripts/complete_reset.sh
  Scraping_project/scripts/compose_lib.sh
  Scraping_project/scripts/diagnose_issues.sh
  Scraping_project/shutdown.py
  Scraping_project/tests/unit/test_compose_script_parity.py
Labels: none

Redis: volatile-lru so seen sets/queues are never LRU-evicted, ERROR on allkeys-* servers, memory alert at 80%, key strategy docs (#161) (#1225)
  Scraping_project/README.md
  Scraping_project/docker-compose.yml
  Scraping_project/k8s/deployment.yaml
  Scraping_project/k8s/helm/scraping-pipeline/files/monitoring/alerting_rules.yml
  Scraping_project/k8s/helm/scraping-pipeline/values.yaml
  Scraping_project/monitoring/alerting_rules.yml
  Scraping_project/src/utils/redis.py
  Scraping_project/tests/unit/test_redis_eviction_policy.py
Labels: none

Destructive lake ops: dry-run default, dual confirmation, prod break-glass, audit, recovery (#522, #576)
  .gitignore
  Scraping_project/Makefile
  Scraping_project/cli.py
  Scraping_project/drain_lake.py
  Scraping_project/scripts/README.md
  Scraping_project/scripts/complete_reset.sh
  Scraping_project/scripts/reset_lake.py
  Scraping_project/src/utils/destructive_guard.py
  Scraping_project/src/utils/lake_inventory.py
  Scraping_project/tests/unit/test_destructive_guard.py
  Scraping_project/tests/unit/test_ops_scripts_import.py
Labels: none

Grafana: provision datasources + the documented scraping-pipeline-health dashboard in compose and Helm; dashboard metrics checked against real producers (#157)
  Scraping_project/docker-compose.yml
  Scraping_project/k8s/helm/scraping-pipeline/templates/grafana-deployment.yaml
  Scraping_project/monitoring/dashboards/README.md
  Scraping_project/monitoring/dashboards/scraping_pipeline_health.json
  Scraping_project/monitoring/grafana/dashboards/README.md
  Scraping_project/monitoring/grafana_dashboards.yml
  Scraping_project/monitoring/grafana_datasource.yml
  Scraping_project/tests/observability/test_grafana_dashboards_offline.py
  Scraping_project/tests/unit/monitoring/test_alert_metric_catalog.py
  Scraping_project/tests/unit/monitoring/test_grafana_config.py
  Scraping_project/tests/unit/monitoring/test_grafana_provisioning.py
Labels: none

Track the Helm chart's dashboard copies (*.json was gitignored, which is how the chart's unified_dashboard.json never existed) (#157)
  .gitignore
  Scraping_project/k8s/helm/scraping-pipeline/files/monitoring/dashboards/scraping_pipeline_health.json
  Scraping_project/k8s/helm/scraping-pipeline/files/monitoring/dashboards/unified_dashboard.json
Labels: none

Contributor DX: CONTRIBUTING.md (#335), drop ci.yml.bak (#355), editorconfig sections (#356), relative lockfile headers + make lock (#397), temp_scripts marked unsupported (#398) (#1219)
  .github/workflows/ci.yml.bak
  CONTRIBUTING.md
  Scraping_project/.editorconfig
  Scraping_project/Makefile
  Scraping_project/dev-requirements.txt
  Scraping_project/temp_scripts/README.md
  Scraping_project/tests/unit/test_contributor_dx.py
  temp_scripts/README.md
Labels: area/ci

Dashboard: labelled Prometheus series aggregate under the bare name (#365); per-minute rates from real elapsed time and no hard-coded localhost metrics URL (#141) (#1216)
  Scraping_project/dashboard/README.md
  Scraping_project/dashboard/app.js
  Scraping_project/dashboard/format-utils.js
  Scraping_project/dashboard/index.html
  Scraping_project/dashboard/serve.py
  Scraping_project/dashboard/tests/format-utils.test.js
Labels: none

SmartCache: JSON round-trip + pickle-payload regression tests (#472) (#1232)
  Scraping_project/tests/unit/test_cache_serialization.py
Labels: none

with_retry: implement sync path sharing the async backoff/circuit-breaker policy; fix RateLimitError(retry_after=None) crash (#212) (#1233)
  Scraping_project/src/utils/retry.py
  Scraping_project/tests/unit/test_with_retry_sync.py
Labels: none

URLExtractor: count+log decode/parse failures instead of swallowing them; JS-accurate atob/decodeURIComponent/unescape (#385) (#1239)
  Scraping_project/src/stage1/processors/url_extractor.py
  Scraping_project/tests/unit/test_url_extractor_decoding.py
Labels: area/stage1

Scout: skip zero-byte/blank-shell responses before URL extraction; empty_body skip metric (#199) (#1240)
  Scraping_project/src/stage1/scout_spider.py
  Scraping_project/tests/unit/test_scout_empty_body.py
Labels: area/stage1

Lake writes under ENOSPC/EACCES: failure-injection tests + three loss paths fixed (#661)
  Scraping_project/k8s/helm/scraping-pipeline/files/monitoring/alerting_rules.yml
  Scraping_project/monitoring/alerting_rules.yml
  Scraping_project/src/lakehouse/lakehouse_manager.py
  Scraping_project/tests/unit/monitoring/alert_rules_promtool_test.yml
  Scraping_project/tests/unit/test_lake_write_storage_failures.py
Labels: none

Delta: get_delta() delegates to the LakehouseManager singleton - one writer per lake (#359)
  Scraping_project/src/lakehouse/lakehouse_manager.py
  Scraping_project/src/utils/delta.py
  Scraping_project/tests/unit/test_single_lake_writer.py
Labels: none

Release images: real crawler/metrics/kafka-delta-ingest targets, CD smoke-tests on PRs (#449); observability compose overlay (#476) (#1208)
  .github/workflows/cd-release.yml
  MONITORING.md
  Scraping_project/.dockerignore
  Scraping_project/Dockerfile
  Scraping_project/README.md
  Scraping_project/docker-compose.observability.yml
  Scraping_project/k8s/helm/scraping-pipeline/templates/kafka-delta-ingestor-deployment.yaml
  Scraping_project/monitoring/loki-config.yml
  Scraping_project/monitoring/otel-collector-config.yml
  Scraping_project/src/otel_tracing.py
  Scraping_project/tests/unit/test_release_images.py
Labels: area/ci

Sitemap walk: depth/URL/fetch/byte caps, gzip-bomb guard, Content-Encoding fix, metrics (#206)
  Scraping_project/config.yml
  Scraping_project/src/stage1/sitemap_parser.py
  Scraping_project/tests/unit/stage1/test_sitemap_bounded_walk.py
Labels: area/stage1

Stage 1 JS queue: only real JS shells, opt-in; JS spider status via MERGE (no overwrite); fix stage1 config path (#645)
  Scraping_project/config.yml
  Scraping_project/src/lakehouse/lakehouse_manager.py
  Scraping_project/src/orchestrator/pipeline_orchestrator.py
  Scraping_project/src/stage1/experimental/js_spider.py
  Scraping_project/src/stage1/scout_spider.py
  Scraping_project/tests/unit/stage1/test_js_spider_page_release.py
  Scraping_project/tests/unit/test_js_queue_645.py
Labels: area/stage1

Stage 2: quality thresholds from config.yml stage2.* / STAGE2_* env, logged at start (#329) (#1241)
  Scraping_project/config.yml
  Scraping_project/src/core/config.py
  Scraping_project/src/stage2/intelligent_analyzer.py
  Scraping_project/src/stage2/stage2_worker.py
  Scraping_project/tests/unit/core/test_stage2_thresholds.py
Labels: area/stage2

ZSC service: manual offset commit after broker ack; replay on sink failure; poison cut-off (#252) (#1242)
  Scraping_project/src/ml_service.py
  Scraping_project/tests/unit/test_ml_service_commit.py
Labels: none

ASR: never leak temp media files; cap download size; cleanup metrics (#468) (#1244)
  Scraping_project/src/common/async_asr_processor.py
  Scraping_project/tests/unit/test_asr_temp_cleanup.py
Labels: area/common

#661: DeltaWriteDataLoss for: 1m (>= scrape interval); patch deltalake.write_deltalake by path (survives sys.modules reset in tests/delta)
  Scraping_project/k8s/helm/scraping-pipeline/files/monitoring/alerting_rules.yml
  Scraping_project/monitoring/alerting_rules.yml
  Scraping_project/tests/unit/monitoring/alert_rules_promtool_test.yml
  Scraping_project/tests/unit/test_lake_write_storage_failures.py
Labels: none

Control Center: activity rows built with DOM APIs, no innerHTML (#906); CSP report-only + note in serve.py; rejected ?metrics= surfaced as config error (#910)
  Scraping_project/dashboard/README.md
  Scraping_project/dashboard/app.js
  Scraping_project/dashboard/format-utils.js
  Scraping_project/dashboard/serve.py
  Scraping_project/dashboard/tests/format-utils.test.js
Labels: none

Stage 4 chunking: validate overlap (fail fast), guaranteed forward progress, adjacency-only overlap, read stage4.chunk_size/chunk_overlap (#738)
  Scraping_project/config.yml
  Scraping_project/src/stage4/large_doc_processor.py
  Scraping_project/tests/unit/stage4/test_chunk_overlap_738.py
Labels: none

Bash strict mode standard (#822): set -euo pipefail for state-changing scripts/entrypoints, -uo for diagnostics; fix compose_has SIGPIPE false-negative and pipefail/set -u pitfalls; enforced by test
  Scraping_project/access_grafana.sh
  Scraping_project/diagnose.sh
  Scraping_project/docker/entrypoints/crawler-entrypoint.sh
  Scraping_project/docker/entrypoints/kafka-delta-ingest-entrypoint.sh
  Scraping_project/docker/entrypoints/metrics-exporter-entrypoint.sh
  Scraping_project/rebuild_env.sh
  Scraping_project/scripts/README.md
  Scraping_project/scripts/compose_lib.sh
  Scraping_project/scripts/diagnose_issues.sh
  Scraping_project/scripts/k8s_reset_and_deploy.sh
  Scraping_project/scripts/reset_grafana_complete.sh
  Scraping_project/tests/unit/test_shell_strict_mode.py
Labels: none

Tests: quarantine load tests from PR CI + make test-perf (#287); discoverable Stage 2 unit suite selectable with -m unit (#218); accurate tests/README (#348) (#1220)
  Scraping_project/Makefile
  Scraping_project/tests/README.md
  Scraping_project/tests/performance/test_load_stress.py
  Scraping_project/tests/performance/test_performance.py
  Scraping_project/tests/unit/stage2/conftest.py
  Scraping_project/tests/unit/stage2/test_stage2_batch_paths.py
  Scraping_project/tests/unit/stage2/test_stage2_queue_merge.py
  Scraping_project/tests/unit/test_marker_policy.py
Labels: none

GrafanaSummaryPipeline: fail soft on export/sampling/close errors; summary_skipped stat + metric (#462) (#1245)
  Scraping_project/src/pipelines.py
  Scraping_project/src/scrapy_prometheus.py
  Scraping_project/tests/unit/test_summary_pipeline_fail_soft.py
Labels: none

DLQ: dead-letter undeliverable Kafka messages; ops CLI list/stats/show/replay/resolve with stage2 requeue (#162)
  Scraping_project/src/pipelines.py
  Scraping_project/src/utils/dead_letter_queue.py
  Scraping_project/tests/unit/test_dlq_kafka_and_ops_cli.py
Labels: none

Seeds: domain URL side table driven by config/profile; exact-or-subdomain match; drop hard-coded write_uconn_urls (#317)
  Scraping_project/config.yml
  Scraping_project/src/lakehouse/seed_manager.py
  Scraping_project/src/stage1/experimental/depth_spider.py
  Scraping_project/src/stage1/experimental/js_spider.py
  Scraping_project/src/stage1/scout_spider.py
  Scraping_project/tests/unit/test_seed_domain_urls.py
  Scraping_project/tests/unit/test_seed_manager.py
Labels: area/stage1

.github/labeler.yml:

area/stage1:
  - "Scraping_project/src/stage1/**"
area/stage2:
  - "Scraping_project/src/stage2/**"
area/stage3:
  - "Scraping_project/src/stage3/**"
area/common:
  - "Scraping_project/src/common/**"
area/integration:
  - "Scraping_project/tests/integration/**"
area/nlp:
  - "Scraping_project/src/common/nlp.py"
  - "Scraping_project/src/stage3/**"
area/ci:
  - ".github/**"
