Repository BenjaminSRussell/Scrapy, changes with the labels that .github/labeler.yml gives for each.
All labels: area/stage1, area/stage2, area/stage3, area/common, area/integration, area/nlp, area/ci

Stage 2: in-request HTTP retries with backoff/jitter, fail-fast 4xx, per-host circuit breaker (#158) (#1228)
  Scraping_project/README.md
  Scraping_project/src/stage2/stage2_worker.py
  Scraping_project/tests/unit/stage2/test_stage2_http_retry.py
Labels: area/stage2

Delta: get_delta() delegates to the LakehouseManager singleton - one writer per lake (#359) (#1247)
  Scraping_project/src/lakehouse/lakehouse_manager.py
  Scraping_project/src/utils/delta.py
  Scraping_project/tests/unit/test_single_lake_writer.py
Labels: none

Delta: shared get_delta() helper keeps an explicitly injected manager (#359 follow-up)
  Scraping_project/src/utils/delta.py
  Scraping_project/tests/unit/test_single_lake_writer.py
Labels: none

Stage 2: configurable per-host concurrency cap acquired before the global slot; connector per-host limit matches (#195)
  Scraping_project/config.yml
  Scraping_project/src/stage2/stage2_worker.py
  Scraping_project/tests/unit/stage2/test_stage2_per_host_cap.py
  Scraping_project/tests/unit/stage2/test_stage2_shared_session.py
Labels: area/stage2

Observability test: docker compose without sudo, skip cleanly when Docker unreachable (#567) (#1202)
  Scraping_project/tests/observability/test_alert_intervals.py
  Scraping_project/tests/unit/test_no_sudo_in_tests.py
Labels: none

Kafka: key messages by url_hash (#285); enforceable idempotent producer + delivery-semantics docs (#464) (#1236)
  Scraping_project/README.md
  Scraping_project/config.yml
  Scraping_project/k8s/helm/scraping-pipeline/templates/application-configmap.yaml
  Scraping_project/src/pipelines.py
  Scraping_project/src/settings.py
  Scraping_project/src/utils/kafka_config.py
  Scraping_project/tests/unit/test_kafka_durability.py
  Scraping_project/tests/unit/test_kafka_message_key.py
Labels: none

Grafana: provision scraping-pipeline-health dashboard + datasources in compose and Helm (#157) (#1249)
  .gitignore
  Scraping_project/docker-compose.yml
  Scraping_project/k8s/helm/scraping-pipeline/files/monitoring/dashboards/scraping_pipeline_health.json
  Scraping_project/k8s/helm/scraping-pipeline/files/monitoring/dashboards/unified_dashboard.json
  Scraping_project/k8s/helm/scraping-pipeline/templates/grafana-deployment.yaml
  Scraping_project/monitoring/dashboards/README.md
  Scraping_project/monitoring/dashboards/scraping_pipeline_health.json
  Scraping_project/monitoring/grafana/dashboards/README.md
  Scraping_project/monitoring/grafana_dashboards.yml
  Scraping_project/monitoring/grafana_datasource.yml
  Scraping_project/tests/observability/test_grafana_dashboards_offline.py
  Scraping_project/tests/unit/monitoring/test_alert_metric_catalog.py
  Scraping_project/tests/unit/monitoring/test_grafana_config.py
  Scraping_project/tests/unit/monitoring/test_grafana_provisioning.py
Labels: none

Delta: shared get_delta() helper keeps an explicitly injected manager (#359 follow-up) (#1250)
  Scraping_project/src/utils/delta.py
  Scraping_project/tests/unit/test_single_lake_writer.py
Labels: none

feat(lakehouse): TTL GC for completed/failed stage queue rows (#754)
  Scraping_project/.coverage.grok-bot-vm-298969014.98872.XHQqfcJx
  Scraping_project/.coverage.grok-bot-vm-298969014.98878.XhgHmuQx
  Scraping_project/cli.py
  Scraping_project/config.yml
  Scraping_project/src/lakehouse/lakehouse_manager.py
  Scraping_project/tests/unit/test_queue_gc_754.py
Labels: none

Docs: work-from-Scraping_project callout on every command block; README tree matches disk; scrapy name -> module table (#334, #489)
  README.md
  Scraping_project/README.md
  Scraping_project/tests/unit/test_readme_layout.py
Labels: none

fix(worker-metrics): mark intentional all-interface bind for bandit (B104)
  Scraping_project/src/utils/worker_metrics.py
Labels: none

Kafka: declare validation_failures with retention/partitions, provision topics at deploy, settings read kafka.topics (#410) (#1221)
  Scraping_project/README.md
  Scraping_project/config.yml
  Scraping_project/k8s/helm/scraping-pipeline/templates/kafka-topics-job.yaml
  Scraping_project/k8s/helm/scraping-pipeline/templates/networkpolicy.yaml
  Scraping_project/k8s/helm/scraping-pipeline/values.yaml
  Scraping_project/src/settings.py
  Scraping_project/src/utils/kafka_topics.py
  Scraping_project/tests/unit/test_kafka_topics_contract.py
Labels: none

DLQ: dead-letter undeliverable Kafka messages; ops CLI list/stats/show/replay/resolve with stage2 requeue (#162) (#1251)
  Scraping_project/src/pipelines.py
  Scraping_project/src/utils/dead_letter_queue.py
  Scraping_project/tests/unit/test_dlq_kafka_and_ops_cli.py
Labels: none

Stage 1: discovery heuristics switchable from config (stage1.discovery_heuristics); scout reads stage1.* flags it used to miss; per-heuristic yield metric (#27)
  Scraping_project/config.yml
  Scraping_project/src/stage1/processors/url_extractor.py
  Scraping_project/src/stage1/scout_spider.py
  Scraping_project/tests/unit/stage1/test_discovery_heuristics_config.py
Labels: area/stage1

test(dashboard): charts-fallback sandbox exposes format-utils globals like the browser (#983)
  Scraping_project/dashboard/tests/charts-fallback.test.js
Labels: none

Scout: opt-in hidden_urls heuristic (stage1.extract_hidden_urls) runs HiddenURLExtractor in the parse path; fix API/JS patterns that collapsed endpoints to /api (#481)
  Scraping_project/config.yml
  Scraping_project/src/stage1/processors/hidden_url_extractor.py
  Scraping_project/src/stage1/processors/url_extractor.py
  Scraping_project/tests/unit/stage1/test_hidden_urls_in_scout.py
Labels: area/stage1

Compose Prometheus scrapes only what compose runs: scraper:9410 + redis/postgres exporters, no phantom Alertmanagers/Kafka/statsd; mount rule files; literal replica label (#371)
  Scraping_project/docker-compose.yml
  Scraping_project/monitoring/prometheus.yml
  Scraping_project/scripts/README.md
  Scraping_project/tests/unit/monitoring/test_alert_metric_catalog.py
  Scraping_project/tests/unit/monitoring/test_prometheus_config.py
Labels: none

fix(scout): empty bodies keep #199 empty_body accounting after content-policy check
  Scraping_project/src/stage1/scout_spider.py
Labels: area/stage1

URL regex: no bare-host relative joins, emails, partial hosts or trailing punctuation; keep ~ and , in paths (#25)
  Scraping_project/src/stage1/processors/url_extractor.py
  Scraping_project/tests/unit/stage1/test_base_spider.py
  Scraping_project/tests/unit/stage1/test_url_regex_precision.py
Labels: area/stage1

Scout adapts to noisy sections: stop following trap/low-confidence links and cap the rest once a section is mostly noise (#26)
  Scraping_project/config.yml
  Scraping_project/src/stage1/scout_spider.py
  Scraping_project/src/stage1/section_noise.py
  Scraping_project/tests/unit/stage1/test_section_noise.py
Labels: area/stage1

Docs: work-from-Scraping_project callout on every command block; README tree matches disk; scrapy name -> module table (#334, #489) (#1257)
  README.md
  Scraping_project/README.md
  Scraping_project/tests/unit/test_readme_layout.py
Labels: none

chore: drop stray coverage data files committed by mistake
  Scraping_project/.coverage.grok-bot-vm-298969014.98872.XHQqfcJx
  Scraping_project/.coverage.grok-bot-vm-298969014.98878.XhgHmuQx
Labels: none

Delta: set logRetentionDuration/deletedFileRetentionDuration from config on create and sync; vacuum defaults to table retention (#493)
  Scraping_project/config.yml
  Scraping_project/scripts/vacuum_delta_tables.py
  Scraping_project/src/lakehouse/lakehouse_manager.py
  Scraping_project/src/lakehouse/table_properties.py
  Scraping_project/tests/unit/test_delta_retention_properties.py
Labels: none

Stage 2: stage2_queue_empty/pending gauges and read-failure counter; starved-vs-idle and unreadable-queue alerts (#220)
  Scraping_project/k8s/helm/scraping-pipeline/files/monitoring/alerting_rules.yml
  Scraping_project/monitoring/alerting_rules.yml
  Scraping_project/src/stage2/stage2_worker.py
  Scraping_project/src/utils/delta.py
  Scraping_project/tests/unit/monitoring/alert_rules_promtool_test.yml
  Scraping_project/tests/unit/stage2/test_stage2_queue_state_metrics.py
Labels: area/stage2

Seeds: domain URL side table driven by config/profile; exact-or-subdomain match; drop hard-coded write_uconn_urls (#317) (#1252)
  Scraping_project/config.yml
  Scraping_project/src/lakehouse/seed_manager.py
  Scraping_project/src/stage1/experimental/depth_spider.py
  Scraping_project/src/stage1/experimental/js_spider.py
  Scraping_project/src/stage1/scout_spider.py
  Scraping_project/tests/unit/test_seed_domain_urls.py
  Scraping_project/tests/unit/test_seed_manager.py
Labels: area/stage1

Redis: one env contract (REDIS_HOST/PORT/PASSWORD/DB) for Python, Rust ingest and Helm (#511)
  Scraping_project/.env.example
  Scraping_project/README.md
  Scraping_project/k8s/helm/scraping-pipeline/templates/application-configmap.yaml
  Scraping_project/k8s/helm/scraping-pipeline/templates/kafka-delta-ingestor-deployment.yaml
  Scraping_project/kafka-delta-ingest/src/main.rs
  Scraping_project/monitoring/metrics_exporter.py
  Scraping_project/scripts/README.md
  Scraping_project/src/core/config.py
  Scraping_project/src/utils/probe.py
  Scraping_project/src/utils/redis.py
  Scraping_project/src/utils/redis_env.py
  Scraping_project/tests/unit/test_redis_env_contract_511.py
Labels: none

SSRF guard for Stage 2 and ASR media fetches: block private/loopback/link-local/metadata targets, redirects and DNS answers (#450)
  Scraping_project/src/common/async_asr_processor.py
  Scraping_project/src/stage2/stage2_worker.py
  Scraping_project/src/utils/url_safety.py
  Scraping_project/tests/unit/stage2/test_stage2_http_retry.py
  Scraping_project/tests/unit/stage2/test_stage2_shared_session.py
  Scraping_project/tests/unit/test_asr_temp_cleanup.py
  Scraping_project/tests/unit/test_soft_ban.py
  Scraping_project/tests/unit/test_url_safety_ssrf.py
Labels: area/stage2, area/common

style(kdi): rustfmt the #511 helper and test
  Scraping_project/kafka-delta-ingest/src/main.rs
Labels: none

Bronze contract: require only url/scraped_at_utc/spider_name (shared with Rust); keep dateless pages (#227, #302) (#1234)
  Scraping_project/README.md
  Scraping_project/src/pipelines.py
  Scraping_project/src/schemas.py
  Scraping_project/tests/integration/test_high_integrity_pipeline.py
  Scraping_project/tests/unit/test_bronze_schema_contract.py
Labels: area/integration

Compose Prometheus scrapes only what compose runs: scraper:9410 + redis/postgres exporters, no phantom Alertmanagers/Kafka/statsd; mount rule files; literal replica label (#371) (#1260)
  Scraping_project/docker-compose.yml
  Scraping_project/monitoring/prometheus.yml
  Scraping_project/scripts/README.md
  Scraping_project/tests/unit/monitoring/test_alert_metric_catalog.py
  Scraping_project/tests/unit/monitoring/test_prometheus_config.py
Labels: none

Route off-domain hidden URLs to offsite candidates and export per-category hidden-URL metrics (#388, #392)
  Scraping_project/src/scrapy_prometheus.py
  Scraping_project/src/stage1/experimental/deep_dive_spider.py
  Scraping_project/src/stage1/processors/hidden_url_extractor.py
  Scraping_project/tests/unit/stage1/test_hidden_urls_offsite_and_metrics.py
Labels: area/stage1

Stage 2: configurable per-host concurrency cap acquired before the global slot; connector per-host limit matches (#195) (#1253)
  Scraping_project/config.yml
  Scraping_project/src/stage2/stage2_worker.py
  Scraping_project/tests/unit/stage2/test_stage2_per_host_cap.py
  Scraping_project/tests/unit/stage2/test_stage2_shared_session.py
Labels: area/stage2

ASR: provider defaults to none; Google Web Speech only with explicit ASR_PROVIDER=google, local whisper option (#429)
  Scraping_project/src/common/async_asr_processor.py
  Scraping_project/src/settings.py
  Scraping_project/tests/unit/test_asr_provider_opt_in.py
  Scraping_project/tests/unit/test_asr_temp_cleanup.py
Labels: area/common

prometheus: drop statsd job too (compose runs no statsd-exporter; matches main)
  Scraping_project/monitoring/prometheus.yml
Labels: none

ASRPipeline: register only when ASR_ENABLED; default crawl never imports speech_recognition (#470)
  Scraping_project/src/common/async_asr_processor.py
  Scraping_project/src/settings.py
  Scraping_project/tests/unit/test_asr_provider_opt_in.py
Labels: area/common

dashboard: fetch timeout/abort, pause when hidden, interval picker, 1-5/R shortcuts, remembered tab, 44px touch targets
  Scraping_project/dashboard/app.js
  Scraping_project/dashboard/format-utils.js
  Scraping_project/dashboard/index.html
  Scraping_project/dashboard/tests/refresh-nav.test.js
Labels: none

HTTP cache disk quota: prune oldest entries over HTTPCACHE_MAX_BYTES, export cache size; filesystem storage default (#496)
  Scraping_project/src/settings.py
  Scraping_project/src/stage1/extensions/__init__.py
  Scraping_project/src/stage1/extensions/httpcache_quota.py
  Scraping_project/tests/unit/stage1/test_httpcache_quota.py
Labels: area/stage1

Retention batch: per-table vacuum tiers + preview, file-DLQ cleanup, offsite review workflow (#602, #632, #878)
  Scraping_project/README.md
  Scraping_project/cli.py
  Scraping_project/config.yml
  Scraping_project/src/lakehouse/lakehouse_manager.py
  Scraping_project/src/lakehouse/offsite_review.py
  Scraping_project/tests/unit/test_retention_batch_602_632_878.py
Labels: none

Stage 4: push is_massive_doc filter into the Delta scan, url-only summary read, fallback toggle and metrics (#318)
  Scraping_project/src/stage4/stage4_worker.py
  Scraping_project/tests/unit/test_stage4_filtered_analysis_read.py
Labels: none

test: allow loopback fixture hosts in per-host cap test under SSRF guard (#682)
  Scraping_project/tests/unit/stage2/test_stage2_per_host_cap.py
Labels: none

.github/labeler.yml:

area/stage1:
  - "Scraping_project/src/stage1/**"
area/stage2:
  - "Scraping_project/src/stage2/**"
area/stage3:
  - "Scraping_project/src/stage3/**"
area/common:
  - "Scraping_project/src/common/**"
area/integration:
  - "Scraping_project/tests/integration/**"
area/nlp:
  - "Scraping_project/src/common/nlp.py"
  - "Scraping_project/src/stage3/**"
area/ci:
  - ".github/**"
