Repository BenjaminSRussell/Scrapy, changes with the labels that .github/labeler.yml gives for each.
All labels: area/stage1, area/stage2, area/stage3, area/common, area/integration, area/nlp, area/ci

fix: repoint stale src.common.* test imports to their post-migration locations
  Scraping_project/pyproject.toml
  Scraping_project/tests/common/test_delta_concurrency.py
  Scraping_project/tests/common/test_delta_lake.py
  Scraping_project/tests/common/test_delta_lake_dynamic_tables.py
  Scraping_project/tests/common/test_retry_middleware.py
  Scraping_project/tests/component/test_spider_pipeline.py
  Scraping_project/tests/delta/test_lazy_imports_and_exceptions.py
  Scraping_project/tests/integration/common/test_delta_manager_context.py
  Scraping_project/tests/integration/test_metadata_queue.py
  Scraping_project/tests/retry/test_classifier_and_backoff.py
  Scraping_project/tests/unit/common/test_delta_lake.py
  Scraping_project/tests/unit/common/test_delta_manager_context.py
  Scraping_project/tests/unit/common/test_singleton_behavior.py
  Scraping_project/tests/unit/test_retry_middleware.py
  Scraping_project/tests/unit/test_stage2_worker.py
  Scraping_project/tests/unit/test_summarization_boundaries.py
Labels: area/integration

fix: restore Kafka alerting rules, fix broken Redis-dependent code paths
  Scraping_project/monitoring/alerting_rules.yml
  Scraping_project/monitoring/metrics_exporter.py
  Scraping_project/monitoring/recording_rules.yml
  Scraping_project/src/stage1/middlewares/retry_middleware.py
  Scraping_project/src/stage1/scout_spider.py
  Scraping_project/src/utils/redis.py
  Scraping_project/tests/unit/test_scout_spider.py
Labels: area/stage1

fix: consolidate CI workflows, add redis/postgres services, remove dead duplicates
  .github/workflows/python.yml
  Scraping_project/.github/workflows/ci-cd.yml
  Scraping_project/.github/workflows/ci.yml
  Scraping_project/.github/workflows/main.yml
Labels: area/ci

fix: add postgres service and env vars to main.yml test job
  .github/workflows/main.yml
Labels: area/ci

fix: real bugs found via new test fixtures, add missing conftest fixtures
  Scraping_project/src/lakehouse/lakehouse_manager.py
  Scraping_project/src/stage1/experimental/base_spider.py
  Scraping_project/src/stage1/experimental/deep_dive_spider.py
  Scraping_project/src/stage1/experimental/depth_spider.py
  Scraping_project/tests/component/test_spider_pipeline.py
  Scraping_project/tests/conftest.py
  Scraping_project/tests/unit/common/test_delta_lake.py
  Scraping_project/tests/unit/stage1/test_base_spider.py
Labels: area/stage1

fix: complete resource categorization, fix stale test assumptions
  Scraping_project/src/stage1/experimental/base_spider.py
  Scraping_project/tests/unit/common/test_url_processor.py
  Scraping_project/tests/unit/test_base_spider.py
  Scraping_project/tests/unit/test_scout_spider.py
Labels: area/stage1

fix: repoint test_core_functionality.py to current module layout
  Scraping_project/tests/test_core_functionality.py
Labels: none

fix: restore prometheus.yml scrape jobs and grafana_datasource.yml
  Scraping_project/monitoring/grafana_datasource.yml
  Scraping_project/monitoring/prometheus.yml
Labels: none

fix: spider_config import path, missing async_write=False, partition column
  Scraping_project/tests/contract/test_item_schemas.py
  Scraping_project/tests/delta/test_lazy_imports_and_exceptions.py
Labels: none

fix: resolve all previously-flagged dead-API test files
  Scraping_project/src/stage2/stage2_worker.py
  Scraping_project/src/stage3/stage3_worker.py
  Scraping_project/src/utils/postgres.py
  Scraping_project/tests/integration/test_redis_integration.py
  Scraping_project/tests/test_core_functionality.py
  Scraping_project/tests/unit/common/test_config_manager.py
  Scraping_project/tests/unit/common/test_postgres_manager.py
  Scraping_project/tests/unit/common/test_redis_manager.py
  Scraping_project/tests/unit/common/test_storage_manager.py
Labels: area/stage2, area/stage3, area/integration, area/nlp

fix: rewrite test_metrics_exporter.py against current UDP-StatsD design
  Scraping_project/tests/unit/monitoring/test_metrics_exporter.py
Labels: none

fix: add Grafana alerting provisioning, remove dead metrics-exporter probe
  Scraping_project/docker-compose.yml
  Scraping_project/monitoring/alerting/rules.yml
  Scraping_project/tests/observability/test_alert_intervals.py
Labels: none

fix: two real bugs in Stage2Worker's MERGE-based queue status update
  Scraping_project/src/stage2/stage2_worker.py
Labels: area/stage2

fix: add pytest-env and pytest-xdist as declared dev dependencies
  Scraping_project/dev-requirements.in
  Scraping_project/dev-requirements.txt
  Scraping_project/pyproject.toml
Labels: none

fix: real concurrency bug in LakehouseManager, plus test infra bugs
  Scraping_project/src/lakehouse/lakehouse_manager.py
  Scraping_project/src/stage1/experimental/base_spider.py
  Scraping_project/tests/conftest.py
  Scraping_project/tests/performance/test_performance.py
  Scraping_project/tests/unit/common/test_singleton_behavior.py
Labels: area/stage1

fix: rewrite entity_summarization tests around real lazy-import boundaries
  Scraping_project/tests/unit/stage4/test_entity_summarization.py
Labels: none

fix: async_write=False and StorageManager removal in integration tests
  Scraping_project/tests/integration/test_end_to_end.py
  Scraping_project/tests/integration/test_stage1_seed_pipeline.py
Labels: area/integration

fix: isolate test_full_pipeline_integration.py from real project Delta Lake data
  Scraping_project/tests/integration/test_full_pipeline_integration.py
Labels: area/integration

fix: isolate test_load_stress.py from real Delta Lake path, guard Z-order
  Scraping_project/src/lakehouse/lakehouse_manager.py
  Scraping_project/tests/performance/test_load_stress.py
Labels: none

fix: two real bugs surfaced by chasing down a skipped test to a real cause
  Scraping_project/src/lakehouse/lakehouse_manager.py
  Scraping_project/src/pipelines.py
Labels: none

fix: resolve remaining skipped tests - dead import, new module, gitignore bug
  .gitignore
  Scraping_project/monitoring/dashboards/unified_dashboard.json
  Scraping_project/src/common/metrics_manager.py
  Scraping_project/tests/integration/test_scout_limited.py
  Scraping_project/tests/kafka/test_label_consistency.py
Labels: area/common, area/integration

fix: 3 real bugs found chasing a skipped MockRedis test to a real cause
  Scraping_project/src/stage1/experimental/base_spider.py
  Scraping_project/src/stage1/experimental/depth_spider.py
  Scraping_project/src/stage1/scout_spider.py
  Scraping_project/tests/component/test_spider_pipeline.py
  Scraping_project/tests/conftest.py
Labels: area/stage1

Eliminate remaining Postgres/stub skips in test_end_to_end.py; declare pytest-twisted dependency
  Scraping_project/dev-requirements.in
  Scraping_project/dev-requirements.txt
  Scraping_project/docker-compose.yml
  Scraping_project/src/utils/postgres.py
  Scraping_project/tests/conftest.py
  Scraping_project/tests/integration/test_end_to_end.py
Labels: area/integration

Eliminate the final test skip: test_scout_spider_full_crawl now runs a real crawl
  Scraping_project/src/stage1/experimental/base_spider.py
  Scraping_project/src/stage1/sitemap_parser.py
  Scraping_project/tests/conftest.py
  Scraping_project/tests/integration/test_end_to_end.py
Labels: area/stage1, area/integration

Fix the last two hardcoded test skips: wrong class name, not a missing dependency
  Scraping_project/src/stage1/experimental/js_spider.py
  Scraping_project/tests/component/test_spider_pipeline.py
Labels: area/stage1

Fix four production-blocking bugs found by actually running the docker-compose stack
  Scraping_project/config.yml
  Scraping_project/requirements.txt
  Scraping_project/src/utils/delta.py
  Scraping_project/src/utils/redis.py
Labels: none

fix: data gc TTL dry-run/apply for crawl artifacts (Closes #1102)
  Scraping_project/DEPLOYMENT.md
  Scraping_project/cli.py
  Scraping_project/src/common/crawl_artifact_gc.py
  Scraping_project/tests/unit/common/test_crawl_artifact_gc.py
Labels: area/common

feat: seeds list/add/disable CLI with audit log (Closes #1100)
  Scraping_project/DEPLOYMENT.md
  Scraping_project/cli.py
  Scraping_project/src/common/seed_ops.py
  Scraping_project/tests/unit/common/test_seed_ops.py
Labels: area/common

fix(ui): dashboard tab type=button + Chart.js preconnect
  Scraping_project/dashboard/index.html
Labels: none

fix(ui): dashboard tab type=button + Chart.js preconnect (#1108)
  Scraping_project/dashboard/index.html
Labels: none

fix(ui): announce System Health tile state changes
  Scraping_project/dashboard/app.js
  Scraping_project/dashboard/index.html
Labels: none

fix(ui): announce System Health tile state changes (#1109)
  Scraping_project/dashboard/app.js
  Scraping_project/dashboard/index.html
Labels: none

fix(ui): metric ellipsis, throttled refresh aria, Stage4 compression label
  Scraping_project/dashboard/app.js
  Scraping_project/dashboard/index.html
Labels: none

fix(ui): metric ellipsis, throttled refresh aria, Stage4 compression label (#1110)
  Scraping_project/dashboard/app.js
  Scraping_project/dashboard/index.html
Labels: none

fix(ui): dashboard a11y/UX batch — tabs focus, activity list, clear, hover, nums
  Scraping_project/dashboard/app.js
  Scraping_project/dashboard/index.html
Labels: none

fix(ui): dashboard a11y/UX batch — tabs focus, activity list, clear, hover, nums (#1111)
  Scraping_project/dashboard/app.js
  Scraping_project/dashboard/index.html
Labels: none

fix(ui): aria-busy, noscript, never-connected vs disconnected (#1069 #1071 #1072)
  Scraping_project/dashboard/app.js
  Scraping_project/dashboard/index.html
Labels: none

fix(ui): aria-busy, noscript, never-connected vs disconnected (#1069 #1071 #1072) (#1112)
  Scraping_project/dashboard/app.js
  Scraping_project/dashboard/index.html
Labels: none

fix(ui): skip link, chart labels, metric flash, scroll padding (#328 #333 #1070 #1074)
  Scraping_project/dashboard/app.js
  Scraping_project/dashboard/index.html
Labels: none

fix(ui): skip link, chart labels, metric flash, scroll padding (#328 #333 #1070 #1074) (#1113)
  Scraping_project/dashboard/app.js
  Scraping_project/dashboard/index.html
Labels: none

.github/labeler.yml:

area/stage1:
  - "Scraping_project/src/stage1/**"
area/stage2:
  - "Scraping_project/src/stage2/**"
area/stage3:
  - "Scraping_project/src/stage3/**"
area/common:
  - "Scraping_project/src/common/**"
area/integration:
  - "Scraping_project/tests/integration/**"
area/nlp:
  - "Scraping_project/src/common/nlp.py"
  - "Scraping_project/src/stage3/**"
area/ci:
  - ".github/**"
