Repository BenjaminSRussell/Scrapy, changes with the labels that .github/labeler.yml gives for each.
All labels: area/stage1, area/stage2, area/stage3, area/common, area/integration, area/nlp, area/ci

.github/labeler.yml:

area/stage1:
  - "Scraping_project/src/stage1/**"
area/stage2:
  - "Scraping_project/src/stage2/**"
area/stage3:
  - "Scraping_project/src/stage3/**"
area/common:
  - "Scraping_project/src/common/**"
area/integration:
  - "Scraping_project/tests/integration/**"
area/nlp:
  - "Scraping_project/src/common/nlp.py"
  - "Scraping_project/src/stage3/**"
area/ci:
  - ".github/**"

ci(#154): run dashboard XSS/chart.resize regressions in main.yml
  .github/workflows/main.yml
Labels: area/ci

fix(#144): regenerate core requirements.txt via real pip-compile
  Scraping_project/requirements.txt
Labels: none

chore(#142): remove tracked .DS_Store (align main #217)
  .DS_Store
Labels: none

chore(#142): remove tracked coverage.xml (align main #217)
  Scraping_project/coverage.xml
Labels: none

fix(#144): vendor #262 Docker entrypoint shims (src.main + src.workers.*)
  Scraping_project/src/main.py
  Scraping_project/src/workers/__init__.py
  Scraping_project/src/workers/stage1_worker.py
  Scraping_project/src/workers/stage2_worker.py
  Scraping_project/src/workers/stage3_worker.py
  Scraping_project/src/workers/stage4_worker.py
Labels: none

merge(main): sync pyproject/requirements.in + #294 tests for #262
  Scraping_project/pyproject.toml
  Scraping_project/requirements.in
  Scraping_project/tests/unit/common/test_crawl_data_manager.py
Labels: none

fix(#144): sync core lock to clean pip-compile output
  Scraping_project/requirements.txt
Labels: none

fix(#142): add lazy src.main + stage worker entrypoint shims
  Scraping_project/src/main.py
  Scraping_project/src/workers/__init__.py
  Scraping_project/src/workers/stage1_worker.py
  Scraping_project/src/workers/stage2_worker.py
  Scraping_project/src/workers/stage3_worker.py
  Scraping_project/src/workers/stage4_worker.py
  Scraping_project/tests/unit/test_docker_entrypoints.py
Labels: none

fix(#142): drop stage2 container_name with replicas
  Scraping_project/docker-compose.yml
Labels: none

fix(#376,#610): re-export BaseSpider at src.stage1.base_spider
  Scraping_project/src/stage1/base_spider.py
  Scraping_project/tests/unit/stage1/test_experimental_spider_imports.py
Labels: area/stage1

fix(#142): entrypoint-smoke CI + package needs
  .github/workflows/main.yml
Labels: area/ci

fix(#145): require compose secrets, compose DNS in .env.example, CI config + docs
  .github/workflows/ci-compose.yml
  Scraping_project/.env.example
  Scraping_project/COMPOSE.md
  Scraping_project/docker-compose.yml
Labels: area/ci

fix(#142): restore Docker entrypoints (clean branch) batch 3 (requirements.in)
  Scraping_project/requirements.in
Labels: none

fix(144): Stage3 fail-fast uses datasketch/core only; document blocked AC4 image sizes
  Scraping_project/DEPENDENCIES.md
  Scraping_project/docs/OPTIONAL_EXTRAS.md
  Scraping_project/src/utils/optional_deps.py
  Scraping_project/tests/common/test_optional_deps.py
Labels: none

fix(144): Stage3 Docker target uses core; Stage4 stays on ml profile
  Scraping_project/Dockerfile
  Scraping_project/docker-compose.yml
Labels: none

docs(#142): README Redis + one-worker happy-path
  Scraping_project/README.md
Labels: none

deps: allow psutil 7.x in requirements.in
  Scraping_project/requirements.in
Labels: none

feat: wire OpenTelemetry tracing as optional [otel] extra (#146)
  Scraping_project/src/otel_tracing.py
  Scraping_project/tests/unit/test_otel_tracing.py
Labels: none

feat: add [otel] optional extra, MONITORING.md, and .env OTEL notes
  MONITORING.md
  Scraping_project/.env.example
  Scraping_project/pyproject.toml
Labels: none

deps: bump psutil to 7.1.2 in requirements.txt
  Scraping_project/requirements.txt
Labels: none

feat: register OtelItemPipeline and OtelTracingExtension in settings
  Scraping_project/src/settings.py
Labels: none

fix(#142): repair deploy env indentation in CI workflow
  .github/workflows/main.yml
Labels: area/ci

feat: wrap stage3/stage4 workers with OTEL init_tracing/start_span
  Scraping_project/src/stage3/stage3_worker.py
  Scraping_project/src/stage4/stage4_worker.py
Labels: area/stage3, area/nlp

feat: wrap stage2 worker with OTEL init_tracing/start_span
  Scraping_project/src/stage2/stage2_worker.py
Labels: area/stage2

fix(#142): restore README troubleshooting; pin tenacity
  Scraping_project/README.md
  Scraping_project/requirements.txt
Labels: none

deps: bump psutil to 7.1.2 in dev-requirements.txt
  Scraping_project/dev-requirements.txt
Labels: none

fix(#609): align DeltaHelper with LakehouseManager read_table/async_write
  Scraping_project/src/stage2/stage2_worker.py
  Scraping_project/src/utils/delta.py
  Scraping_project/tests/unit/test_delta_helper_api_parity.py
Labels: area/stage2

fix(#607): restore SeedManager (recover from pre-stub history)
  Scraping_project/src/lakehouse/seed_manager.py
  Scraping_project/tests/unit/test_seed_manager.py
Labels: none

deps: bump ruff to 0.14.2
  Scraping_project/dev-requirements.txt
Labels: none

test(#145): live dashboard :8080 curl smoke (AC3)
  .github/workflows/ci-compose.yml
  Scraping_project/COMPOSE.md
Labels: area/ci

deps: widen redis constraint to <8.0 for 7.0.1 bump
  Scraping_project/requirements.in
Labels: none

deps: bump redis to 7.0.1 in requirements.txt
  Scraping_project/requirements.txt
Labels: none

deps: bump redis to 7.0.1 in dev-requirements.txt
  Scraping_project/dev-requirements.txt
Labels: none

fix(deps): align pyproject psutil upper bound with requirements.in (<8.0.0)
  Scraping_project/pyproject.toml
Labels: none

fix(deps): align pyproject redis pin (<8) and fakeredis>=2.32 for redis-py 7
  Scraping_project/pyproject.toml
Labels: none

Bump fakeredis minimum to 2.32.1
  Scraping_project/dev-requirements.in
Labels: none

Bump fakeredis optional dependency to 2.32.1
  Scraping_project/pyproject.toml
Labels: none

Bump fakeredis lock to 2.32.1 for redis-py 7
  Scraping_project/dev-requirements.txt
Labels: none

fix(#607): restore SeedManager (recover from pre-stub history) (#813)
  Scraping_project/src/lakehouse/seed_manager.py
  Scraping_project/tests/unit/test_seed_manager.py
Labels: none

fix(#142): restore Docker entrypoints (clean rebase) (#622)
  .github/workflows/main.yml
  Scraping_project/README.md
  Scraping_project/docker-compose.yml
  Scraping_project/requirements.in
  Scraping_project/requirements.txt
  Scraping_project/src/main.py
  Scraping_project/src/workers/__init__.py
  Scraping_project/src/workers/stage1_worker.py
  Scraping_project/src/workers/stage2_worker.py
  Scraping_project/src/workers/stage3_worker.py
  Scraping_project/src/workers/stage4_worker.py
  Scraping_project/tests/unit/test_docker_entrypoints.py
Labels: area/ci
