Repository BenjaminSRussell/Scrapy, changes with the labels that .github/labeler.yml gives for each.
All labels: area/stage1, area/stage2, area/stage3, area/common, area/integration, area/nlp, area/ci

CUDA
  Scraping_project/.editorconfig
  Scraping_project/.github/workflows/ci.yml
  Scraping_project/data/config/adaptive_depth.json
  Scraping_project/data/feedback/stage2_feedback.json
  Scraping_project/pytest.ini
  Scraping_project/ruff.toml
  Scraping_project/src/common/enhanced_checkpoints.py
  Scraping_project/src/common/nlp.py
  Scraping_project/src/stage1/discovery_spider.py
  Scraping_project/src/stage2/validator.py
  Scraping_project/src/stage3/async_enrichment.py
  Scraping_project/tests/integration/test_full_pipeline.py
  Scraping_project/tests/pipelines/test_stage2_validator.py
  Scraping_project/tests/samples/__init__.py
  Scraping_project/tests/spiders/test_discovery_spider.py
  Scraping_project/tests/stage2/test_validator_networking_regression.py
  data/cache/freshness.db
  data/checkpoints/stage2_validation.checkpoint.json
  data/config/adaptive_depth.json
  data/feedback/stage2_feedback.json
  test_validation_output.jsonl
Labels: area/stage1, area/stage2, area/stage3, area/common, area/integration, area/nlp

Fix DiscoverySpider settings initialization for runtime usage
  .claude/settings.local.json
  Scraping_project/README.md
  Scraping_project/data/config/adaptive_depth.json
  Scraping_project/data/feedback/stage2_feedback.json
  Scraping_project/data/logs/pipeline.log
  Scraping_project/docs/test_plan.md
  Scraping_project/src/common/schemas.py
  Scraping_project/src/common/schemas_validated.py
  Scraping_project/src/stage1/discovery_spider.py
Labels: area/stage1, area/common

Fix runtime issues for Windows and Stage 1 execution
  Scraping_project/README.md
  Scraping_project/config/development.yml
  Scraping_project/data/logs/pipeline.log
  Scraping_project/src/orchestrator/main.py
  Scraping_project/src/stage1/discovery_spider.py
Labels: area/stage1

she's scraping now!
  .claude/settings.local.json
  Scraping_project/FIXES_SUMMARY.md
  Scraping_project/README.md
  Scraping_project/src/orchestrator/main.py
  Scraping_project/src/settings.py
  Scraping_project/test_crawler.py
  check_codeblock.py
  tmp_check_readme.py
Labels: none

new issues when shutting down
  Scraping_project/data/config/adaptive_depth.json
  Scraping_project/data/processed/stage02/validated_urls.jsonl
  Scraping_project/requirements.txt
  Scraping_project/src/common/config_validator.py
  Scraping_project/src/common/schemas_validated.py
  Scraping_project/src/orchestrator/main.py
Labels: area/common

fixed tests and imports
  .claude/settings.local.json
Labels: none

Additional Ruff modernization: UP/B/E fixes
  Scraping_project/data/config/adaptive_depth.json
  Scraping_project/data/feedback/stage2_feedback.json
  Scraping_project/src/common/adaptive_depth.py
  Scraping_project/src/common/config_validator.py
  Scraping_project/src/common/content_analysis.py
  Scraping_project/src/common/content_classification.py
  Scraping_project/src/common/enhanced_checkpoints.py
  Scraping_project/src/common/interstage_validation.py
  Scraping_project/src/common/lineage.py
  Scraping_project/src/common/media_extraction.py
  Scraping_project/src/common/nlp.py
  Scraping_project/src/common/storage.py
  Scraping_project/src/orchestrator/analytics_engine.py
  Scraping_project/src/orchestrator/config.py
  Scraping_project/src/orchestrator/data_refresh.py
  Scraping_project/src/orchestrator/main.py
  Scraping_project/src/orchestrator/orchestrator_validation.py
  Scraping_project/src/orchestrator/pipeline.py
  Scraping_project/src/orchestrator/priority_queue.py
  Scraping_project/src/settings.py
  Scraping_project/src/stage1/discovery_pipeline.py
  Scraping_project/src/stage1/discovery_spider.py
  Scraping_project/src/stage2/enhanced_validator.py
  Scraping_project/src/stage2/validator.py
  Scraping_project/src/stage3/async_enrichment.py
  Scraping_project/src/stage3/enrichment_pipeline.py
  Scraping_project/src/stage3/enrichment_spider.py
  Scraping_project/src/stage3/storage.py
  Scraping_project/tests/common/test_config_validator.py
  Scraping_project/tests/common/test_schemas.py
  Scraping_project/tests/common/test_storage.py
  Scraping_project/tests/integration/test_full_pipeline.py
  Scraping_project/tests/pipelines/test_stage2_validator.py
  Scraping_project/tests/spiders/test_discovery_spider.py
  Scraping_project/tests/stage2/test_validator_networking_regression.py
Labels: area/stage1, area/stage2, area/stage3, area/common, area/integration, area/nlp

ruff fixes
  .claude/settings.local.json
  Scraping_project/data/config/adaptive_depth.json
  Scraping_project/data/logs/pipeline.log
Labels: none

minor fixes to legacy code
  Scraping_project/data/logs/pipeline.log
  Scraping_project/src/common/config_schema.py
  Scraping_project/src/common/config_validator.py
  Scraping_project/src/common/enhanced_browser.py
  Scraping_project/src/common/enhanced_checkpoints.py
  Scraping_project/src/common/headless_browser.py
  Scraping_project/src/common/link_graph.py
  Scraping_project/src/common/nlp.py
  Scraping_project/src/orchestrator/data_refresh.py
  Scraping_project/src/stage3/async_enrichment.py
Labels: area/stage3, area/common, area/nlp

lots of bugs hjave appeared
  Scraping_project/docs/data_warehouse_guide.md
  Scraping_project/run.bat
  Scraping_project/src/orchestrator/main.py
  Scraping_project/src/stage1/stage1_weird_aspects.md
  Scraping_project/src/stage3/warehouse_pipeline.py
  Scraping_project/tools/benchmark_enrichment.py
  Scraping_project/tools/refresh_data.py
Labels: area/stage1, area/stage3, area/nlp

many problems but progress is being made to avoid lazy work
  PIPELINE_FEATURES.md
  Scraping_project/data/cache/url_dedup.bloom
  Scraping_project/data/config/adaptive_depth.json
  Scraping_project/data/logs/pipeline.log
  Scraping_project/data/processed/stage03/enriched_content.jsonl
  Scraping_project/requirements.txt
  Scraping_project/src/common/adaptive_depth.py
  Scraping_project/src/common/adaptive_depth_middleware.py
  Scraping_project/src/common/constants.py
  Scraping_project/src/common/delta_lake.py
  Scraping_project/src/common/enhanced_browser.py
  Scraping_project/src/common/error_handling.py
  Scraping_project/src/common/keyword_manager.py
  Scraping_project/src/common/url_deduplication.py
  Scraping_project/src/common/urls.py
  Scraping_project/src/config/keywords.txt
  Scraping_project/src/orchestrator/config.py
  Scraping_project/src/settings.py
  Scraping_project/src/stage1/discovery_spider.py
  Scraping_project/src/stage1/discovery_spider_ultra_example.py
  Scraping_project/src/stage1/simple_discovery.py
  Scraping_project/src/stage2/file_validator.py
  Scraping_project/start.py
  Scraping_project/test_pipeline.py
  Scraping_project/tests/common/test_adaptive_depth.py
  Scraping_project/tests/common/test_urls.py
  data/cache/freshness.db
  data/checkpoints/stage2_validation.checkpoint.json
  data/checkpoints/stage3_async_enrichment.checkpoint.checkpoint.backup.json
  data/checkpoints/stage3_async_enrichment.checkpoint.json
  data/config/adaptive_depth.json
  data/feedback/stage2_feedback.json
  test_config.corrupt.20251004183147
  test_validation_output.jsonl
Labels: area/stage1, area/stage2, area/common

Resolve merge conflict by deleting test file
  Scraping_project/tests/spiders/test_discovery_spider.py
Labels: none

fix CI bugs
  Scraping_project/src/common/delta_lake.py
  Scraping_project/src/stage1/js_bot.py
  Scraping_project/src/stage1/scout_spider.py
  Scraping_project/src/stage2/intelligent_analyzer.py
  Scraping_project/src/stage2/page_analysis.py
Labels: area/stage1, area/stage2, area/common

data checks, clean up and async
  Scraping_project/.github/workflows/main.yml
  Scraping_project/health_check.py
  Scraping_project/requirements.txt
  Scraping_project/run_pipeline.py
  Scraping_project/src/stage2/stage2_worker.py
  Scraping_project/src/stage3/stage3_worker.py
  Scraping_project/tests/test_delta_lake.py
  Scraping_project/tests/test_health_check.py
  Scraping_project/tests/test_stage2_worker.py
  Scraping_project/tests/test_stage3_worker.py
Labels: area/stage2, area/stage3, area/nlp

no more duckdb and now postgreSQL and more analytics
  Scraping_project/.DS_Store
  Scraping_project/.env.example
  Scraping_project/CHANGELOG.md
  Scraping_project/README.md
  Scraping_project/data/delta_lake/stage1_discovery/_delta_log/00000000000000000000.json
  Scraping_project/data/delta_lake/stage1_discovery/_delta_log/00000000000000000001.json
  Scraping_project/data/delta_lake/stage1_discovery/part-00001-7fae0477-179d-43d3-bee4-475260e0d078-c000.snappy.parquet
  Scraping_project/data/delta_lake/stage1_discovery/part-00001-cbcb5aac-7b03-496a-9e2d-ca0b18eb7299-c000.snappy.parquet
  Scraping_project/deprecated_scripts/README.md
  Scraping_project/deprecated_scripts/clean_datalake.py
  Scraping_project/deprecated_scripts/export_table.py
  Scraping_project/deprecated_scripts/reset_pipeline.py
  Scraping_project/deprecated_scripts/setup_models.py
  Scraping_project/deprecated_scripts/validate_setup.py
  Scraping_project/install_dependencies.sh
  Scraping_project/pyproject.toml
  Scraping_project/pytest.ini
  Scraping_project/run_pipeline.py
  Scraping_project/scripts/drain_lake.py
  Scraping_project/scripts/ml_error_analyzer.py
  Scraping_project/src/common/postgres_manager.py
  Scraping_project/src/stage1/scout_spider.py
  Scraping_project/src/stage2/stage2_worker.py
  Scraping_project/src/stage3/stage3_worker.py
  Scraping_project/temp_testing/README.md
  Scraping_project/temp_testing/integration_tests/test_e2e_pipeline.py
  Scraping_project/temp_testing/test_issues.txt
  Scraping_project/temp_testing/test_pipeline_stages.py
  Scraping_project/tests/README.md
  Scraping_project/tests/integration/test_e2e_pipeline.py
  Scraping_project/tests/integration/test_scout_spider.py
  Scraping_project/tests/test_core_functionality.py
  Scraping_project/tests/test_delta_lake.py
  Scraping_project/tests/test_health_check.py
  Scraping_project/tests/test_pipeline.py
  Scraping_project/tests/test_stage2_worker.py
  Scraping_project/tests/test_stage3_worker.py
  Scraping_project/tests/unit/test_intelligent_analyzer.py
  Scraping_project/tests/unit/test_scout_spider_content_type.py
Labels: area/stage1, area/stage2, area/stage3, area/common, area/integration, area/nlp

gafka dashboard
  Scraping_project/.github/workflows/main.yml
  Scraping_project/DOCUMENTATION_INDEX.md
  Scraping_project/QUICK_START.md
  Scraping_project/README.md
  Scraping_project/config.yml
  Scraping_project/docker-compose.yml
  Scraping_project/drain_lake.py
  Scraping_project/monitoring/grafana_dashboard.json
  Scraping_project/monitoring/grafana_datasource.yml
  Scraping_project/monitoring/metrics_exporter.py
  Scraping_project/monitoring/prometheus.yml
  Scraping_project/pyproject.toml
  Scraping_project/scripts/drain_lake.py
  Scraping_project/src/common/config.py
  Scraping_project/src/common/redis_manager.py
  Scraping_project/src/common/retry_middleware.py
  Scraping_project/src/consumers/delta_consumer.py
  Scraping_project/src/stage1/js_detection.py
  Scraping_project/src/stage1/sitemap_parser.py
  Scraping_project/start.sh
Labels: area/stage1, area/common

fix dashboard not done yet
  Scraping_project/monitoring/grafana_dashboard.json
  Scraping_project/monitoring/metrics_exporter.py
  Scraping_project/shutdown.sh
Labels: none

poetry problems
  Scraping_project/.venv/pyvenv.cfg
  Scraping_project/Dockerfile
  Scraping_project/README.md
  Scraping_project/data/DATA_README.md
  Scraping_project/docker-compose.yml
  Scraping_project/monitoring/Dockerfile.metrics
  Scraping_project/monitoring/prometheus.yml
  Scraping_project/start.sh
Labels: none

dockerignore
  .DS_Store
  Scraping_project/.dockerignore
  Scraping_project/Dockerfile
  Scraping_project/monitoring/Dockerfile.metrics
  Scraping_project/monitoring/start.sh
Labels: none

kafka pipeline
  Scraping_project/.github/workflows/main.yml
  Scraping_project/Dockerfile
  Scraping_project/README.md
  Scraping_project/dev-requirements.in
  Scraping_project/dev-requirements.txt
  Scraping_project/docker-compose.yml
  Scraping_project/monitoring/Dockerfile.metrics
  Scraping_project/pyproject.toml
  Scraping_project/requirements.in
  Scraping_project/requirements.txt
  Scraping_project/run_pipeline.py
  Scraping_project/src/pipelines.py
  Scraping_project/src/settings.py
Labels: none

docker work
  Scraping_project/Dockerfile
  Scraping_project/Dockerfile.ingestor
  Scraping_project/docker-compose.yml
  Scraping_project/monitoring/prometheus.yml
  Scraping_project/run.py
  Scraping_project/src/consumers/kafka_delta_ingestor.py
  Scraping_project/src/scrapy_prometheus.py
  Scraping_project/src/settings.py
Labels: none

kafka-delta-injest
  Scraping_project/.dockerignore
  Scraping_project/Dockerfile.kafka-delta-ingest
  Scraping_project/docker-compose.yml
  Scraping_project/monitoring/alertmanager.yml
  Scraping_project/monitoring/prometheus.yml
  Scraping_project/monitoring/recording_rules.yml
Labels: none

monitoring
  Scraping_project/docker-compose.yml
  Scraping_project/monitoring/kafka_jmx_config.yml
  Scraping_project/monitoring/prometheus.yml
  Scraping_project/monitoring/statsd_mapping.yml
  Scraping_project/src/pipelines.py
  Scraping_project/src/settings.py
Labels: none

consolidation of docker
  Scraping_project/DOCUMENTATION_INDEX.md
  Scraping_project/Dockerfile
  Scraping_project/Dockerfile.ingestor
  Scraping_project/Dockerfile.kafka-delta-ingest
  Scraping_project/docker-compose.yml
  Scraping_project/monitoring/Dockerfile.metrics
Labels: none

grafana, redis, kafka-delta prometheus
  Scraping_project/.DS_Store
  Scraping_project/.gitignore
  Scraping_project/Dockerfile
  Scraping_project/KAFKA_REALTIME_SETUP.md
  Scraping_project/README.md
  Scraping_project/cli.py
  Scraping_project/data/.DS_Store
  Scraping_project/docker-compose.yml
  Scraping_project/drain_lake.py
  Scraping_project/kafka-delta-ingest/Cargo.lock
  Scraping_project/kafka-delta-ingest/Cargo.toml
  Scraping_project/kafka-delta-ingest/src/main.rs
  Scraping_project/monitoring/kafka_jmx_config.yml
  Scraping_project/monitoring/metrics_exporter.py
  Scraping_project/monitoring/prometheus.yml
  Scraping_project/pyproject.toml
  Scraping_project/requirements.in
  Scraping_project/requirements.txt
  Scraping_project/run.py
  Scraping_project/run_pipeline.py
  Scraping_project/scripts/init-minio.sh
  Scraping_project/scripts/ml_error_analyzer.py
  Scraping_project/scripts/startup-pipeline.sh
  Scraping_project/scripts/test-pipeline.sh
  Scraping_project/scripts/verify-kafka-metrics.sh
  Scraping_project/src/common/config.py
  Scraping_project/src/common/delta_lake.py
  Scraping_project/src/common/postgres_manager.py
  Scraping_project/src/common/redis_manager.py
  Scraping_project/src/common/retry_middleware.py
  Scraping_project/src/consumers/delta_consumer.py
  Scraping_project/src/consumers/kafka_delta_ingestor.py
  Scraping_project/src/pipelines.py
  Scraping_project/src/scrapy_prometheus.py
  Scraping_project/src/stage1/js_detection.py
  Scraping_project/src/stage1/sitemap_parser.py
  Scraping_project/tests/test_core_functionality.py
Labels: area/stage1, area/common

rust and monitoring enhanced but we still have work to do
  Scraping_project/Dockerfile
  Scraping_project/KAFKA_REALTIME_SETUP.md
  Scraping_project/QUICK_START.md
  Scraping_project/docker-compose.yml
  Scraping_project/monitoring/alerting_rules.yml
  Scraping_project/monitoring/grafana_dashboards.yml
  Scraping_project/monitoring/grafana_datasource 2.yml
  Scraping_project/monitoring/grafana_datasource.yml
  Scraping_project/monitoring/prometheus.yml
  Scraping_project/scripts/export_metrics_multiformat.py
  Scraping_project/scripts/kmeans_anomaly_detector.py
  Scraping_project/src/common/delta_lake.py
  Scraping_project/src/pipelines.py
  Scraping_project/src/scrapy_prometheus.py
Labels: area/common

port issues
  Scraping_project/.gitignore
  Scraping_project/CHANGELOG.md
  Scraping_project/Dockerfile
  Scraping_project/docker-compose.yml
  Scraping_project/kafka-delta-ingest/.gitignore
  Scraping_project/kafka-delta-ingest/Cargo.lock
  Scraping_project/kafka-delta-ingest/Cargo.toml
  Scraping_project/kafka-delta-ingest/README.md
  Scraping_project/kafka-delta-ingest/src/main.rs
  Scraping_project/monitoring/grafana_datasource 2.yml
  Scraping_project/scripts/export_metrics_multiformat.py
  Scraping_project/scripts/ml_error_analyzer.py
  Scraping_project/src/scrapy_prometheus.py
  Scraping_project/tests/integration/__init__.py
  Scraping_project/tests/unit/__init__.py
Labels: area/integration

running
  .DS_Store
  Scraping_project/docker-compose.yml
  Scraping_project/monitoring/dashboards/dashboards.yml
  Scraping_project/monitoring/grafana_dashboard.json
  Scraping_project/monitoring/metrics_exporter.py
  Scraping_project/src/stage1/scout_spider.py
  Scraping_project/src/stage1/ultra_discovery.py
  Scraping_project/tests/unit/test_scout_spider.py
Labels: area/stage1

ruff check fixes
  Scraping_project/.venv/pyvenv.cfg
  Scraping_project/dev-requirements.txt
  Scraping_project/requirements.in
  Scraping_project/requirements.txt
  Scraping_project/scripts/ml_error_analyzer.py
  Scraping_project/src/common/retry_middleware.py
  Scraping_project/tests/common/test_retry_middleware.py
  Scraping_project/tests/unit/test_cli.py
  Scraping_project/tests/unit/test_retry_middleware.py
  Scraping_project/tests/unit/test_scout_spider.py
Labels: area/common

Refactor retry middleware logic
  Scraping_project/src/common/retry_middleware.py
Labels: area/common

moving with dashboard
  Scraping_project/data/raw/uconn_urls.csv
  Scraping_project/monitoring/grafana_dashboards.yml
  Scraping_project/run_pipeline.py
  Scraping_project/scripts/load_seeds.py
  Scraping_project/scripts/ml_error_analyzer.py
  Scraping_project/src/common/delta_lake.py
  Scraping_project/src/stage1/scout_spider.py
  Scraping_project/tests/common/test_delta_lake.py
  Scraping_project/tests/test_core_functionality.py
  Scraping_project/tests/unit/test_scout_spider.py
Labels: area/stage1, area/common

dashboard live local host 3000
  .DS_Store
  Scraping_project/docker-compose.yml
  Scraping_project/monitoring/grafana_dashboards.yml
  Scraping_project/monitoring/metrics_exporter.py
  Scraping_project/monitoring/prometheus.yml
  Scraping_project/run.py
  Scraping_project/run_multiple_scouts.py
  Scraping_project/run_simple.py
  Scraping_project/scripts/load_seeds.py
  Scraping_project/src/common/delta_lake.py
  Scraping_project/src/scrapy_prometheus.py
  Scraping_project/src/stage1/scout_spider.py
  Scraping_project/start.sh
  Scraping_project/test_graceful_shutdown.md
Labels: area/stage1, area/common

unused module pathlib in scout
  Scraping_project/src/stage1/scout_spider.py
Labels: area/stage1

split pipeline
  .DS_Store
  Scraping_project/.venv/pyvenv.cfg
  Scraping_project/Dockerfile
  Scraping_project/LAZY_IMPLEMENTATION_FIXES.md
  Scraping_project/README.md
  Scraping_project/cli.py
  Scraping_project/data/raw/uconn_urls.csv
  Scraping_project/docker-compose.yml
  Scraping_project/install_dependencies.sh
  Scraping_project/monitoring/dashboards/unified_dashboard.json.backup
  Scraping_project/monitoring/dashboards/unified_dashboard.json.json.backup.backup
  Scraping_project/monitoring/metrics_exporter.py
  Scraping_project/run.py
  Scraping_project/run_multiple_scouts.py
  Scraping_project/run_pipeline.py
  Scraping_project/run_simple.py
  Scraping_project/scripts/load_seeds.py
  Scraping_project/scripts/reset_lake.py
  Scraping_project/scripts/update_dashboard.py
  Scraping_project/scripts/update_dashboard_offsite.py
  Scraping_project/scripts/update_grafana_dashboard.py
  Scraping_project/shutdown.sh
  Scraping_project/src/common/delta_lake.py
  Scraping_project/src/consumers/delta_consumer.py
  Scraping_project/src/consumers/kafka_delta_ingestor.py
  Scraping_project/src/items.py
  Scraping_project/src/pipelines.py
  Scraping_project/src/scrapy_prometheus.py
  Scraping_project/src/stage1/js_bot.py
  Scraping_project/src/stage1/scout_spider.py
  Scraping_project/src/stage2/stage2_worker.py
  Scraping_project/src/stage4/large_doc_processor.py
  Scraping_project/test_graceful_shutdown.md
Labels: area/stage1, area/stage2, area/common

deep dive
  Scraping_project/LAZY_IMPLEMENTATION_FIXES.md
  Scraping_project/cli.py
  Scraping_project/docker-compose.yml
  Scraping_project/scripts/reset_lake.py
  Scraping_project/src/stage1/deep_dive_spider.py
  Scraping_project/src/stage1/js_bot.py
  Scraping_project/src/stage2/stage2_worker.py
  Scraping_project/src/stage3/stage3_worker.py
Labels: area/stage1, area/stage2, area/stage3, area/nlp

delta lake upgrades
  Scraping_project/Dockerfile
  Scraping_project/README.md
  Scraping_project/TROUBLESHOOTING.md
  Scraping_project/config.yml
  Scraping_project/data/raw/uconn_urls.csv
  Scraping_project/docker-compose.yml
  Scraping_project/monitoring/alertmanager.yml
  Scraping_project/monitoring/metrics_exporter.py
  Scraping_project/scripts/emergency_cleanup.sh
  Scraping_project/scripts/emergency_log_cleanup.py
  Scraping_project/scripts/vacuum_delta_tables.py
  Scraping_project/src/common/config.py
  Scraping_project/src/common/delta_lake.py
  Scraping_project/src/common/spider_config.py
  Scraping_project/src/common/url_extractor.py
  Scraping_project/src/pipelines.py
  Scraping_project/src/scrapy_prometheus.py
  Scraping_project/src/settings.py
  Scraping_project/src/stage1/base_spider.py
  Scraping_project/src/stage1/deep_dive_spider.py
  Scraping_project/src/stage1/deep_dive_spider.py.backup
  Scraping_project/src/stage1/js_bot.py
  Scraping_project/src/stage1/js_bot.py.backup
  Scraping_project/src/stage1/js_detection.py
  Scraping_project/src/stage1/scout_spider.py
  Scraping_project/src/stage1/scout_spider.py.backup
  Scraping_project/src/stage1/sitemap_parser.py.backup
  Scraping_project/src/stage4/large_doc_processor.py
  Scraping_project/tests/common/test_delta_lake.py
  Scraping_project/tests/test_core_functionality.py
Labels: area/stage1, area/common

new java scout
  .DS_Store
  Scraping_project/.github/workflows/TESTING_NOTES.md
  Scraping_project/README.md
  Scraping_project/SCOUT_REFACTOR_SUMMARY.md
  Scraping_project/docker-compose.yml
  Scraping_project/pytest.ini
  Scraping_project/src/common/delta_lake.py
  Scraping_project/src/common/spider_config.py
  Scraping_project/src/settings.py
  Scraping_project/src/stage1/base_spider.py
  Scraping_project/src/stage1/deep_dive_spider.py
  Scraping_project/src/stage1/js_bot.py
  Scraping_project/src/stage1/js_spider.py
  Scraping_project/src/stage1/scout_spider.py
  Scraping_project/tests/README.md
  Scraping_project/tests/component/test_spider_pipeline.py
  Scraping_project/tests/conftest.py
  Scraping_project/tests/contract/test_item_schemas.py
  Scraping_project/tests/integration/test_end_to_end.py
  Scraping_project/tests/performance/test_performance.py
  Scraping_project/tests/unit/test_base_spider.py
Labels: area/stage1, area/common, area/integration

cleaned up java bot
  Scraping_project/README.md
  Scraping_project/SCOUT_REFACTOR_SUMMARY.md
  Scraping_project/config.yml
  Scraping_project/docker-compose.yml
  Scraping_project/docker/init-db.sql
  Scraping_project/monitoring/dashboards/unified_dashboard.json.backup
  Scraping_project/monitoring/dashboards/unified_dashboard.json.json.backup.backup
  Scraping_project/monitoring/metrics_exporter.py
  Scraping_project/scripts/emergency_cleanup.sh
  Scraping_project/scripts/emergency_log_cleanup.py
  Scraping_project/scripts/vacuum_delta_tables.py
  Scraping_project/src/common/delta_lake.py
  Scraping_project/src/pipelines.py
  Scraping_project/src/stage1/base_spider.py
  Scraping_project/src/stage1/deep_dive_spider.py.backup
  Scraping_project/src/stage1/js_bot.py
  Scraping_project/src/stage1/js_bot.py.backup
  Scraping_project/src/stage1/js_spider.py
  Scraping_project/src/stage1/scout_spider.py
  Scraping_project/src/stage1/scout_spider.py.backup
  Scraping_project/src/stage1/sitemap_parser.py.backup
  Scraping_project/src/stage2/stage2_worker.py
  Scraping_project/tests/component/test_spider_pipeline.py
  Scraping_project/tests/conftest.py
  Scraping_project/tests/contract/test_item_schemas.py
  Scraping_project/tests/integration/test_end_to_end.py
  Scraping_project/tests/performance/test_performance.py
  Scraping_project/tests/unit/test_base_spider.py
Labels: area/stage1, area/stage2, area/common, area/integration

universal implementation across windows 11
  Scraping_project/.github/workflows/TESTING_NOTES.md
  Scraping_project/.github/workflows/main.yml
  Scraping_project/README.md
  Scraping_project/install_dependencies.sh
  Scraping_project/monitoring/start.sh
  Scraping_project/scripts/init-minio.sh
  Scraping_project/scripts/startup-pipeline.sh
  Scraping_project/scripts/test-pipeline.sh
  Scraping_project/scripts/verify-kafka-metrics.sh
  Scraping_project/shutdown.sh
  Scraping_project/start.sh
Labels: none

kubernetes era and removal of minIO
  Scraping_project/README.md
  Scraping_project/TROUBLESHOOTING.md
  Scraping_project/dev-requirements.txt
  Scraping_project/docker-compose.yml
  Scraping_project/k8s/DEPLOYMENT_GUIDE.md
  Scraping_project/k8s/README.md
  Scraping_project/k8s/helm/scraping-pipeline/Chart.yaml
  Scraping_project/k8s/helm/scraping-pipeline/templates/_helpers.tpl
  Scraping_project/k8s/helm/scraping-pipeline/templates/delta-lake-pvc.yaml
  Scraping_project/k8s/helm/scraping-pipeline/templates/kafka-statefulset.yaml
  Scraping_project/k8s/helm/scraping-pipeline/templates/redis-statefulset.yaml
  Scraping_project/k8s/helm/scraping-pipeline/templates/scrapy-deployment.yaml
  Scraping_project/k8s/helm/scraping-pipeline/templates/secrets.yaml
  Scraping_project/k8s/helm/scraping-pipeline/values.yaml
  Scraping_project/requirements.txt
  Scraping_project/src/stage1/scout_spider.py
Labels: area/stage1

.github/labeler.yml:

area/stage1:
  - "Scraping_project/src/stage1/**"
area/stage2:
  - "Scraping_project/src/stage2/**"
area/stage3:
  - "Scraping_project/src/stage3/**"
area/common:
  - "Scraping_project/src/common/**"
area/integration:
  - "Scraping_project/tests/integration/**"
area/nlp:
  - "Scraping_project/src/common/nlp.py"
  - "Scraping_project/src/stage3/**"
area/ci:
  - ".github/**"
