Repository BenjaminSRussell/Scrapy, changes with the labels that .github/labeler.yml gives for each.
All labels: area/stage1, area/stage2, area/stage3, area/common, area/integration, area/nlp, area/ci

.github/labeler.yml:

area/stage1:
  - "Scraping_project/src/stage1/**"
area/stage2:
  - "Scraping_project/src/stage2/**"
area/stage3:
  - "Scraping_project/src/stage3/**"
area/common:
  - "Scraping_project/src/common/**"
area/integration:
  - "Scraping_project/tests/integration/**"
area/nlp:
  - "Scraping_project/src/common/nlp.py"
  - "Scraping_project/src/stage3/**"
area/ci:
  - ".github/**"

Prometheus port: README/Makefile match compose 9090 (#369) (#1132)
  README.md
  Scraping_project/Makefile
Labels: none

Register QueueItemPipeline (175) so Scout's Stage1->Stage2 handoff persists (#608)
  Scraping_project/src/pipelines.py
  Scraping_project/src/settings.py
  Scraping_project/tests/unit/test_queue_pipeline_registration.py
Labels: none

Dependabot: one grouped weekly PR per ecosystem, open limit 3 (#1148)
  .github/dependabot.yml
Labels: area/ci

Stage2/3 continuous workers honor config.yml/env concurrency and batch size (#319) (#1130)
  Scraping_project/README.md
  Scraping_project/src/core/config.py
  Scraping_project/src/stage2/stage2_worker.py
  Scraping_project/src/stage3/stage3_worker.py
  Scraping_project/tests/unit/core/__init__.py
  Scraping_project/tests/unit/core/test_stage_worker_settings.py
Labels: area/stage2, area/stage3, area/nlp

Orchestrator PipelineStats use per-run worker counts (#327) (#1142)
  Scraping_project/src/orchestrator/pipeline_orchestrator.py
  Scraping_project/src/stage2/stage2_worker.py
  Scraping_project/src/stage3/stage3_worker.py
  Scraping_project/src/stage4/stage4_worker.py
  Scraping_project/tests/unit/test_orchestrator_run_stats.py
Labels: area/stage2, area/stage3, area/nlp

gitignore crawl artifacts: screenshots, WARC, profiler dumps, data/exports (#797) (#1149)
  .gitignore
Labels: none

Orchestrator: run status complete/partial_failed/failed; non-success raises (#521)
  Scraping_project/src/orchestrator/pipeline_orchestrator.py
  Scraping_project/tests/unit/test_orchestrator_run_status.py
Labels: none

Stage2: quarantine failed URLs to stage2_errors, not silver analysis (#331)
  Scraping_project/src/core/constants.py
  Scraping_project/src/core/schemas.py
  Scraping_project/src/lakehouse/lakehouse_manager.py
  Scraping_project/src/stage2/stage2_worker.py
  Scraping_project/tests/unit/stage2/test_stage2_error_quarantine.py
Labels: area/stage2

AggregationPipeline: bounded per-entity memory, persist entity_summaries to Delta (#790) (#1150)
  Scraping_project/src/pipelines.py
  Scraping_project/src/settings.py
  Scraping_project/tests/integration/test_high_integrity_pipeline.py
  Scraping_project/tests/unit/test_aggregation_persistence.py
Labels: area/integration

Lakehouse: row-level cast guard with quarantine, strict/coerce mode, cast-failure metric (#818)
  Scraping_project/config.yml
  Scraping_project/src/lakehouse/lakehouse_manager.py
  Scraping_project/tests/unit/test_cast_quarantine.py
Labels: none

Redact credentials from all log records; tests with synthetic secrets (#680)
  Scraping_project/src/__init__.py
  Scraping_project/src/log_redaction.py
  Scraping_project/tests/unit/test_log_redaction.py
Labels: none

Register QueueItemPipeline (175) so Scout's Stage1->Stage2 handoff persists (#608) (#1151)
  Scraping_project/src/pipelines.py
  Scraping_project/src/settings.py
  Scraping_project/tests/unit/test_queue_pipeline_registration.py
Labels: none

Orchestrator: run status complete/partial_failed/failed; non-success raises (#521) (#1152)
  Scraping_project/src/orchestrator/pipeline_orchestrator.py
  Scraping_project/tests/unit/test_orchestrator_run_status.py
Labels: none

Stage2: quarantine failed URLs to stage2_errors, not silver analysis (#331) (#1155)
  Scraping_project/src/core/constants.py
  Scraping_project/src/core/schemas.py
  Scraping_project/src/lakehouse/lakehouse_manager.py
  Scraping_project/src/stage2/stage2_worker.py
  Scraping_project/tests/unit/stage2/test_stage2_error_quarantine.py
Labels: area/stage2

Makefile: complete .PHONY (#796/#563), drop unconfigured flake8 from lint (#361)
  Scraping_project/Makefile
Labels: none

requirements.txt: pin tenacity==9.2.1 in the lock (#1121)
  Scraping_project/requirements.txt
Labels: none

Replace datetime.utcnow() with aware UTC helpers (#244)
  Scraping_project/monitoring/metrics_exporter.py
  Scraping_project/src/common/seed_ops.py
  Scraping_project/src/core/timeutil.py
  Scraping_project/src/lakehouse/seed_manager.py
  Scraping_project/src/pipelines.py
  Scraping_project/src/stage4/entity_summarization.py
  Scraping_project/tests/unit/core/test_timeutil.py
Labels: area/common

Lakehouse: row-level cast guard with quarantine, strict/coerce mode, cast-failure metric (#818) (#1156)
  Scraping_project/config.yml
  Scraping_project/src/lakehouse/lakehouse_manager.py
  Scraping_project/tests/unit/test_cast_quarantine.py
Labels: none

Stage2: only successes complete; failures retry with cap, then failed + DLQ (#160)
  Scraping_project/src/stage2/stage2_worker.py
  Scraping_project/tests/unit/stage2/test_stage2_error_quarantine.py
  Scraping_project/tests/unit/test_stage2_retry_policy.py
Labels: area/stage2

AggregationPipeline: LRU entity cap + periodic flush to Delta (#201)
  Scraping_project/src/pipelines.py
  Scraping_project/src/settings.py
  Scraping_project/tests/unit/test_aggregation_flush.py
Labels: none

Redact credentials from all log records; tests with synthetic secrets (#680) (#1157)
  Scraping_project/src/__init__.py
  Scraping_project/src/log_redaction.py
  Scraping_project/tests/unit/test_log_redaction.py
Labels: none

Fix ops scripts/CLI importing removed src.common.delta_lake/constants (#284)
  Scraping_project/cli.py
  Scraping_project/reseed.py
  Scraping_project/scripts/load_seeds.py
  Scraping_project/scripts/reset_lake.py
  Scraping_project/scripts/vacuum_delta_tables.py
  Scraping_project/src/utils/delta.py
  Scraping_project/tests/unit/test_cli.py
  Scraping_project/tests/unit/test_ops_scripts_import.py
Labels: none

Makefile: complete .PHONY (#796/#563), drop unconfigured flake8 from lint (#361) (#1158)
  Scraping_project/Makefile
Labels: none

requirements.txt: pin tenacity==9.2.1 in the lock (#1121) (#1159)
  Scraping_project/requirements.txt
Labels: none

Replace datetime.utcnow() with aware UTC helpers (#244) (#1160)
  Scraping_project/monitoring/metrics_exporter.py
  Scraping_project/src/common/seed_ops.py
  Scraping_project/src/core/timeutil.py
  Scraping_project/src/lakehouse/seed_manager.py
  Scraping_project/src/pipelines.py
  Scraping_project/src/stage4/entity_summarization.py
  Scraping_project/tests/unit/core/test_timeutil.py
Labels: area/common

Use RFPDupeFilter instead of no-op BaseDupeFilter (#197)
  Scraping_project/src/settings.py
  Scraping_project/tests/unit/test_dupefilter_setting.py
Labels: none

Atomic SADD first-seen claims; fail-closed seen-store policy + error counter (#159, #163)
  Scraping_project/src/stage1/experimental/base_spider.py
  Scraping_project/src/stage1/experimental/deep_dive_spider.py
  Scraping_project/src/stage1/processors/js_priority_queue.py
  Scraping_project/src/utils/redis.py
  Scraping_project/tests/unit/test_base_spider.py
  Scraping_project/tests/unit/test_seen_store_policy.py
Labels: area/stage1

Stage2: only successes complete; failures retry with cap, then failed + DLQ (#160) (#1161)
  Scraping_project/src/stage2/stage2_worker.py
  Scraping_project/tests/unit/stage2/test_stage2_error_quarantine.py
  Scraping_project/tests/unit/test_stage2_retry_policy.py
Labels: area/stage2

deps: bump ruff to 0.14.2 (#835)
  Scraping_project/dev-requirements.txt
Labels: none

deps: bump aiohttp to 3.13.1 (#601)
  Scraping_project/dev-requirements.txt
  Scraping_project/requirements.txt
Labels: none

Stage2: record gather exceptions as error rows + counter, never drop (#214)
  Scraping_project/src/stage2/stage2_worker.py
  Scraping_project/tests/unit/stage2/test_stage2_gather_exceptions.py
Labels: area/stage2

AggregationPipeline: LRU entity cap + periodic flush to Delta (#201) (#1162)
  Scraping_project/src/pipelines.py
  Scraping_project/src/settings.py
  Scraping_project/tests/unit/test_aggregation_flush.py
Labels: none

Stage2: one pooled aiohttp session per run with explicit connector limit (#200)
  Scraping_project/src/stage2/stage2_worker.py
  Scraping_project/tests/unit/stage2/test_stage2_shared_session.py
Labels: area/stage2

Fix ops scripts/CLI importing removed src.common.delta_lake/constants (#284) (#1163)
  Scraping_project/cli.py
  Scraping_project/reseed.py
  Scraping_project/scripts/load_seeds.py
  Scraping_project/scripts/reset_lake.py
  Scraping_project/scripts/vacuum_delta_tables.py
  Scraping_project/src/utils/delta.py
  Scraping_project/tests/unit/test_cli.py
  Scraping_project/tests/unit/test_ops_scripts_import.py
Labels: none

Lakehouse: retry+durable spill for failed async writes, bounded queue put, metrics + alerts (#225, #167)
  Scraping_project/config.yml
  Scraping_project/monitoring/alerting_rules.yml
  Scraping_project/src/lakehouse/lakehouse_manager.py
  Scraping_project/src/utils/delta.py
  Scraping_project/tests/unit/test_delta_write_durability.py
Labels: none

Metrics exporter: drop blocking crawl-data wait; add --port health endpoint for probes (#208)
  Scraping_project/monitoring/metrics_exporter.py
  Scraping_project/tests/unit/monitoring/test_metrics_exporter.py
Labels: none

Use RFPDupeFilter instead of no-op BaseDupeFilter (#197) (#1164)
  Scraping_project/src/settings.py
  Scraping_project/tests/unit/test_dupefilter_setting.py
Labels: none

Public-suffix-aware registrable domain for Delta partition key (#251)
  Scraping_project/src/lakehouse/lakehouse_manager.py
  Scraping_project/src/utils/validation.py
  Scraping_project/tests/unit/test_registrable_domain.py
Labels: none

Z-order: configurable per-table columns, loud skips with metric (#272)
  Scraping_project/config.yml
  Scraping_project/src/lakehouse/lakehouse_manager.py
  Scraping_project/tests/unit/test_zorder_config.py
Labels: none

Atomic SADD first-seen claims; fail-closed seen-store policy + error counter (#159, #163) (#1165)
  Scraping_project/src/stage1/experimental/base_spider.py
  Scraping_project/src/stage1/experimental/deep_dive_spider.py
  Scraping_project/src/stage1/processors/js_priority_queue.py
  Scraping_project/src/utils/redis.py
  Scraping_project/tests/unit/test_base_spider.py
  Scraping_project/tests/unit/test_seen_store_policy.py
Labels: area/stage1
