Repository BenjaminSRussell/Scrapy, changes with the labels that .github/labeler.yml gives for each.
All labels: area/stage1, area/stage2, area/stage3, area/common, area/integration, area/nlp, area/ci

TLS: Scrapy downloader verifies certificates; gated, metered insecure override; source guard (#584)
  Scraping_project/README.md
  Scraping_project/src/core/tls_policy.py
  Scraping_project/src/settings.py
  Scraping_project/tests/unit/test_tls_policy.py
Labels: none

InMemoryBackend: cap time-travel history depth (#484) (#1187)
  Scraping_project/config.yml
  Scraping_project/src/lakehouse/lakehouse_manager.py
  Scraping_project/tests/unit/test_memory_backend_history.py
Labels: none

Config: atomic versioned snapshots; failed reload keeps last good config (#590)
  Scraping_project/README.md
  Scraping_project/src/core/config.py
  Scraping_project/tests/unit/test_config_atomic_reload.py
Labels: none

TLS: Scrapy downloader verifies certificates; gated, metered insecure override; source guard (#584) (#1190)
  Scraping_project/README.md
  Scraping_project/src/core/tls_policy.py
  Scraping_project/src/settings.py
  Scraping_project/tests/unit/test_tls_policy.py
Labels: none

Metrics: dual-export stage metrics; Postgres sink failures counted, logged, alerted, never raised (#586)
  Scraping_project/README.md
  Scraping_project/monitoring/alerting_rules.yml
  Scraping_project/src/stage2/stage2_worker.py
  Scraping_project/src/stage3/stage3_worker.py
  Scraping_project/src/utils/metrics_sink.py
  Scraping_project/tests/unit/test_metrics_sink_fallback.py
Labels: area/stage2, area/stage3, area/nlp

test(#590): assert single-set atomicity and no lost updates instead of a racy two-set invariant
  Scraping_project/tests/unit/test_config_atomic_reload.py
Labels: none

Lakehouse: serialize optimize/vacuum with writers, retry maintenance commit conflicts (#702) (#1188)
  Scraping_project/src/lakehouse/lakehouse_manager.py
  Scraping_project/tests/unit/test_maintenance_concurrency.py
Labels: none

Metrics: dual-export stage metrics; Postgres sink failures counted, logged, alerted, never raised (#586) (#1192)
  Scraping_project/README.md
  Scraping_project/monitoring/alerting_rules.yml
  Scraping_project/src/stage2/stage2_worker.py
  Scraping_project/src/stage3/stage3_worker.py
  Scraping_project/src/utils/metrics_sink.py
  Scraping_project/tests/unit/test_metrics_sink_fallback.py
Labels: area/stage2, area/stage3, area/nlp

Config: atomic versioned snapshots; failed reload keeps last good config (#590) (#1191)
  Scraping_project/README.md
  Scraping_project/src/core/config.py
  Scraping_project/tests/unit/test_config_atomic_reload.py
Labels: none

Alert on consecutive kafka-delta-ingest write failures; map the StatsD names main.rs actually emits (#535)
  Scraping_project/k8s/helm/scraping-pipeline/files/monitoring/alerting_rules.yml
  Scraping_project/k8s/helm/scraping-pipeline/files/monitoring/statsd_mapping.yml
  Scraping_project/monitoring/alerting_rules.yml
  Scraping_project/tests/unit/test_ingest_write_failure_alert.py
Labels: none

Prometheus extension: per-run, lock-guarded crawl state instead of name-keyed module globals (#28)
  Scraping_project/src/scrapy_prometheus.py
  Scraping_project/tests/unit/test_prometheus_run_state.py
Labels: none

Redis: bounded blocking pool; exhaustion fails closed, counted and alerted; sizing model; real-Redis burst test (#533)
  Scraping_project/README.md
  Scraping_project/k8s/helm/scraping-pipeline/files/monitoring/alerting_rules.yml
  Scraping_project/monitoring/alerting_rules.yml
  Scraping_project/src/utils/redis.py
  Scraping_project/tests/unit/test_redis_pool_backpressure.py
Labels: none

Alert on consecutive kafka-delta-ingest write failures; map the StatsD names main.rs actually emits (#535) (#1193)
  Scraping_project/k8s/helm/scraping-pipeline/files/monitoring/alerting_rules.yml
  Scraping_project/k8s/helm/scraping-pipeline/files/monitoring/statsd_mapping.yml
  Scraping_project/monitoring/alerting_rules.yml
  Scraping_project/tests/unit/test_ingest_write_failure_alert.py
Labels: none

crawler-entrypoint: Kafka optional (core vs streaming), bounded dependency waits (#615)
  Scraping_project/README.md
  Scraping_project/docker/entrypoints/crawler-entrypoint.sh
  Scraping_project/tests/unit/test_crawler_entrypoint_profiles.py
Labels: none

Prometheus extension: per-run, lock-guarded crawl state instead of name-keyed module globals (#28) (#1194)
  Scraping_project/src/scrapy_prometheus.py
  Scraping_project/tests/unit/test_prometheus_run_state.py
Labels: none

Redis: bounded blocking pool; exhaustion fails closed, counted and alerted; sizing model; real-Redis burst test (#533) (#1195)
  Scraping_project/README.md
  Scraping_project/k8s/helm/scraping-pipeline/files/monitoring/alerting_rules.yml
  Scraping_project/monitoring/alerting_rules.yml
  Scraping_project/src/utils/redis.py
  Scraping_project/tests/unit/test_redis_pool_backpressure.py
Labels: none

crawler-entrypoint: Kafka optional (core vs streaming), bounded dependency waits (#615) (#1196)
  Scraping_project/README.md
  Scraping_project/docker/entrypoints/crawler-entrypoint.sh
  Scraping_project/tests/unit/test_crawler_entrypoint_profiles.py
Labels: none

Stage 4: consume stage4_large_docs queue, mark rows completed/skipped via MERGE (#611)
  Scraping_project/README.md
  Scraping_project/src/stage4/stage4_worker.py
  Scraping_project/tests/unit/test_stage4_queue_input.py
Labels: none

Stage 4: consume stage4_large_docs queue, mark rows completed/skipped via MERGE (#611) (#1197)
  Scraping_project/README.md
  Scraping_project/src/stage4/stage4_worker.py
  Scraping_project/tests/unit/test_stage4_queue_input.py
Labels: none

Soft-ban/captcha detection: quarantine, metrics, domain backoff (#582)
  Scraping_project/README.md
  Scraping_project/k8s/helm/scraping-pipeline/files/monitoring/alerting_rules.yml
  Scraping_project/monitoring/alerting_rules.yml
  Scraping_project/src/stage1/middlewares/soft_ban_middleware.py
  Scraping_project/src/stage1/middlewares/spider_config.py
  Scraping_project/src/stage2/stage2_worker.py
  Scraping_project/src/utils/soft_ban.py
  Scraping_project/tests/fixtures/soft_ban/akamai_access_denied_403.html
  Scraping_project/tests/fixtures/soft_ban/article_mentions_captcha_200.html
  Scraping_project/tests/fixtures/soft_ban/cloudflare_attention_503.html
  Scraping_project/tests/fixtures/soft_ban/cloudflare_challenge_403.html
  Scraping_project/tests/fixtures/soft_ban/datadome_403.html
  Scraping_project/tests/fixtures/soft_ban/generic_unusual_traffic_200.html
  Scraping_project/tests/fixtures/soft_ban/hcaptcha_200.html
  Scraping_project/tests/fixtures/soft_ban/perimeterx_403.html
  Scraping_project/tests/fixtures/soft_ban/plain_forbidden_403.html
  Scraping_project/tests/fixtures/soft_ban/recaptcha_200.html
  Scraping_project/tests/unit/test_soft_ban.py
Labels: area/stage1, area/stage2

JS spider: guaranteed Playwright page release, hard caps, open-pages metric (#452)
  Scraping_project/src/stage1/experimental/js_spider.py
  Scraping_project/src/stage1/experimental/playwright_guard.py
  Scraping_project/tests/unit/stage1/test_js_spider_page_release.py
Labels: area/stage1

Stage 4: sandboxed PDF extraction with RSS/time/size budgets; quarantine instead of requeue (#445)
  Scraping_project/README.md
  Scraping_project/src/stage4/large_doc_processor.py
  Scraping_project/src/stage4/pdf_extract_child.py
  Scraping_project/src/stage4/pdf_sandbox.py
  Scraping_project/src/stage4/stage4_worker.py
  Scraping_project/tests/unit/test_stage4_pdf_sandbox.py
Labels: none

Observability test: docker compose without sudo, skip cleanly when Docker unreachable (#567)
  Scraping_project/tests/observability/test_alert_intervals.py
  Scraping_project/tests/unit/test_no_sudo_in_tests.py
Labels: none

Docker HEALTHCHECK probes PID 1 + Redis/TCP deps; docs match (#542)
  Scraping_project/DEPLOYMENT.md
  Scraping_project/Dockerfile
  Scraping_project/README.md
  Scraping_project/src/utils/probe.py
  Scraping_project/tests/unit/test_k8s_probes.py
Labels: none

Soft-ban/captcha detection: quarantine, metrics, domain backoff (#582) (#1198)
  Scraping_project/README.md
  Scraping_project/k8s/helm/scraping-pipeline/files/monitoring/alerting_rules.yml
  Scraping_project/monitoring/alerting_rules.yml
  Scraping_project/src/stage1/middlewares/soft_ban_middleware.py
  Scraping_project/src/stage1/middlewares/spider_config.py
  Scraping_project/src/stage2/stage2_worker.py
  Scraping_project/src/utils/soft_ban.py
  Scraping_project/tests/fixtures/soft_ban/akamai_access_denied_403.html
  Scraping_project/tests/fixtures/soft_ban/article_mentions_captcha_200.html
  Scraping_project/tests/fixtures/soft_ban/cloudflare_attention_503.html
  Scraping_project/tests/fixtures/soft_ban/cloudflare_challenge_403.html
  Scraping_project/tests/fixtures/soft_ban/datadome_403.html
  Scraping_project/tests/fixtures/soft_ban/generic_unusual_traffic_200.html
  Scraping_project/tests/fixtures/soft_ban/hcaptcha_200.html
  Scraping_project/tests/fixtures/soft_ban/perimeterx_403.html
  Scraping_project/tests/fixtures/soft_ban/plain_forbidden_403.html
  Scraping_project/tests/fixtures/soft_ban/recaptcha_200.html
  Scraping_project/tests/unit/test_soft_ban.py
Labels: area/stage1, area/stage2

Document every .dockerignore exclusion; keep Dockerfile/compose/monitoring in context (#625)
  Scraping_project/.dockerignore
  Scraping_project/README.md
  Scraping_project/tests/unit/test_dockerignore.py
Labels: none

One URL canonicalization for Redis, queue rows, SeedManager, Stage 2 url_hash (#728)
  Scraping_project/README.md
  Scraping_project/src/lakehouse/seed_manager.py
  Scraping_project/src/pipelines.py
  Scraping_project/src/stage1/experimental/base_spider.py
  Scraping_project/src/stage1/experimental/js_spider.py
  Scraping_project/src/stage1/processors/url_processor.py
  Scraping_project/src/utils/redis.py
  Scraping_project/src/utils/url_canon.py
  Scraping_project/src/utils/validation.py
  Scraping_project/tests/unit/test_url_canonicalization.py
Labels: area/stage1

Ops scripts only touch services/volumes docker-compose.yml defines (#324 #326 #383 #403)
  Scraping_project/diagnose.sh
  Scraping_project/run_all_tests.sh
  Scraping_project/scripts/README.md
  Scraping_project/scripts/complete_reset.sh
  Scraping_project/scripts/compose_lib.sh
  Scraping_project/scripts/diagnose_issues.sh
  Scraping_project/shutdown.py
  Scraping_project/tests/unit/test_compose_script_parity.py
Labels: none

Memory soft-stop: drain crawl at 85% of cgroup limit before OOM killer (#539)
  Scraping_project/README.md
  Scraping_project/src/memory_soft_stop.py
  Scraping_project/src/orchestrator/pipeline_orchestrator.py
  Scraping_project/src/settings.py
  Scraping_project/tests/unit/test_memory_soft_stop.py
Labels: none

Release images: real crawler/metrics/kafka-delta-ingest Dockerfile targets, CD smoke-tests them on PRs (#449); observability compose is an overlay in Scraping_project (#476)
  .github/workflows/cd-release.yml
  MONITORING.md
  Scraping_project/.dockerignore
  Scraping_project/Dockerfile
  Scraping_project/README.md
  Scraping_project/docker-compose.observability.yml
  Scraping_project/k8s/helm/scraping-pipeline/templates/kafka-delta-ingestor-deployment.yaml
  Scraping_project/monitoring/loki-config.yml
  Scraping_project/monitoring/otel-collector-config.yml
  Scraping_project/src/otel_tracing.py
  Scraping_project/tests/unit/test_release_images.py
Labels: area/ci

kafka-delta-ingest: dead-letter rejected messages with headers, fail closed (#544)
  Scraping_project/kafka-delta-ingest/README.md
  Scraping_project/kafka-delta-ingest/src/main.rs
  Scraping_project/tests/unit/test_ingest_dlq_contract.py
Labels: none

start.py local mode waits on and prints only services docker-compose.yml defines (#399); --stage is k8s-only, Stage 4 not in Helm documented (#492)
  README.md
  Scraping_project/start.py
  Scraping_project/tests/unit/test_start_local_services.py
Labels: none

Lock pre-commit for make install-dev and point the hook at Scraping_project config (#358); example config points at config.yml (#467)
  Scraping_project/Makefile
  Scraping_project/config/entity_summarization.example.yml
  Scraping_project/dev-requirements.in
  Scraping_project/dev-requirements.txt
  Scraping_project/tests/unit/test_dev_setup.py
Labels: none

dashboard: grids fit 360px phones; hide stage connector when cards wrap (#954, #957)
  Scraping_project/dashboard/index.html
  Scraping_project/dashboard/tests/responsive-css.test.js
Labels: none

Dashboard: labelled Prometheus series aggregate under the bare name (#365); per-minute rates from real elapsed time and no hard-coded localhost metrics URL (#141)
  Scraping_project/dashboard/README.md
  Scraping_project/dashboard/app.js
  Scraping_project/dashboard/format-utils.js
  Scraping_project/dashboard/index.html
  Scraping_project/dashboard/serve.py
  Scraping_project/dashboard/tests/format-utils.test.js
Labels: none

dashboard: single refresh scheduler; countdown derived from nextFetchAt (#986)
  Scraping_project/dashboard/app.js
  Scraping_project/dashboard/format-utils.js
  Scraping_project/dashboard/tests/refresh-scheduler.test.js
Labels: none

JS spider: guaranteed Playwright page release, hard caps, open-pages metric (#452) (#1199)
  Scraping_project/src/stage1/experimental/js_spider.py
  Scraping_project/src/stage1/experimental/playwright_guard.py
  Scraping_project/tests/unit/stage1/test_js_spider_page_release.py
Labels: area/stage1

Contributor DX: CONTRIBUTING.md (#335), drop ci.yml.bak (#355), editorconfig sections (#356), relative lockfile headers + make lock (#397), temp_scripts marked unsupported (#398)
  .github/workflows/ci.yml.bak
  CONTRIBUTING.md
  Scraping_project/.editorconfig
  Scraping_project/Makefile
  Scraping_project/dev-requirements.txt
  Scraping_project/temp_scripts/README.md
  Scraping_project/tests/unit/test_contributor_dx.py
  temp_scripts/README.md
Labels: area/ci

dashboard: keep metrics live and show notice when Chart.js CDN is blocked (#983)
  Scraping_project/dashboard/app.js
  Scraping_project/dashboard/index.html
  Scraping_project/dashboard/tests/charts-fallback.test.js
Labels: none

Tests: quarantine load tests from PR CI + make test-perf (#287); discoverable Stage 2 unit suite selectable with -m unit (#218); accurate tests/README (#348)
  Scraping_project/Makefile
  Scraping_project/tests/README.md
  Scraping_project/tests/performance/test_load_stress.py
  Scraping_project/tests/performance/test_performance.py
  Scraping_project/tests/unit/stage2/conftest.py
  Scraping_project/tests/unit/stage2/test_stage2_batch_paths.py
  Scraping_project/tests/unit/stage2/test_stage2_queue_merge.py
  Scraping_project/tests/unit/test_marker_policy.py
Labels: none

.github/labeler.yml:

area/stage1:
  - "Scraping_project/src/stage1/**"
area/stage2:
  - "Scraping_project/src/stage2/**"
area/stage3:
  - "Scraping_project/src/stage3/**"
area/common:
  - "Scraping_project/src/common/**"
area/integration:
  - "Scraping_project/tests/integration/**"
area/nlp:
  - "Scraping_project/src/common/nlp.py"
  - "Scraping_project/src/stage3/**"
area/ci:
  - ".github/**"
