Repository BenjaminSRussell/Scrapy, changes with the labels that .github/labeler.yml gives for each.
All labels: area/stage1, area/stage2, area/stage3, area/common, area/integration, area/nlp, area/ci

k8
  Scraping_project/.trivyignore
  Scraping_project/Dockerfile
  Scraping_project/docker-compose.yml
  Scraping_project/docker/entrypoints/crawler-entrypoint.sh
  Scraping_project/docker/entrypoints/kafka-delta-ingest-entrypoint.sh
  Scraping_project/docker/entrypoints/metrics-exporter-entrypoint.sh
  Scraping_project/k8s/DEPLOYMENT_GUIDE.md
  Scraping_project/k8s/helm/scraping-pipeline/files/init-db.sql
  Scraping_project/k8s/helm/scraping-pipeline/files/monitoring/alerting_rules.yml
  Scraping_project/k8s/helm/scraping-pipeline/files/monitoring/alertmanager.yml
  Scraping_project/k8s/helm/scraping-pipeline/files/monitoring/grafana_dashboards.yml
  Scraping_project/k8s/helm/scraping-pipeline/files/monitoring/kafka_jmx_config.yml
  Scraping_project/k8s/helm/scraping-pipeline/files/monitoring/recording_rules.yml
  Scraping_project/k8s/helm/scraping-pipeline/files/monitoring/statsd_mapping.yml
  Scraping_project/k8s/helm/scraping-pipeline/templates/alertmanager-statefulset.yaml
  Scraping_project/k8s/helm/scraping-pipeline/templates/application-configmap.yaml
  Scraping_project/k8s/helm/scraping-pipeline/templates/exporters-deployments.yaml
  Scraping_project/k8s/helm/scraping-pipeline/templates/grafana-deployment.yaml
  Scraping_project/k8s/helm/scraping-pipeline/templates/ingress.yaml
  Scraping_project/k8s/helm/scraping-pipeline/templates/kafka-delta-ingestor-deployment.yaml
  Scraping_project/k8s/helm/scraping-pipeline/templates/kafka-statefulset.yaml
  Scraping_project/k8s/helm/scraping-pipeline/templates/metrics-exporter-deployment.yaml
  Scraping_project/k8s/helm/scraping-pipeline/templates/monitoring-configmaps.yaml
  Scraping_project/k8s/helm/scraping-pipeline/templates/networkpolicy.yaml
  Scraping_project/k8s/helm/scraping-pipeline/templates/poddisruptionbudgets.yaml
  Scraping_project/k8s/helm/scraping-pipeline/templates/postgresql-statefulset.yaml
  Scraping_project/k8s/helm/scraping-pipeline/templates/prometheus-statefulset.yaml
  Scraping_project/k8s/helm/scraping-pipeline/templates/redis-statefulset.yaml
  Scraping_project/k8s/helm/scraping-pipeline/templates/resourcequota.yaml
  Scraping_project/k8s/helm/scraping-pipeline/templates/scrapy-deployment.yaml
  Scraping_project/k8s/helm/scraping-pipeline/templates/scrapy-hpa.yaml
  Scraping_project/k8s/helm/scraping-pipeline/templates/secrets.yaml
  Scraping_project/k8s/helm/scraping-pipeline/templates/stage-workers-deployments.yaml
  Scraping_project/k8s/helm/scraping-pipeline/templates/zookeeper-statefulset.yaml
  Scraping_project/k8s/helm/scraping-pipeline/values.yaml
  Scraping_project/trivy-reports/kafka-report.txt
  Scraping_project/trivy-reports/postgres-report.txt
  Scraping_project/trivy-reports/prometheus-report.txt
  Scraping_project/trivy-reports/redis-report.txt
  Scraping_project/trivy-reports/zookeeper-report.txt
Labels: none

issues with k8's
  .DS_Store
  Scraping_project/.dockerignore
  Scraping_project/=1.6.0
  Scraping_project/ISSUES_FOUND.md
  Scraping_project/QUICKSTART.md
  Scraping_project/README.md
  Scraping_project/cli.py
  Scraping_project/data/raw/uconn_urls.csv
  Scraping_project/diagnose.sh
  Scraping_project/docker-compose.yml
  Scraping_project/k8s/DEPLOYMENT_GUIDE.md
  Scraping_project/k8s/README.md
  Scraping_project/k8s/helm/scraping-pipeline/templates/scrapy-deployment.yaml
  Scraping_project/k8s/helm/scraping-pipeline/templates/secrets.yaml
  Scraping_project/k8s/helm/scraping-pipeline/values.yaml
  Scraping_project/monitoring/metrics_exporter.py
  Scraping_project/reseed.py
  Scraping_project/shutdown.py
  Scraping_project/src/common/delta_lake.py
  Scraping_project/src/stage1/base_spider.py
  Scraping_project/start.py
  Scraping_project/test_spider_simple.py
Labels: area/stage1, area/common

more tests and issues
  Scraping_project/.github/workflows/ci.yml
  Scraping_project/.github/workflows/main.yml
  Scraping_project/.pre-commit-config.yaml
  Scraping_project/Makefile
  Scraping_project/TESTING.md
  Scraping_project/src/common/config.py
  Scraping_project/start.py
  Scraping_project/tests/README.md
  Scraping_project/tests/conftest.py
  Scraping_project/tests/integration/test_redis_integration.py
  Scraping_project/tests/integration/test_stage1_seed_pipeline.py
  Scraping_project/tests/unit/common/test_delta_lake.py
  Scraping_project/tests/unit/common/test_postgres_manager.py
  Scraping_project/tests/unit/common/test_redis_manager.py
  Scraping_project/tests/unit/stage1/test_base_spider.py
  Scraping_project/tests/unit/stage1/test_js_detection.py
Labels: area/common, area/integration

more prooblems and solutions fixed spider logic and ensuring the tests are more helpful
  Scraping_project/SECURITY.md
  Scraping_project/config.yml
  Scraping_project/coverage.xml
  Scraping_project/docker-compose.yml
  Scraping_project/docs/MULTI_TIERED_SPIDER_SYSTEM.md
  Scraping_project/k8s/helm/scraping-pipeline/templates/secrets.yaml
  Scraping_project/k8s/helm/scraping-pipeline/values.yaml
  Scraping_project/kafka-delta-ingest/Cargo.lock
  Scraping_project/kafka-delta-ingest/Cargo.toml
  Scraping_project/kafka-delta-ingest/src/main.rs
  Scraping_project/monitoring/alerting/rules.yml
  Scraping_project/monitoring/dashboards/unified_dashboard.json.backup
  Scraping_project/monitoring/dashboards/unified_dashboard.json.json.backup.backup
  Scraping_project/monitoring/metrics_exporter.py
  Scraping_project/monitoring/prometheus.yml
  Scraping_project/pytest.ini
  Scraping_project/reseed.py
  Scraping_project/scripts/k8s_reset_and_deploy.sh
  Scraping_project/src/common/delta_lake.py
  Scraping_project/src/common/hidden_url_extractor.py
  Scraping_project/src/common/js_priority_queue.py
  Scraping_project/src/common/retry_middleware.py
  Scraping_project/src/common/url_value_assessor.py
  Scraping_project/src/stage1/base_spider.py
  Scraping_project/src/stage1/deep_dive_spider.py
  Scraping_project/src/stage1/js_spider.py
  Scraping_project/tests/common/test_delta_concurrency.py
  Scraping_project/tests/common/test_delta_lake_dynamic_tables.py
  Scraping_project/tests/component/test_spider_pipeline.py
  Scraping_project/tests/integration/test_redis_integration.py
  Scraping_project/tests/observability/test_grafana_ dashboards_offline.py
  Scraping_project/tests/observability/test_grafana_dashboards_offline.py
  Scraping_project/tests/performance/test_performance.py
  Scraping_project/tests/unit/common/test_delta_lake.py
  Scraping_project/tests/unit/common/test_postgres_manager.py
  Scraping_project/tests/unit/monitoring/test_metrics_exporter.py
  Scraping_project/tests/unit/monitoring/test_prometheus_config.py
  Scraping_project/tests/unit/stage1/test_base_spider.py
  Scraping_project/tests/unit/test_cli.py
Labels: area/stage1, area/common, area/integration

fix: Resolve linter issues to pass pre-commit hooks
  Scraping_project/docker-compose.yml
  Scraping_project/src/common/hidden_url_extractor.py
  Scraping_project/src/stage1/deep_dive_spider.py
  Scraping_project/tests/unit/common/test_delta_lake.py
  Scraping_project/tests/unit/stage1/test_base_spider.py
Labels: area/stage1, area/common

fix: Resolve Rust linter issues in kafka-delta-ingest
  Scraping_project/kafka-delta-ingest/Cargo.toml
  Scraping_project/kafka-delta-ingest/src/main.rs
Labels: none

new light modifications
  Scraping_project/TESTING.md
  Scraping_project/cli.py
  Scraping_project/coverage.xml
  Scraping_project/docs/QUICK_START_MULTI_TIER.md
  Scraping_project/kafka-delta-ingest/Cargo.lock
  Scraping_project/monitoring/metrics_exporter.py
  Scraping_project/pytest.ini
  Scraping_project/src/common/config_manager.py
  Scraping_project/src/common/crawl_data_manager.py
  Scraping_project/src/common/js_priority_queue.py
  Scraping_project/src/common/url_value_assessor.py
  Scraping_project/src/stage1/base_spider.py
  Scraping_project/src/stage1/js_spider.py
  Scraping_project/src/stage2/stage2_worker.py
  Scraping_project/tests/observability/test_alert_intervals.py
  Scraping_project/tests/performance/test_performance.py
  Scraping_project/tests/unit/common/test_postgres_manager.py
  Scraping_project/tests/unit/monitoring/test_metrics_exporter.py
  Scraping_project/tests/unit/monitoring/test_prometheus_config.py
  Scraping_project/tests/unit/test_stage2_worker.py
Labels: area/stage1, area/stage2, area/common

new light modifications
  Scraping_project/cli.py
  Scraping_project/src/common/config_manager.py
  Scraping_project/src/common/crawl_data_manager.py
  Scraping_project/src/stage1/base_spider.py
  Scraping_project/src/stage2/stage2_worker.py
  Scraping_project/tests/unit/test_stage2_worker.py
Labels: area/stage1, area/stage2, area/common

more helper functions to be used universally, fixed grafana, using ZSC for NER and stage 4 has more effort
  Scraping_project/.venv/pyvenv.cfg
  Scraping_project/README.md
  Scraping_project/STAGE4_QUICKSTART.md
  Scraping_project/config.yml
  Scraping_project/config/entity_summarization.example.yml
  Scraping_project/coverage.xml
  Scraping_project/docs/ENTITY_SUMMARIZATION.md
  Scraping_project/examples/entity_summarization_demo.py
  Scraping_project/requirements-stage4.txt
  Scraping_project/src/common/async_asr_processor.py
  Scraping_project/src/common/config_manager.py
  Scraping_project/src/common/delta_lake.py
  Scraping_project/src/common/scoring_metrics.py
  Scraping_project/src/common/storage_manager.py
  Scraping_project/src/common/url_extractor.py
  Scraping_project/src/common/url_processor.py
  Scraping_project/src/ml_service.py
  Scraping_project/src/pipelines.py
  Scraping_project/src/schemas.py
  Scraping_project/src/settings.py
  Scraping_project/src/stage1/base_spider.py
  Scraping_project/src/stage1/deep_dive_spider.py
  Scraping_project/src/stage1/js_spider.py
  Scraping_project/src/stage1/scout_spider.py
  Scraping_project/src/stage2/stage2_worker.py
  Scraping_project/src/stage4/entity_summarization.py
  Scraping_project/src/stage4/entity_worker_example.py
  Scraping_project/tests/conftest.py
  Scraping_project/tests/integration/test_high_integrity_pipeline.py
  Scraping_project/tests/unit/common/test_config_manager.py
  Scraping_project/tests/unit/common/test_storage_manager.py
  Scraping_project/tests/unit/common/test_url_processor.py
  Scraping_project/tests/unit/stage1/test_base_spider.py
  Scraping_project/tests/unit/stage1/test_normalize_url.py
  Scraping_project/tests/unit/stage4/test_entity_summarization.py
  Scraping_project/tests/unit/test_base_spider.py
Labels: area/stage1, area/stage2, area/common, area/integration

minor
  .DS_Store
  Scraping_project/data/raw/uconn_urls.csv
  Scraping_project/examples/entity_summarization_demo.py
  Scraping_project/src/common/async_asr_processor.py
  Scraping_project/src/common/delta_lake.py
  Scraping_project/src/common/scoring_metrics.py
  Scraping_project/src/common/storage_manager.py
  Scraping_project/src/common/url_processor.py
  Scraping_project/src/ml_service.py
  Scraping_project/src/pipelines.py
  Scraping_project/src/schemas.py
  Scraping_project/src/stage1/base_spider.py
  Scraping_project/src/stage1/js_spider.py
  Scraping_project/src/stage1/scout_spider.py
  Scraping_project/src/stage4/entity_summarization.py
  Scraping_project/src/stage4/entity_worker_example.py
  Scraping_project/tests/integration/test_high_integrity_pipeline.py
  Scraping_project/tests/unit/common/test_config_manager.py
  Scraping_project/tests/unit/common/test_storage_manager.py
  Scraping_project/tests/unit/common/test_url_processor.py
  Scraping_project/tests/unit/stage1/test_base_spider.py
  Scraping_project/tests/unit/stage4/test_entity_summarization.py
Labels: area/stage1, area/common, area/integration

Create README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

readme fix
  README.md
  Scraping_project/.env.example
  Scraping_project/docker-compose.yml
  Scraping_project/docker/init-db.sql
  Scraping_project/k8s/DEPLOYMENT_GUIDE.md
  Scraping_project/k8s/grafana-standalone.yaml
  Scraping_project/k8s/helm/scraping-pipeline/files/init-db.sql
  Scraping_project/k8s/helm/scraping-pipeline/values.yaml
  Scraping_project/monitoring/grafana_datasource.yml
  Scraping_project/scripts/README.md
  Scraping_project/scripts/reset_grafana_complete.sh
  Scraping_project/src/common/postgres_manager.py
  Scraping_project/tests/conftest.py
  Scraping_project/tests/integration/test_end_to_end.py
  coverage.xml
Labels: area/common, area/integration

Readme fixes
  LICENSE
  README.md
Labels: none

broken and needs work but fixed tests
  Scraping_project/STAGE1_REDESIGN_SUMMARY.md
  Scraping_project/STAGE4_QUICKSTART.md
  Scraping_project/TEST_README.md
  Scraping_project/config.yml
  Scraping_project/coverage.xml
  Scraping_project/docker-compose.yml
  Scraping_project/monitor_and_trigger_depth.py
  Scraping_project/monitoring/alerting/rules.yml
  Scraping_project/monitoring/alerting_rules.yml
  Scraping_project/monitoring/grafana_datasource.yml
  Scraping_project/monitoring/metrics_exporter.py
  Scraping_project/requirements.in
  Scraping_project/requirements.txt
  Scraping_project/run_all_tests.sh
  Scraping_project/src/common/delta_lake.py
  Scraping_project/src/common/hidden_url_extractor.py
  Scraping_project/src/common/spider_config.py
  Scraping_project/src/common/url_extractor.py
  Scraping_project/src/common/url_processor.py
  Scraping_project/src/settings.py
  Scraping_project/src/stage1/base_spider.py
  Scraping_project/src/stage1/depth_spider.py
  Scraping_project/src/stage1/js_detection.py
  Scraping_project/src/stage1/js_spider.py
  Scraping_project/src/stage1/scout_spider.py
  Scraping_project/src/stage1/sitemap_parser.py
  Scraping_project/test_minimal_urls.py
  Scraping_project/test_scout_limited.py
  Scraping_project/test_single_spider.py
  Scraping_project/test_start_requests.py
  Scraping_project/tests/conftest.py
  Scraping_project/tests/integration/test_stage1_seed_pipeline.py
  Scraping_project/tests/observability/test_alert_windows_vs_scrape.py
  Scraping_project/tests/unit/common/test_delta_lake.py
  Scraping_project/tests/unit/common/test_postgres_manager.py
  Scraping_project/tests/unit/common/test_url_processor.py
  Scraping_project/tests/unit/stage1/test_base_spider.py
  Scraping_project/tests/unit/test_scout_spider.py
  coverage.xml
Labels: area/stage1, area/common, area/integration

Production readiness improvements and code quality fixes
  Scraping_project/PRODUCTION_READY.md
  Scraping_project/src/common/async_asr_processor.py
  Scraping_project/src/common/config_manager.py
  Scraping_project/src/common/delta_lake.py
  Scraping_project/src/common/scoring_metrics.py
  Scraping_project/src/common/storage_manager.py
  Scraping_project/src/common/url_processor.py
  Scraping_project/src/common/url_value_assessor.py
  Scraping_project/src/lakehouse/lakehouse_manager.py
  Scraping_project/src/lakehouse/seed_manager.py
  Scraping_project/src/ml_service.py
  Scraping_project/src/pipelines.py
  Scraping_project/src/schemas.py
  Scraping_project/src/scrapy_prometheus.py
  Scraping_project/src/stage1/base_spider.py
  Scraping_project/src/stage1/depth_spider.py
  Scraping_project/src/stage1/js_spider.py
  Scraping_project/src/stage1/scout_spider.py
  Scraping_project/src/stage4/entity_summarization.py
Labels: area/stage1, area/common

Complete production deployment with monitoring, testing, and documentation
  DOCKER_DEPLOYMENT_GUIDE.md
  FINAL_VERIFICATION.md
  docker-compose.production.yml
  monitoring/loki-config.yml
  monitoring/otel-collector-config.yml
  scripts/automated_backup.sh
  scripts/verify_deployment.sh
  test_pipeline_10k.py
Labels: none

feat: Pipeline is now RUNNING with real data
  Scraping_project/logs/metrics_exporter.pid
  Scraping_project/logs/scout_spider.pid
  Scraping_project/temp_scripts/CHECK_PIPELINE_STATUS.sh
  Scraping_project/temp_scripts/COMPLETE_SYSTEM_STATUS.sh
  Scraping_project/temp_scripts/PIPELINE_STATUS.md
  Scraping_project/temp_scripts/START_PIPELINE.sh
  Scraping_project/temp_scripts/STOP_PIPELINE.sh
  Scraping_project/temp_scripts/metrics_exporter.py
  Scraping_project/temp_scripts/run_spider_daemon.py
  Scraping_project/temp_scripts/seed_urls.py
  temp_scripts/automated_backup.sh
  temp_scripts/verify_deployment.sh
Labels: none

feat: Stage 2 architecture analyzed and documented
  Scraping_project/temp_scripts/STAGE2_FIXED_SUMMARY.md
  Scraping_project/temp_scripts/run_full_pipeline.py
  Scraping_project/temp_scripts/run_stage2.py
  Scraping_project/temp_scripts/simple_stage1_test.py
  Scraping_project/temp_scripts/simple_stage2_test.py
Labels: none

feat: Complete Stage 3, Stage 4, and Pipeline Orchestrator
  Scraping_project/src/orchestrator/__init__.py
  Scraping_project/src/orchestrator/pipeline_orchestrator.py
  Scraping_project/src/stage4/stage4_worker.py
  Scraping_project/temp_scripts/COMPLETE_PIPELINE_SUMMARY.md
  Scraping_project/temp_scripts/ORCHESTRATOR_GUIDE.md
  Scraping_project/temp_scripts/run_individual_stage.py
  Scraping_project/temp_scripts/run_orchestrator.py
Labels: none

feat: Complete production deployment with live dashboard and real metrics
  Scraping_project/logs/metrics_exporter.pid
  Scraping_project/src/lakehouse/lakehouse_manager.py
  Scraping_project/temp_scripts/PRODUCTION_READY_SUMMARY.md
  Scraping_project/temp_scripts/enhanced_metrics_exporter.py
  Scraping_project/temp_scripts/pipeline_dashboard.html
  Scraping_project/temp_scripts/seed_real_uconn_urls.py
  Scraping_project/temp_scripts/serve_dashboard.py
  Scraping_project/temp_scripts/test_pipeline_with_mock_data.py
Labels: none

test: Add comprehensive TDD test suite and fix import/method issues
  Scraping_project/src/stage2/stage2_worker.py
  Scraping_project/src/stage3/stage3_worker.py
  Scraping_project/src/stage4/large_doc_processor.py
  Scraping_project/temp_scripts/comprehensive_tdd_test.py
  Scraping_project/temp_scripts/quick_pipeline_test.py
Labels: area/stage2, area/stage3, area/nlp

docs: Phase 2 complete - pipeline architecture validated
  Scraping_project/PHASE2_COMPLETE.md
  Scraping_project/logs/metrics_exporter.pid
  Scraping_project/temp_scripts/phase2_validation_test.py
Labels: none

feat: Phase 2 optimization complete - 100% tests passing
  Scraping_project/PHASE2_IMPROVEMENTS.md
  Scraping_project/temp_scripts/mock_http_server.py
  Scraping_project/temp_scripts/test_edge_cases.py
  Scraping_project/temp_scripts/test_with_mock_server.py
Labels: none

feat: Complete Phase 3 - Production deployment validation
  Scraping_project/PHASE3_STATUS.md
  Scraping_project/temp_scripts/performance_test_100_urls.py
  Scraping_project/temp_scripts/validate_docker_setup.py
Labels: none

feat: Complete Phase 4 - Enhanced testing and modern dashboard
  Scraping_project/PHASE4_COMPLETE.md
  Scraping_project/REORGANIZATION_PLAN.md
  Scraping_project/dashboard/app.js
  Scraping_project/dashboard/index.html
  Scraping_project/dashboard/serve.py
  Scraping_project/tests/integration/test_full_pipeline_integration.py
  Scraping_project/tests/performance/test_load_stress.py
Labels: area/integration

feat: Begin code reorganization - Create utils and core modules
  Scraping_project/CODE_AUDIT_REPORT.md
  Scraping_project/DEPLOYMENT_SUMMARY.md
  Scraping_project/audit_file_counts.py
  Scraping_project/src/common/__init__.py
  Scraping_project/src/core/__init__.py
  Scraping_project/src/core/config.py
  Scraping_project/src/core/constants.py
  Scraping_project/src/core/exceptions.py
  Scraping_project/src/utils/__init__.py
  Scraping_project/src/utils/delta.py
  Scraping_project/src/utils/redis.py
  Scraping_project/src/utils/validation.py
Labels: area/common

docs: Complete session summary - All tasks accomplished
  Scraping_project/SESSION_COMPLETE.md
Labels: none

feat: Phase 3 file migration - Reorganize codebase structure
  Scraping_project/examples/stage4/entity_worker_example.py
  Scraping_project/src/common/config_deprecated.py
  Scraping_project/src/common/config_manager_deprecated.py
  Scraping_project/src/common/constants_deprecated.py
  Scraping_project/src/common/delta_lake_deprecated.py
  Scraping_project/src/common/postgres_manager_deprecated.py
  Scraping_project/src/common/redis_manager_deprecated.py
  Scraping_project/src/common/seed_manager.py
  Scraping_project/src/common/storage_manager_deprecated.py
  Scraping_project/src/lakehouse/seed_manager.py
  Scraping_project/src/stage1/experimental/__init__.py
  Scraping_project/src/stage1/experimental/base_spider.py
  Scraping_project/src/stage1/experimental/deep_dive_spider.py
  Scraping_project/src/stage1/experimental/depth_spider.py
  Scraping_project/src/stage1/experimental/js_spider.py
  Scraping_project/src/stage1/middlewares/__init__.py
  Scraping_project/src/stage1/middlewares/retry_middleware.py
  Scraping_project/src/stage1/middlewares/spider_config.py
  Scraping_project/src/stage1/processors/__init__.py
  Scraping_project/src/stage1/processors/hidden_url_extractor.py
  Scraping_project/src/stage1/processors/js_priority_queue.py
  Scraping_project/src/stage1/processors/url_extractor.py
  Scraping_project/src/stage1/processors/url_processor.py
Labels: area/stage1, area/common

docs: Complete Phase 3 reorganization documentation
  Scraping_project/REORGANIZATION_COMPLETE.md
Labels: none

feat: Complete Phase 4-5 reorganization - Import updates and cleanup
  Scraping_project/src/common/__init__.py
  Scraping_project/src/common/config_deprecated.py
  Scraping_project/src/common/config_manager_deprecated.py
  Scraping_project/src/common/constants_deprecated.py
  Scraping_project/src/common/crawl_data_manager.py
  Scraping_project/src/common/delta_lake_deprecated.py
  Scraping_project/src/core/constants.py
  Scraping_project/src/lakehouse/lakehouse_manager.py
  Scraping_project/src/orchestrator/pipeline_orchestrator.py
  Scraping_project/src/pipelines.py
  Scraping_project/src/stage1/experimental/base_spider.py
  Scraping_project/src/stage1/experimental/deep_dive_spider.py
  Scraping_project/src/stage1/experimental/depth_spider.py
  Scraping_project/src/stage1/experimental/js_spider.py
  Scraping_project/src/stage1/middlewares/retry_middleware.py
  Scraping_project/src/stage1/middlewares/spider_config.py
  Scraping_project/src/stage1/processors/url_processor.py
  Scraping_project/src/stage1/scout_spider.py
  Scraping_project/src/stage2/intelligent_analyzer.py
  Scraping_project/src/stage2/stage2_worker.py
  Scraping_project/src/stage3/stage3_worker.py
  Scraping_project/src/stage4/entity_summarization.py
  Scraping_project/src/stage4/large_doc_processor.py
  Scraping_project/src/stage4/stage4_worker.py
  Scraping_project/src/stage4/summarization.py
Labels: area/stage1, area/stage2, area/stage3, area/common, area/nlp

docs: Add Phase 4-5 completion documentation
  Scraping_project/PHASE_4_5_COMPLETE.md
Labels: none

feat: Complete Phase 5 cleanup and define Phases 6-10 evolution strategy
  Scraping_project/EVOLUTION_ROADMAP.md
  Scraping_project/PHASE_10_STRATEGY.md
  Scraping_project/PHASE_6_STRATEGY.md
  Scraping_project/PHASE_7_STRATEGY.md
  Scraping_project/PHASE_8_STRATEGY.md
  Scraping_project/PHASE_9_STRATEGY.md
  Scraping_project/src/common/postgres_manager_deprecated.py
  Scraping_project/src/common/redis_manager_deprecated.py
  Scraping_project/src/common/storage_manager_deprecated.py
  Scraping_project/src/stage1/experimental/base_spider.py
  Scraping_project/src/stage1/experimental/depth_spider.py
  Scraping_project/src/stage1/experimental/js_spider.py
  Scraping_project/src/stage1/middlewares/retry_middleware.py
  Scraping_project/src/stage1/scout_spider.py
  Scraping_project/src/stage2/stage2_worker.py
  Scraping_project/src/stage3/stage3_worker.py
Labels: area/stage1, area/stage2, area/stage3, area/common, area/nlp

feat: Implement Phase 6 (Type Safety) and Phase 7 (Error Handling) infrastructure
  Scraping_project/mypy.ini
  Scraping_project/src/core/exceptions.py
  Scraping_project/src/core/models.py
  Scraping_project/src/core/schemas.py
  Scraping_project/src/utils/dead_letter_queue.py
  Scraping_project/src/utils/delta.py
  Scraping_project/src/utils/retry.py
Labels: none

feat: Complete Phase 8-10 implementation (Performance, Testing, Deployment)
  Scraping_project/.dockerignore
  Scraping_project/.github/workflows/ci-cd.yml
  Scraping_project/CODE_AUDIT_REPORT.md
  Scraping_project/DEPLOYMENT.md
  Scraping_project/DEPLOYMENT_SUMMARY.md
  Scraping_project/Dockerfile
  Scraping_project/PHASE2_COMPLETE.md
  Scraping_project/PHASE2_IMPROVEMENTS.md
  Scraping_project/PHASE3_STATUS.md
  Scraping_project/PHASE4_COMPLETE.md
  Scraping_project/PHASE_4_5_COMPLETE.md
  Scraping_project/REORGANIZATION_COMPLETE.md
  Scraping_project/REORGANIZATION_PLAN.md
  Scraping_project/SESSION_COMPLETE.md
  Scraping_project/docker-compose.yml
  Scraping_project/k8s/deployment.yaml
  Scraping_project/monitoring/alerts.yml
  Scraping_project/monitoring/prometheus.yml
  Scraping_project/src/lakehouse/lakehouse_manager.py
  Scraping_project/src/orchestrator/pipeline_orchestrator.py
  Scraping_project/src/pipelines.py
  Scraping_project/src/scrapy_prometheus.py
  Scraping_project/src/stage1/experimental/base_spider.py
  Scraping_project/src/stage4/entity_summarization.py
  Scraping_project/src/stage4/stage4_worker.py
  Scraping_project/src/stage4/summarization.py
  Scraping_project/src/utils/cache.py
  Scraping_project/src/utils/connection_pool.py
  Scraping_project/src/utils/profiler.py
  Scraping_project/tests/README.md
  Scraping_project/tests/conftest.py
  Scraping_project/tests/test_cache.py
  Scraping_project/tests/test_models.py
  Scraping_project/tests/test_retry.py
Labels: area/stage1

test: Fix test fixtures and update comprehensive README
  Scraping_project/README.md
  Scraping_project/tests/conftest.py
  Scraping_project/tests/test_models.py
Labels: none

Remove tracked .venv/pyvenv.cfg (#150)
  Scraping_project/.venv/pyvenv.cfg
Labels: none

Remove tracked .venv/share/man/man1/isympy.1 (#150)
  Scraping_project/.venv/share/man/man1/isympy.1
Labels: none

Remove tracked Scraping_project/coverage.xml (#150)
  Scraping_project/coverage.xml
Labels: none

Remove tracked root .DS_Store (#150)
  .DS_Store
Labels: none

.github/labeler.yml:

area/stage1:
  - "Scraping_project/src/stage1/**"
area/stage2:
  - "Scraping_project/src/stage2/**"
area/stage3:
  - "Scraping_project/src/stage3/**"
area/common:
  - "Scraping_project/src/common/**"
area/integration:
  - "Scraping_project/tests/integration/**"
area/nlp:
  - "Scraping_project/src/common/nlp.py"
  - "Scraping_project/src/stage3/**"
area/ci:
  - ".github/**"
