Repository BenjaminSRussell/Scrapy, changes with the labels that .github/labeler.yml gives for each.
All labels: area/stage1, area/stage2, area/stage3, area/common, area/integration, area/nlp, area/ci

Document every .dockerignore exclusion; keep Dockerfile/compose/monitoring in context (#625) (#1217)
  Scraping_project/.dockerignore
  Scraping_project/README.md
  Scraping_project/tests/unit/test_dockerignore.py
Labels: none

start.py --dry-run: validate and plan without touching Redis or anything else (#733)
  Scraping_project/start.py
  Scraping_project/tests/unit/test_start_dry_run_733.py
Labels: none

Orchestrator: aborted runs end in a terminal 'aborted' state with stage + metric; fresh stats per run (#684) (#1280)
  Scraping_project/src/orchestrator/pipeline_orchestrator.py
  Scraping_project/tests/unit/test_orchestrator_abort_684.py
Labels: none

ml_service: mark health server 0.0.0.0 bind as intentional (bandit B104)
  Scraping_project/src/ml_service.py
Labels: none

Test: Stage 1 duplicate filter under concurrency (#718)
  Scraping_project/tests/unit/stage1/test_dedup_concurrency_718.py
Labels: none

Helm Stage 4 worker plus consistent start.py --stage toggles (#504)
  Scraping_project/k8s/README.md
  Scraping_project/k8s/helm/scraping-pipeline/templates/networkpolicy.yaml
  Scraping_project/k8s/helm/scraping-pipeline/templates/stage-workers-deployments.yaml
  Scraping_project/k8s/helm/scraping-pipeline/values.yaml
  Scraping_project/start.py
  Scraping_project/tests/unit/test_helm_stage4_504.py
  Scraping_project/tests/unit/test_start_local_services.py
Labels: none

Stage 1 fetch policy: sitemap lastmod watermarks, scoped cookies, large-doc timeouts
  Scraping_project/config.yml
  Scraping_project/src/settings.py
  Scraping_project/src/stage1/middlewares/fetch_policy_middleware.py
  Scraping_project/src/stage1/middlewares/spider_config.py
  Scraping_project/src/stage1/sitemap_parser.py
  Scraping_project/tests/unit/stage1/test_fetch_policy_middleware.py
  Scraping_project/tests/unit/stage1/test_sitemap_bounded_walk.py
  Scraping_project/tests/unit/stage1/test_sitemap_incremental_lastmod.py
Labels: area/stage1

Helm: PDBs for scraper, stage2-4 workers and redis; single-replica stores no longer block drains (#514); fix networkPolicy render (int64 in untilStep)
  Scraping_project/k8s/helm/scraping-pipeline/templates/networkpolicy.yaml
  Scraping_project/k8s/helm/scraping-pipeline/templates/poddisruptionbudgets.yaml
  Scraping_project/k8s/helm/scraping-pipeline/values.yaml
  Scraping_project/tests/unit/test_helm_pdb_514.py
Labels: none

Scout adapts to noisy sections: stop following trap/low-confidence links and cap the rest once a section is mostly noise (#26) (#1261)
  Scraping_project/config.yml
  Scraping_project/src/stage1/scout_spider.py
  Scraping_project/src/stage1/section_noise.py
  Scraping_project/tests/unit/stage1/test_section_noise.py
Labels: area/stage1

Global crawl kill switch + request/byte budgets honored by Stage 1 and Stage 2; audit log, CLI, SEV1 runbook (#456) (#1275)
  Scraping_project/cli.py
  Scraping_project/docs/runbooks/sev1_abuse_kill_switch.md
  Scraping_project/src/stage1/middlewares/crawl_guard_middleware.py
  Scraping_project/src/stage1/middlewares/spider_config.py
  Scraping_project/src/stage2/stage2_worker.py
  Scraping_project/src/utils/crawl_guard.py
  Scraping_project/tests/unit/test_crawl_guard_kill_switch.py
Labels: area/stage1, area/stage2

Graceful SIGTERM/SIGINT drain for Stage 2/3/4 workers; shared shutdown helper
  Scraping_project/DEPLOYMENT.md
  Scraping_project/shutdown.py
  Scraping_project/src/lakehouse/lakehouse_manager.py
  Scraping_project/src/stage2/stage2_worker.py
  Scraping_project/src/stage3/stage3_worker.py
  Scraping_project/src/stage4/stage4_worker.py
  Scraping_project/src/utils/graceful_shutdown.py
  Scraping_project/tests/unit/test_graceful_worker_drain.py
Labels: area/stage2, area/stage3, area/nlp

Stage 2: Stage 1 content policy for routing (#205) + fetch body caps (#248)
  Scraping_project/config.yml
  Scraping_project/k8s/helm/scraping-pipeline/files/monitoring/alerting_rules.yml
  Scraping_project/monitoring/alerting_rules.yml
  Scraping_project/src/stage1/content_policy.py
  Scraping_project/src/stage2/stage2_worker.py
  Scraping_project/tests/unit/stage2/test_stage2_content_routing.py
Labels: area/stage1, area/stage2

CI: stop main-CI starvation: per-PR/ref concurrency (cancel superseded PR runs), push on main/tags only, job timeouts
  .github/workflows/cd-release.yml
  .github/workflows/ci-dashboard.yml
  .github/workflows/ci-kafka-alerts.yml
  .github/workflows/ci-observability-offline.yml
  .github/workflows/main.yml
  Scraping_project/tests/unit/test_ci_workflow_concurrency.py
Labels: area/ci

CI: stop main-CI starvation: per-PR/ref concurrency (cancel superseded PR runs), push on main/tags only, job timeouts (#1289)
  .github/workflows/cd-release.yml
  .github/workflows/ci-dashboard.yml
  .github/workflows/ci-kafka-alerts.yml
  .github/workflows/ci-observability-offline.yml
  .github/workflows/main.yml
  Scraping_project/tests/unit/test_ci_workflow_concurrency.py
Labels: area/ci

Unit suites for sitemap_parser, spider_config, settings, DLQ, connection pool, Prometheus metrics; fix bugs they found
  Scraping_project/src/scrapy_prometheus.py
  Scraping_project/src/stage1/sitemap_parser.py
  Scraping_project/src/utils/connection_pool.py
  Scraping_project/src/utils/dead_letter_queue.py
  Scraping_project/tests/fixtures/sitemaps/README.md
  Scraping_project/tests/fixtures/sitemaps/billion_laughs.xml
  Scraping_project/tests/fixtures/sitemaps/broken.xml
  Scraping_project/tests/fixtures/sitemaps/error_page.html
  Scraping_project/tests/fixtures/sitemaps/index.xml
  Scraping_project/tests/fixtures/sitemaps/news.xml.gz
  Scraping_project/tests/fixtures/sitemaps/no_namespace.xml
  Scraping_project/tests/fixtures/sitemaps/pages.xml
  Scraping_project/tests/fixtures/sitemaps/plain.txt
  Scraping_project/tests/fixtures/sitemaps/xxe.xml
  Scraping_project/tests/unit/stage1/test_sitemap_fixtures.py
  Scraping_project/tests/unit/stage1/test_spider_config_settings.py
  Scraping_project/tests/unit/test_scrapy_prometheus_registry.py
  Scraping_project/tests/unit/test_settings_critical_keys.py
  Scraping_project/tests/unit/utils/test_connection_pool.py
  Scraping_project/tests/unit/utils/test_dead_letter_queue.py
Labels: area/stage1

Test: Stage 1 duplicate filter under concurrency (#718) (#1286)
  Scraping_project/tests/unit/stage1/test_dedup_concurrency_718.py
Labels: none

Shell scripts: strict mode standard, applied without breaking behaviour (#822) (#1283)
  Scraping_project/access_grafana.sh
  Scraping_project/diagnose.sh
  Scraping_project/docker/entrypoints/crawler-entrypoint.sh
  Scraping_project/docker/entrypoints/kafka-delta-ingest-entrypoint.sh
  Scraping_project/docker/entrypoints/metrics-exporter-entrypoint.sh
  Scraping_project/rebuild_env.sh
  Scraping_project/scripts/SHELL_STANDARD.md
  Scraping_project/scripts/complete_reset.sh
  Scraping_project/scripts/compose_lib.sh
  Scraping_project/scripts/diagnose_issues.sh
  Scraping_project/scripts/k8s_reset_and_deploy.sh
  Scraping_project/scripts/reset_grafana_complete.sh
  Scraping_project/tests/unit/test_shell_strict_mode_822.py
Labels: none

SSRF guard for downloads, redirects and queueing (#682) (#1227)
  Scraping_project/README.md
  Scraping_project/src/pipelines.py
  Scraping_project/src/settings.py
  Scraping_project/src/stage1/middlewares/spider_config.py
  Scraping_project/src/stage1/middlewares/ssrf_middleware.py
  Scraping_project/src/stage2/stage2_worker.py
  Scraping_project/src/utils/ssrf.py
  Scraping_project/tests/unit/stage2/test_stage2_http_retry.py
  Scraping_project/tests/unit/stage2/test_stage2_per_host_cap.py
  Scraping_project/tests/unit/stage2/test_stage2_shared_session.py
  Scraping_project/tests/unit/test_soft_ban.py
  Scraping_project/tests/unit/test_ssrf_guard.py
Labels: area/stage1, area/stage2

feat(lakehouse): TTL GC for completed/failed stage queue rows (#754) (#1256)
  Scraping_project/cli.py
  Scraping_project/config.yml
  Scraping_project/src/lakehouse/lakehouse_manager.py
  Scraping_project/tests/unit/test_queue_gc_754.py
Labels: none

Delta: config-driven partitions (domain/date), existing layout wins, declared tables
  Scraping_project/config.yml
  Scraping_project/docs/DELTA_PARTITIONING.md
  Scraping_project/src/lakehouse/lakehouse_manager.py
  Scraping_project/tests/unit/test_delta_partitions.py
Labels: none

Unit suites for sitemap_parser, spider_config, settings, DLQ, connection pool, Prometheus metrics; fix bugs they found (#1291)
  Scraping_project/src/scrapy_prometheus.py
  Scraping_project/src/stage1/sitemap_parser.py
  Scraping_project/src/utils/connection_pool.py
  Scraping_project/src/utils/dead_letter_queue.py
  Scraping_project/tests/fixtures/sitemaps/README.md
  Scraping_project/tests/fixtures/sitemaps/billion_laughs.xml
  Scraping_project/tests/fixtures/sitemaps/broken.xml
  Scraping_project/tests/fixtures/sitemaps/error_page.html
  Scraping_project/tests/fixtures/sitemaps/index.xml
  Scraping_project/tests/fixtures/sitemaps/news.xml.gz
  Scraping_project/tests/fixtures/sitemaps/no_namespace.xml
  Scraping_project/tests/fixtures/sitemaps/pages.xml
  Scraping_project/tests/fixtures/sitemaps/plain.txt
  Scraping_project/tests/fixtures/sitemaps/xxe.xml
  Scraping_project/tests/unit/stage1/test_sitemap_fixtures.py
  Scraping_project/tests/unit/stage1/test_spider_config_settings.py
  Scraping_project/tests/unit/test_scrapy_prometheus_registry.py
  Scraping_project/tests/unit/test_settings_critical_keys.py
  Scraping_project/tests/unit/utils/test_connection_pool.py
  Scraping_project/tests/unit/utils/test_dead_letter_queue.py
Labels: area/stage1

fix: [P1] Prometheus scrape annotations missing on some Helm worker pods (#789) (#1255)
  Scraping_project/README.md
  Scraping_project/k8s/README.md
  Scraping_project/k8s/deployment.yaml
  Scraping_project/k8s/helm/scraping-pipeline/templates/networkpolicy.yaml
  Scraping_project/k8s/helm/scraping-pipeline/templates/prometheus-statefulset.yaml
  Scraping_project/k8s/helm/scraping-pipeline/templates/stage-workers-deployments.yaml
  Scraping_project/k8s/helm/scraping-pipeline/templates/worker-metrics-services.yaml
  Scraping_project/k8s/helm/scraping-pipeline/values.yaml
  Scraping_project/monitoring/prometheus.yml
  Scraping_project/src/stage2/stage2_worker.py
  Scraping_project/src/stage3/stage3_worker.py
  Scraping_project/src/stage4/stage4_worker.py
  Scraping_project/src/utils/worker_metrics.py
  Scraping_project/src/workers/stage2_worker.py
  Scraping_project/src/workers/stage3_worker.py
  Scraping_project/src/workers/stage4_worker.py
  Scraping_project/tests/unit/test_worker_metrics_scrape.py
Labels: area/stage2, area/stage3, area/nlp

JS rendering: bounded priority queue (max size + TTL, metrics) and config-driven Playwright resource blocking applied from first request (#377, #390) (#1282)
  Scraping_project/config.yml
  Scraping_project/docs/JS_RENDERING.md
  Scraping_project/src/stage1/experimental/js_spider.py
  Scraping_project/src/stage1/experimental/playwright_blocking.py
  Scraping_project/src/stage1/processors/js_priority_queue.py
  Scraping_project/tests/unit/stage1/test_js_priority_queue_bounds.py
  Scraping_project/tests/unit/stage1/test_playwright_blocking.py
Labels: area/stage1

Stage 4 entity summarization: loadable, validated config (STAGE4_ENTITY_CONFIG)
  Scraping_project/config/entity_summarization.example.yml
  Scraping_project/examples/entity_summarization_demo.py
  Scraping_project/examples/stage4/entity_worker_example.py
  Scraping_project/src/stage4/entity_config.py
  Scraping_project/src/stage4/entity_summarization.py
  Scraping_project/tests/unit/stage4/test_entity_config.py
Labels: none

RetryAfter: count the wait from the 429 and disable slot jitter while it is enforced
  Scraping_project/src/stage1/middlewares/retry_after_middleware.py
  Scraping_project/tests/unit/stage1/test_retry_after.py
Labels: area/stage1

start.py --dry-run (#733) + Helm Stage 4 worker (#504) + PDBs (#514) + networkPolicy render fix (#1285)
  Scraping_project/k8s/README.md
  Scraping_project/k8s/helm/scraping-pipeline/templates/networkpolicy.yaml
  Scraping_project/k8s/helm/scraping-pipeline/templates/poddisruptionbudgets.yaml
  Scraping_project/k8s/helm/scraping-pipeline/templates/prometheus-statefulset.yaml
  Scraping_project/k8s/helm/scraping-pipeline/templates/stage-workers-deployments.yaml
  Scraping_project/k8s/helm/scraping-pipeline/templates/worker-metrics-services.yaml
  Scraping_project/k8s/helm/scraping-pipeline/values.yaml
  Scraping_project/start.py
  Scraping_project/tests/unit/test_helm_pdb_514.py
  Scraping_project/tests/unit/test_helm_stage4_504.py
  Scraping_project/tests/unit/test_start_dry_run_733.py
  Scraping_project/tests/unit/test_start_local_services.py
  Scraping_project/tests/unit/test_worker_metrics_scrape.py
Labels: none

SSRF guard for Stage 2 and ASR media fetches: block private/loopback/link-local/metadata targets, redirects and DNS answers (#450) (#1264)
  Scraping_project/src/common/async_asr_processor.py
  Scraping_project/src/stage2/stage2_worker.py
  Scraping_project/src/utils/ssrf.py
  Scraping_project/tests/unit/test_asr_temp_cleanup.py
  Scraping_project/tests/unit/test_ssrf_dns_and_asr.py
Labels: area/stage2, area/common

One URL canonicalization for Redis, Delta, seeds and spiders (#728) (#1218)
  Scraping_project/README.md
  Scraping_project/src/lakehouse/seed_manager.py
  Scraping_project/src/pipelines.py
  Scraping_project/src/stage1/experimental/base_spider.py
  Scraping_project/src/stage1/experimental/js_spider.py
  Scraping_project/src/stage1/processors/url_processor.py
  Scraping_project/src/utils/redis.py
  Scraping_project/src/utils/url_canon.py
  Scraping_project/src/utils/validation.py
  Scraping_project/tests/unit/test_pipeline_batch_bounds.py
  Scraping_project/tests/unit/test_url_canonicalization.py
  Scraping_project/tests/unit/test_url_validation_properties_757_760.py
Labels: area/stage1

ml_service ZSC: /readyz gate until warm-up, offline stub tests, low-confidence review export (#485, #296, #422) (#1279)
  MONITORING.md
  Scraping_project/cli.py
  Scraping_project/src/ml_service.py
  Scraping_project/tests/unit/test_ml_service_offline.py
Labels: none

Stage 1 fetch policy: sitemap lastmod watermarks, scoped cookies, large-doc timeouts (#1287)
  Scraping_project/config.yml
  Scraping_project/src/settings.py
  Scraping_project/src/stage1/middlewares/fetch_policy_middleware.py
  Scraping_project/src/stage1/middlewares/spider_config.py
  Scraping_project/src/stage1/sitemap_parser.py
  Scraping_project/tests/unit/stage1/test_fetch_policy_middleware.py
  Scraping_project/tests/unit/stage1/test_sitemap_bounded_walk.py
  Scraping_project/tests/unit/stage1/test_sitemap_incremental_lastmod.py
Labels: area/stage1

Unit suites for validation, items, URL scoring, crawl data and seeds + the bugs they found
  Scraping_project/src/common/crawl_data_manager.py
  Scraping_project/src/common/scoring_metrics.py
  Scraping_project/src/common/url_value_assessor.py
  Scraping_project/src/items.py
  Scraping_project/src/lakehouse/seed_manager.py
  Scraping_project/src/pipelines.py
  Scraping_project/src/utils/validation.py
  Scraping_project/tests/unit/common/test_crawl_data_manager_insights.py
  Scraping_project/tests/unit/common/test_url_value_and_scoring.py
  Scraping_project/tests/unit/test_items.py
  Scraping_project/tests/unit/test_seed_manager_validation.py
  Scraping_project/tests/unit/utils/test_validation_urls.py
Labels: area/common

RetryAfter: count the wait from the 429 and disable slot jitter while it is enforced (#1293)
  Scraping_project/src/stage1/middlewares/retry_after_middleware.py
  Scraping_project/tests/unit/stage1/test_retry_after.py
Labels: area/stage1

Stage 2/4 unit suites (intelligent_analyzer, large_doc_processor, summarization) + the bugs they found
  Scraping_project/src/stage2/intelligent_analyzer.py
  Scraping_project/src/stage4/large_doc_processor.py
  Scraping_project/src/stage4/summarization.py
  Scraping_project/tests/unit/stage2/test_intelligent_analyzer.py
  Scraping_project/tests/unit/stage4/test_large_doc_processor.py
  Scraping_project/tests/unit/stage4/test_summarization_lengths.py
Labels: area/stage2

logging_config: stage/worker_id/crawl_job_id on every line, LOG_FORMAT=json; Stage 2-4 entrypoints finally log INFO (#466, #238) (#1284)
  Scraping_project/.env.example
  Scraping_project/cli.py
  Scraping_project/src/utils/logging_config.py
  Scraping_project/src/workers/stage1_worker.py
  Scraping_project/src/workers/stage2_worker.py
  Scraping_project/src/workers/stage3_worker.py
  Scraping_project/src/workers/stage4_worker.py
  Scraping_project/tests/unit/test_logging_config.py
Labels: none

Graceful SIGTERM/SIGINT drain for Stage 2/3/4 workers; shared shutdown helper (#1288)
  Scraping_project/DEPLOYMENT.md
  Scraping_project/shutdown.py
  Scraping_project/src/lakehouse/lakehouse_manager.py
  Scraping_project/src/stage2/stage2_worker.py
  Scraping_project/src/stage3/stage3_worker.py
  Scraping_project/src/stage4/stage4_worker.py
  Scraping_project/src/utils/graceful_shutdown.py
  Scraping_project/tests/unit/test_graceful_worker_drain.py
Labels: area/stage2, area/stage3, area/nlp

Unit suites for validation, items, URL scoring, crawl data and seeds + the bugs they found (#1294)
  Scraping_project/src/common/crawl_data_manager.py
  Scraping_project/src/common/scoring_metrics.py
  Scraping_project/src/common/url_value_assessor.py
  Scraping_project/src/items.py
  Scraping_project/src/lakehouse/seed_manager.py
  Scraping_project/src/pipelines.py
  Scraping_project/src/utils/validation.py
  Scraping_project/tests/unit/common/test_crawl_data_manager_insights.py
  Scraping_project/tests/unit/common/test_url_value_and_scoring.py
  Scraping_project/tests/unit/test_items.py
  Scraping_project/tests/unit/test_seed_manager_validation.py
  Scraping_project/tests/unit/utils/test_validation_urls.py
Labels: area/common

Stage 4 entity summarization: loadable, validated config (STAGE4_ENTITY_CONFIG) (#1295)
  Scraping_project/config/entity_summarization.example.yml
  Scraping_project/examples/entity_summarization_demo.py
  Scraping_project/examples/stage4/entity_worker_example.py
  Scraping_project/src/stage4/entity_config.py
  Scraping_project/src/stage4/entity_summarization.py
  Scraping_project/tests/unit/stage4/test_entity_config.py
Labels: none

Docs: configuration/running/monitoring/data-usage guides; root README uses the real APIs; spider -a allowed_domains/start_urls parsed (#54 #55 #56 #57 #58 #138 #139 #152)
  README.md
  Scraping_project/README.md
  Scraping_project/docs/guides/CONFIGURATION.md
  Scraping_project/docs/guides/DATA_USAGE.md
  Scraping_project/docs/guides/MONITORING.md
  Scraping_project/docs/guides/README.md
  Scraping_project/docs/guides/RUNNING.md
  Scraping_project/src/stage1/experimental/base_spider.py
  Scraping_project/tests/unit/stage1/test_spider_domain_args.py
  Scraping_project/tests/unit/test_docs_examples.py
Labels: area/stage1

test: FakeSession.get is awaitable, matching the SSRF-guarded fetch from main (#682)
  Scraping_project/tests/unit/stage2/test_stage2_content_routing.py
Labels: none

Test: offline robots.txt fixtures for disallow groups, allow override, crawl-delay, wildcards (#526)
  Scraping_project/tests/fixtures/robots/allow_override.txt
  Scraping_project/tests/fixtures/robots/bot_specific.txt
  Scraping_project/tests/fixtures/robots/crawl_delay.txt
  Scraping_project/tests/fixtures/robots/disallow_groups.txt
  Scraping_project/tests/fixtures/robots/malformed.txt
  Scraping_project/tests/fixtures/robots/wildcard.txt
  Scraping_project/tests/unit/stage1/test_robots_fixtures_526.py
Labels: none

.github/labeler.yml:

area/stage1:
  - "Scraping_project/src/stage1/**"
area/stage2:
  - "Scraping_project/src/stage2/**"
area/stage3:
  - "Scraping_project/src/stage3/**"
area/common:
  - "Scraping_project/src/common/**"
area/integration:
  - "Scraping_project/tests/integration/**"
area/nlp:
  - "Scraping_project/src/common/nlp.py"
  - "Scraping_project/src/stage3/**"
area/ci:
  - ".github/**"
