Repository BenjaminSRussell/Scrapy, changes with the labels that .github/labeler.yml gives for each.
All labels: area/stage1, area/stage2, area/stage3, area/common, area/integration, area/nlp, area/ci

.github/labeler.yml:

area/stage1:
  - "Scraping_project/src/stage1/**"
area/stage2:
  - "Scraping_project/src/stage2/**"
area/stage3:
  - "Scraping_project/src/stage3/**"
area/common:
  - "Scraping_project/src/common/**"
area/integration:
  - "Scraping_project/tests/integration/**"
area/nlp:
  - "Scraping_project/src/common/nlp.py"
  - "Scraping_project/src/stage3/**"
area/ci:
  - ".github/**"

Ignore coverage.xml under Test/Coverage (#150)
  .gitignore
Labels: none

fix(ui): a11y tabs, status labels, focus rings (#153)
  Scraping_project/dashboard/app.js
  Scraping_project/dashboard/index.html
Labels: none

fix(#142): add Docker entrypoints for src.main and stage workers
  Scraping_project/Dockerfile
  Scraping_project/src/main.py
  Scraping_project/src/workers/__init__.py
  Scraping_project/src/workers/stage1_worker.py
  Scraping_project/src/workers/stage2_worker.py
  Scraping_project/src/workers/stage3_worker.py
  Scraping_project/src/workers/stage4_worker.py
Labels: none

fix(#149): harden CI — blocking mypy/bandit, pinned tools, broader tests
  .github/workflows/main.yml
  Scraping_project/dev-requirements.in
  Scraping_project/pyproject.toml
  Scraping_project/pytest.ini
Labels: area/ci

fix(#143): complete pyproject.toml packaging for Python 3.11+
  Scraping_project/pyproject.toml
Labels: none

fix(#149): restore log_cli_date_format key in pytest.ini
  Scraping_project/pytest.ini
Labels: none

fix(#149): pin bandit for CI installs
  Scraping_project/ci-tools.txt
Labels: none

feat(ui): add Control Center a11y helper script (#153)
  Scraping_project/dashboard/a11y.js
Labels: none

docs(#143): align README Python badge to 3.11+
  README.md
Labels: none

fix(#149): install pinned bandit from ci-tools.txt
  .github/workflows/main.yml
Labels: area/ci

docs(#142): add Redis + one-worker happy-path to README
  Scraping_project/README.md
Labels: none

fix(#154): escape activity log HTML and resize charts on tab switch
  Scraping_project/dashboard/app.js
  Scraping_project/dashboard/index.html
Labels: none

fix(#294): standardize get_delta factory for crawl_data_manager (part 1: delta + tests)
  Scraping_project/src/utils/delta.py
  Scraping_project/tests/unit/common/test_crawl_data_manager.py
Labels: none

fix(#294): standardize get_delta factory for crawl_data_manager (part 2: crawl_data_manager)
  Scraping_project/src/common/crawl_data_manager.py
Labels: area/common

fix(144): split ML/OCR deps into optional extras for lean Docker images
  Scraping_project/requirements-ml.in
  Scraping_project/requirements-ml.txt
  Scraping_project/requirements-ocr.in
  Scraping_project/requirements-ocr.txt
  Scraping_project/src/utils/optional_deps.py
Labels: none

fix(144): core requirements.in, pyproject extras, multi-stage Dockerfile
  Scraping_project/Dockerfile
  Scraping_project/pyproject.toml
  Scraping_project/requirements-stage4.txt
  Scraping_project/requirements.in
Labels: none

fix(#143): CI packaging smoke + document extras vs requirements.in
  .github/workflows/main.yml
  Scraping_project/PACKAGING.md
  Scraping_project/requirements.in
Labels: area/ci

test(#142): entrypoint import smoke + Redis worker bring-up CI
  .github/workflows/main.yml
  Scraping_project/tests/unit/test_docker_entrypoints.py
Labels: area/ci

test(#142): entrypoint import smoke + Redis worker bring-up CI
  .github/workflows/main.yml
  Scraping_project/tests/unit/test_docker_entrypoints.py
Labels: area/ci

fix(#151): derive Scrapy settings from config.yml via get_config()
  Scraping_project/README.md
  Scraping_project/src/settings.py
  Scraping_project/tests/unit/test_settings_config.py
Labels: none

fix(144): prune torch/OCR from core requirements.txt
  Scraping_project/requirements.txt
Labels: none

fix(144): compose profiles and core vs ml image targets
  Scraping_project/docker-compose.yml
Labels: none

fix(#149): align pyproject.toml with #289 packaging
  Scraping_project/pyproject.toml
Labels: none

fix(144): fail-fast if Stage 4 starts without ML/OCR extras
  Scraping_project/src/stage4/stage4_worker.py
Labels: none

fix(144): fail-fast if Stage 3 starts without ML extras
  Scraping_project/src/stage3/stage3_worker.py
Labels: area/stage3, area/nlp

docs(144): document lean vs full pip install and compose profiles
  Scraping_project/DEPENDENCIES.md
  Scraping_project/docs/OPTIONAL_EXTRAS.md
Labels: none

fix(144): point ZeroShotClassifier install hint at ML extras
  Scraping_project/src/ml_service.py
Labels: none

docs: add MONITORING.md and OTEL env vars for #146
  MONITORING.md
  Scraping_project/.env.example
Labels: none

feat(otel): add otel_tracing helper (no-op without OTEL endpoint) (#146)
  Scraping_project/src/otel_tracing.py
Labels: none

fix(144): drop competing pyproject packaging; restore torch-free pip-compile core lock
  Scraping_project/pyproject.toml
  Scraping_project/requirements.in
Labels: none

Bump aiohttp from 3.13.0 to 3.13.1 (supersedes #131)
  Scraping_project/requirements.txt
Labels: none

fix(#142): fix compose config (remove stage2 container_name with replicas)
  .github/workflows/main.yml
  Scraping_project/docker-compose.yml
Labels: area/ci

fix(144): align Docker stage3/4 CMDs with #262 workers shims; clarify optional_deps hints
  Scraping_project/Dockerfile
  Scraping_project/src/utils/optional_deps.py
Labels: none

fix(#146): replace PLACEHOLDER with real otel_tracing.py
  Scraping_project/src/otel_tracing.py
Labels: none

test(#154): add regression tests for activity-log XSS and chart.resize on tab
  Scraping_project/tests/unit/dashboard/__init__.py
  Scraping_project/tests/unit/dashboard/test_activity_log_and_charts.mjs
  Scraping_project/tests/unit/dashboard/test_activity_log_and_charts.py
Labels: none

fix(#144): real pip-compile core lock + compose stage2/3/4 review fixes
  Scraping_project/docker-compose.yml
  Scraping_project/requirements.txt
Labels: none

fix(#144): CI torch-free assert + unit tests for fail-fast extras
  .github/workflows/main.yml
  Scraping_project/tests/common/test_optional_deps.py
Labels: area/ci

feat(#146): add OpenTelemetry packages to requirements.in
  Scraping_project/requirements.in
Labels: none

fix(#142): lazy entrypoint imports so smoke does not need stage4 deps
  Scraping_project/src/main.py
  Scraping_project/src/workers/stage1_worker.py
  Scraping_project/src/workers/stage2_worker.py
  Scraping_project/src/workers/stage3_worker.py
  Scraping_project/src/workers/stage4_worker.py
Labels: none

fix(#144): DEPENDENCIES + OPTIONAL_EXTRAS lean-install docs
  Scraping_project/DEPENDENCIES.md
  Scraping_project/docs/OPTIONAL_EXTRAS.md
Labels: none
