Repository BenjaminSRussell/Scrapy, changes with the labels that .github/labeler.yml gives for each.
All labels: area/stage1, area/stage2, area/stage3, area/common, area/integration, area/nlp, area/ci

Unit suites for Stage 3 and Stage 4 workers; Stage 3 honours stage3.similarity_threshold and caps summaries (#223 #228)
  Scraping_project/src/stage3/stage3_worker.py
  Scraping_project/tests/unit/stage3/test_stage3_worker.py
  Scraping_project/tests/unit/stage4/test_stage4_worker.py
Labels: area/stage3, area/nlp

DX/security batch: docker compose v2 support, complete .env.example files, local Grafana helper, ops CLI docs, secret handling + rotation (#239 #342 #345 #379 #382 #482)
  CONTRIBUTING.md
  README.md
  SECURITY.md
  Scraping_project/.env.example
  Scraping_project/Makefile
  Scraping_project/access_grafana.sh
  Scraping_project/compose_cli.py
  Scraping_project/docker-compose.yml
  Scraping_project/kafka-delta-ingest/.env.example
  Scraping_project/kafka-delta-ingest/README.md
  Scraping_project/rebuild_env.sh
  Scraping_project/shutdown.py
  Scraping_project/start.py
  Scraping_project/tests/unit/test_compose_cli.py
  Scraping_project/tests/unit/test_compose_script_parity.py
  Scraping_project/tests/unit/test_shell_strict_mode_822.py
  Scraping_project/tests/unit/test_start_dry_run_733.py
  Scraping_project/tests/unit/test_start_local_services.py
Labels: none

Stage 2/4 unit suites (intelligent_analyzer, large_doc_processor, summarization) + the bugs they found (#1296)
  Scraping_project/src/stage2/intelligent_analyzer.py
  Scraping_project/src/stage4/large_doc_processor.py
  Scraping_project/src/stage4/summarization.py
  Scraping_project/tests/unit/stage2/test_intelligent_analyzer.py
  Scraping_project/tests/unit/stage4/test_large_doc_processor.py
  Scraping_project/tests/unit/stage4/test_summarization_lengths.py
Labels: area/stage2

Memory soft-stop: drain crawl at 85% of cgroup limit before OOM killer (#539) (#1222)
  Scraping_project/README.md
  Scraping_project/src/memory_soft_stop.py
  Scraping_project/src/orchestrator/pipeline_orchestrator.py
  Scraping_project/src/settings.py
  Scraping_project/tests/unit/test_memory_soft_stop.py
Labels: none

Test batch: adversarial JS detection, pytest Kafka-alert tests, CLI exit codes, Delta read-side evolution, PR checklist (#292, #295, #297, #299, #301) (#1281)
  .github/pull_request_template.md
  .github/workflows/ci-kafka-alerts.yml
  Scraping_project/cli.py
  Scraping_project/k8s/helm/scraping-pipeline/files/monitoring/recording_rules.yml
  Scraping_project/monitoring/recording_rules.yml
  Scraping_project/pytest.ini
  Scraping_project/src/lakehouse/lakehouse_manager.py
  Scraping_project/src/stage1/js_detection.py
  Scraping_project/tests/delta/test_schema_evolution_read.py
  Scraping_project/tests/fixtures/js_detection/angular_tutorial_article.html
  Scraping_project/tests/fixtures/js_detection/cra_noscript_shell.html
  Scraping_project/tests/fixtures/js_detection/image_only_no_scripts.html
  Scraping_project/tests/fixtures/js_detection/next_shell_big_inline_state.html
  Scraping_project/tests/fixtures/js_detection/nuxt_uppercase_single_quotes.html
  Scraping_project/tests/fixtures/js_detection/react_tutorial_article.html
  Scraping_project/tests/fixtures/js_detection/static_docs_jquery_analytics.html
  Scraping_project/tests/fixtures/js_detection/vue_cloak_shell.html
  Scraping_project/tests/observability/_mock_metrics_server.py
  Scraping_project/tests/observability/test_kafka_lag_alert.py
  Scraping_project/tests/observability/test_recording_rules.py
  Scraping_project/tests/unit/monitoring/alert_rules_promtool_test.yml
  Scraping_project/tests/unit/stage1/test_js_detection_adversarial.py
  Scraping_project/tests/unit/test_cli_exit_codes.py
  Scraping_project/tests/unit/test_pr_template_checklist.py
Labels: area/stage1, area/ci

Control Center server: optional auth, opt-in CORS, enforcing CSP + security headers, rate limit, /api/metrics proxy, /api/queues Redis depths, asset smoke test (#189 #245 #257 #271 #400 #401 #455)
  Scraping_project/dashboard/README.md
  Scraping_project/dashboard/app.js
  Scraping_project/dashboard/features.js
  Scraping_project/dashboard/format-utils.js
  Scraping_project/dashboard/index.html
  Scraping_project/dashboard/serve.py
  Scraping_project/dashboard/tests/format-utils.test.js
  Scraping_project/tests/unit/test_dashboard_serve_security.py
Labels: none

Test: offline robots.txt fixtures for disallow groups, allow override, crawl-delay, wildcards (#526) (#1298)
  Scraping_project/tests/fixtures/robots/allow_override.txt
  Scraping_project/tests/fixtures/robots/bot_specific.txt
  Scraping_project/tests/fixtures/robots/crawl_delay.txt
  Scraping_project/tests/fixtures/robots/disallow_groups.txt
  Scraping_project/tests/fixtures/robots/malformed.txt
  Scraping_project/tests/fixtures/robots/wildcard.txt
  Scraping_project/tests/unit/stage1/test_robots_fixtures_526.py
Labels: none

Helm: Grafana ClusterIP by default, TLS ingress + values-prod.yaml, production-profile guardrails, multi-broker Kafka with matching RF/ISR (#176 #233 #451)
  Scraping_project/k8s/README.md
  Scraping_project/k8s/helm/scraping-pipeline/templates/NOTES.txt
  Scraping_project/k8s/helm/scraping-pipeline/templates/_helpers.tpl
  Scraping_project/k8s/helm/scraping-pipeline/templates/kafka-statefulset.yaml
  Scraping_project/k8s/helm/scraping-pipeline/templates/poddisruptionbudgets.yaml
  Scraping_project/k8s/helm/scraping-pipeline/templates/validate.yaml
  Scraping_project/k8s/helm/scraping-pipeline/values-prod.yaml
  Scraping_project/k8s/helm/scraping-pipeline/values.yaml
  Scraping_project/tests/unit/test_helm_exposure_176_233_451.py
  Scraping_project/tests/unit/test_helm_pdb_514.py
Labels: none

Test infra: HTML snapshot fixtures + html_response, record factories, retry matrix, scout parse suite, smoke gate, flaky quarantine policy, relabel 10k simulation (#240 #242 #273 #275 #286 #288 #291)
  Scraping_project/Makefile
  Scraping_project/pytest.ini
  Scraping_project/scripts/manual/README.md
  Scraping_project/scripts/manual/benchmark_pipeline_10k_sim.py
  Scraping_project/temp_scripts/COMPLETE_SYSTEM_STATUS.sh
  Scraping_project/tests/README.md
  Scraping_project/tests/conftest.py
  Scraping_project/tests/factories.py
  Scraping_project/tests/fixtures/html/README.md
  Scraping_project/tests/fixtures/html/empty.html
  Scraping_project/tests/fixtures/html/js_heavy.html
  Scraping_project/tests/fixtures/html/nav_heavy.html
  Scraping_project/tests/fixtures/html/simple.html
  Scraping_project/tests/flaky_policy.py
  Scraping_project/tests/unit/stage1/test_scout_parse_fixtures.py
  Scraping_project/tests/unit/test_retry_middleware.py
  Scraping_project/tests/unit/testing/__init__.py
  Scraping_project/tests/unit/testing/test_factories.py
  Scraping_project/tests/unit/testing/test_flaky_policy.py
  Scraping_project/tests/unit/testing/test_smoke_suite.py
Labels: none

Recency: null score when publication_date missing/unparseable, outcome metric, gold max ignores unknown (#675) (#1224)
  Scraping_project/README.md
  Scraping_project/src/pipelines.py
  Scraping_project/src/settings.py
  Scraping_project/tests/unit/test_recency_missing_date.py
Labels: none

Test: unit suites for pipelines.py, LakehouseManager and orchestrator sequencing (#246, #254, #256)
  Scraping_project/tests/unit/test_lakehouse_manager_unit.py
  Scraping_project/tests/unit/test_orchestrator_sequencing.py
  Scraping_project/tests/unit/test_pipelines.py
Labels: none

IDN/NFKC URL canonicalization, feature-flag helper, experimental spider gate (#207, #304, #391, #442)
  Scraping_project/cli.py
  Scraping_project/docs/FEATURE_FLAGS.md
  Scraping_project/src/pipelines.py
  Scraping_project/src/settings.py
  Scraping_project/src/stage1/experimental/README.md
  Scraping_project/src/stage1/experimental/deep_dive_spider.py
  Scraping_project/src/stage1/experimental/depth_spider.py
  Scraping_project/src/stage1/experimental/gate.py
  Scraping_project/src/stage1/experimental/js_spider.py
  Scraping_project/src/utils/feature_flags.py
  Scraping_project/src/utils/url_canon.py
  Scraping_project/tests/unit/stage1/test_experimental_gate.py
  Scraping_project/tests/unit/stage1/test_idn_normalization.py
  Scraping_project/tests/unit/test_feature_flags.py
Labels: area/stage1

Stage 2: content routing via Stage 1 policy (#205) + fetch body caps and reject alert (#248) (#1290)
  Scraping_project/config.yml
  Scraping_project/k8s/helm/scraping-pipeline/files/monitoring/alerting_rules.yml
  Scraping_project/monitoring/alerting_rules.yml
  Scraping_project/src/stage1/content_policy.py
  Scraping_project/src/stage2/stage2_worker.py
  Scraping_project/tests/unit/stage2/test_stage2_content_routing.py
Labels: area/stage1, area/stage2

Unit suites for Stage 3 and Stage 4 workers; Stage 3 honours stage3.similarity_threshold and caps summaries (#223 #228) (#1299)
  Scraping_project/src/stage3/stage3_worker.py
  Scraping_project/tests/unit/stage3/test_stage3_worker.py
  Scraping_project/tests/unit/stage4/test_stage4_worker.py
Labels: area/stage3, area/nlp

CI: Trivy gate on built images, fail on fixable CRITICAL; document .trivyignore (#499)
  .github/workflows/cd-release.yml
  Scraping_project/.trivyignore
  Scraping_project/tests/unit/test_trivy_gate_499.py
  Scraping_project/trivy-reports/README.md
Labels: area/ci

Helm: Grafana ClusterIP by default, TLS ingress + values-prod.yaml, production-profile guardrails, multi-broker Kafka with matching RF/ISR (#176 #233 #451) (#1302)
  Scraping_project/k8s/README.md
  Scraping_project/k8s/helm/scraping-pipeline/templates/NOTES.txt
  Scraping_project/k8s/helm/scraping-pipeline/templates/_helpers.tpl
  Scraping_project/k8s/helm/scraping-pipeline/templates/kafka-statefulset.yaml
  Scraping_project/k8s/helm/scraping-pipeline/templates/poddisruptionbudgets.yaml
  Scraping_project/k8s/helm/scraping-pipeline/templates/validate.yaml
  Scraping_project/k8s/helm/scraping-pipeline/values-prod.yaml
  Scraping_project/k8s/helm/scraping-pipeline/values.yaml
  Scraping_project/tests/unit/test_helm_exposure_176_233_451.py
  Scraping_project/tests/unit/test_helm_pdb_514.py
Labels: none

Pinned, checksum-verified model setup (models.lock.json) and cli.py --profile (#486, #465)
  .gitignore
  Scraping_project/Makefile
  Scraping_project/cli.py
  Scraping_project/docs/MODEL_PINS.md
  Scraping_project/models.lock.json
  Scraping_project/scripts/update_model_lock.py
  Scraping_project/src/utils/model_integrity.py
  Scraping_project/src/utils/profiler.py
  Scraping_project/tests/unit/test_cli_profile.py
  Scraping_project/tests/unit/test_model_integrity.py
Labels: none

Orchestrator hops: drain js_spider_queue (#645), Stage 2 reconciliation + barrier (#646)
  Scraping_project/config.yml
  Scraping_project/docs/runbooks/js_spider_queue.md
  Scraping_project/docs/runbooks/pipeline_hops.md
  Scraping_project/src/orchestrator/hop_reconciliation.py
  Scraping_project/src/orchestrator/pipeline_orchestrator.py
  Scraping_project/src/scrapy_prometheus.py
  Scraping_project/src/stage1/experimental/js_spider.py
  Scraping_project/src/stage1/js_queue.py
  Scraping_project/src/stage1/scout_spider.py
  Scraping_project/tests/unit/stage1/test_js_queue_645.py
  Scraping_project/tests/unit/test_hop_reconciliation_646.py
Labels: area/stage1

Control Center a11y/UX: ARIA tabs, landmarks, contrast, focus, reduced motion, mobile topbar, loading/stale/error states (#153 #155 #332 #340 #341 #343 #349 #351 #352 #362)
  Scraping_project/dashboard/A11Y_CHECKLIST.md
  Scraping_project/dashboard/app.js
  Scraping_project/dashboard/format-utils.js
  Scraping_project/dashboard/index.html
  Scraping_project/dashboard/tests/a11y-batch.test.js
Labels: none

Docs: configuration/running/monitoring/data-usage guides; root README uses the real APIs; spider -a allowed_domains/start_urls parsed (#54 #55 #56 #57 #58 #138 #139 #152) (#1297)
  README.md
  Scraping_project/README.md
  Scraping_project/docs/guides/CONFIGURATION.md
  Scraping_project/docs/guides/DATA_USAGE.md
  Scraping_project/docs/guides/MONITORING.md
  Scraping_project/docs/guides/README.md
  Scraping_project/docs/guides/RUNNING.md
  Scraping_project/src/stage1/experimental/base_spider.py
  Scraping_project/tests/unit/stage1/test_spider_domain_args.py
  Scraping_project/tests/unit/test_docs_examples.py
Labels: area/stage1

Test: unit suites for pipelines.py, LakehouseManager and orchestrator sequencing (#246, #254, #256) (#1304)
  Scraping_project/tests/unit/test_lakehouse_manager_unit.py
  Scraping_project/tests/unit/test_orchestrator_sequencing.py
  Scraping_project/tests/unit/test_pipelines.py
Labels: none

IDN/NFKC URL canonicalization, feature-flag helper, experimental spider gate (#207, #304, #391, #442) (#1305)
  Scraping_project/cli.py
  Scraping_project/docs/FEATURE_FLAGS.md
  Scraping_project/src/pipelines.py
  Scraping_project/src/settings.py
  Scraping_project/src/stage1/experimental/README.md
  Scraping_project/src/stage1/experimental/deep_dive_spider.py
  Scraping_project/src/stage1/experimental/depth_spider.py
  Scraping_project/src/stage1/experimental/gate.py
  Scraping_project/src/stage1/experimental/js_spider.py
  Scraping_project/src/utils/feature_flags.py
  Scraping_project/src/utils/url_canon.py
  Scraping_project/tests/unit/stage1/test_experimental_gate.py
  Scraping_project/tests/unit/stage1/test_idn_normalization.py
  Scraping_project/tests/unit/test_feature_flags.py
Labels: area/stage1

Delta: set logRetentionDuration/deletedFileRetentionDuration from config on create and sync; vacuum defaults to table retention (#493) (#1262)
  Scraping_project/config.yml
  Scraping_project/scripts/vacuum_delta_tables.py
  Scraping_project/src/lakehouse/lakehouse_manager.py
  Scraping_project/src/lakehouse/table_properties.py
  Scraping_project/tests/unit/test_delta_retention_properties.py
Labels: none

Versioned stage hand-off contracts + recorded replay fixtures (#623 #659 #667 #668 #686)
  Scraping_project/src/core/contracts.py
  Scraping_project/src/lakehouse/seed_manager.py
  Scraping_project/src/pipelines.py
  Scraping_project/src/stage2/stage2_worker.py
  Scraping_project/src/stage3/stage3_worker.py
  Scraping_project/src/stage4/large_doc_processor.py
  Scraping_project/src/stage4/stage4_worker.py
  Scraping_project/tests/contract/test_handoff_contracts.py
  Scraping_project/tests/fixtures/handoffs/README.md
Labels: area/stage2, area/stage3, area/nlp

Track recorded hand-off fixtures: un-ignore tests/fixtures/**/*.jsonl
  .gitignore
  Scraping_project/tests/fixtures/handoffs/stage1_stage2.jsonl
  Scraping_project/tests/fixtures/handoffs/stage2_stage3.jsonl
  Scraping_project/tests/fixtures/handoffs/stage2_stage4.jsonl
  Scraping_project/tests/fixtures/handoffs/stage4_chunk.jsonl
Labels: none

.github/labeler.yml:

area/stage1:
  - "Scraping_project/src/stage1/**"
area/stage2:
  - "Scraping_project/src/stage2/**"
area/stage3:
  - "Scraping_project/src/stage3/**"
area/common:
  - "Scraping_project/src/common/**"
area/integration:
  - "Scraping_project/tests/integration/**"
area/nlp:
  - "Scraping_project/src/common/nlp.py"
  - "Scraping_project/src/stage3/**"
area/ci:
  - ".github/**"
