Repository BenjaminSRussell/Scrapy, changes with the labels that .github/labeler.yml gives for each.
All labels: area/stage1, area/stage2, area/stage3, area/common, area/integration, area/nlp, area/ci

.github/labeler.yml:

area/stage1:
  - "Scraping_project/src/stage1/**"
area/stage2:
  - "Scraping_project/src/stage2/**"
area/stage3:
  - "Scraping_project/src/stage3/**"
area/common:
  - "Scraping_project/src/common/**"
area/integration:
  - "Scraping_project/tests/integration/**"
area/nlp:
  - "Scraping_project/src/common/nlp.py"
  - "Scraping_project/src/stage3/**"
area/ci:
  - ".github/**"

fix(#156): show error/unknown state when metrics unreachable
  Scraping_project/tests/unit/dashboard/__init__.py
Labels: none

fix(#156): show error/unknown state when metrics unreachable
  Scraping_project/tests/unit/dashboard/test_dashboard_metrics_honesty.py
Labels: none

feat(#146): wire OtelItemPipeline and OtelTracingExtension into settings
  Scraping_project/src/settings.py
Labels: none

deps: bump aiohttp to 3.13.1
  Scraping_project/requirements.txt
Labels: none

fix(#144): Makefile update-deps compiles core+ML+OCR locks
  Scraping_project/Makefile
Labels: none

fix(#156): show error/unknown state when metrics unreachable
  Scraping_project/dashboard/app.js
Labels: none

fix: remove tracked .venv, coverage.xml, and .DS_Store (#150) (#217)
  .DS_Store
  .gitignore
  Scraping_project/.venv/pyvenv.cfg
  Scraping_project/.venv/share/man/man1/isympy.1
  Scraping_project/coverage.xml
Labels: none

fix(#143): complete pyproject.toml and align Python 3.11+ (#289)
  .github/workflows/main.yml
  README.md
  Scraping_project/PACKAGING.md
  Scraping_project/pyproject.toml
  Scraping_project/requirements.in
Labels: area/ci

fix(#294): standardize get_delta for crawl_data_manager (#330)
  Scraping_project/src/common/crawl_data_manager.py
  Scraping_project/src/utils/delta.py
  Scraping_project/tests/unit/common/test_crawl_data_manager.py
Labels: area/common

fix(#151): derive Scrapy settings from config.yml via get_config() (#441)
  Scraping_project/README.md
  Scraping_project/src/settings.py
  Scraping_project/tests/unit/test_settings_config.py
Labels: none

test(#154): drop implementer-local path from dashboard JS harness
  Scraping_project/tests/unit/dashboard/test_activity_log_and_charts.py
Labels: none

fix(#142): add tenacity for stage4 retries
  Scraping_project/requirements.in
  Scraping_project/requirements.txt
Labels: none

fix(#144): ml_service install hints for optional extras (PR #289 note)
  Scraping_project/src/ml_service.py
Labels: none

fix(#145): unify Docker Compose with profiles (core/monitoring/streaming/observability)
  Scraping_project/.env.example
  Scraping_project/COMPOSE.md
  Scraping_project/docker-compose.yml
Labels: none

fix(#156): show error/unknown state when metrics unreachable
  Scraping_project/dashboard/app.js
Labels: none

fix(#142): clear pytest addopts in entrypoint-smoke job
  .github/workflows/main.yml
Labels: area/ci

feat(#146): lock OpenTelemetry packages in requirements.txt
  Scraping_project/requirements.txt
Labels: none

fix(#156): show error/unknown state when metrics unreachable
  Scraping_project/dashboard/app.js
Labels: none

feat(#146): instrument stage4 worker with OpenTelemetry spans
  Scraping_project/src/stage4/stage4_worker.py
Labels: none

fix(#156): show error/unknown state when metrics unreachable
  Scraping_project/dashboard/app.js
Labels: none

feat(#146): instrument stage3 worker with OpenTelemetry spans
  Scraping_project/src/stage3/stage3_worker.py
Labels: area/stage3, area/nlp

fix(#149): Harden CI onto main after #289 packaging merge
  .github/workflows/main.yml
  Scraping_project/ci-tools.txt
  Scraping_project/dev-requirements.in
  Scraping_project/pytest.ini
Labels: area/ci

chore(#142): retrigger PR CI for entrypoint-smoke
  .github/workflows/main.yml
Labels: area/ci

fix(#142): restore CI workflow after accidental placeholder push
  .github/workflows/main.yml
Labels: area/ci

fix(#374): BaseSpider uses get_config/get_delta/get_redis
  Scraping_project/tests/unit/stage1/test_experimental_base_spider_init.py
Labels: none

feat(#146): instrument stage2 worker with OpenTelemetry spans
  Scraping_project/src/stage2/stage2_worker.py
Labels: area/stage2

fix(#374): wire BaseSpider to get_config/get_delta/get_redis
  Scraping_project/src/stage1/experimental/base_spider.py
Labels: area/stage1

fix(#156): show error/unknown state when metrics unreachable
  Scraping_project/tests/unit/dashboard/_probe_honesty.txt
Labels: none

fix(#374): wire BaseSpider to get_config/get_delta/get_redis
  Scraping_project/src/stage1/experimental/base_spider.py
Labels: area/stage1

ci(#142): retrigger pull_request CI for entrypoint-smoke
  .github/workflows/main.yml
Labels: area/ci

deps: bump aiohttp to 3.13.1 (restore full lockfile)
  Scraping_project/requirements.txt
Labels: none

fix(#156): show error/unknown state when metrics unreachable
  Scraping_project/dashboard/app.js
Labels: none

fix(#156): show error/unknown state when metrics unreachable
  Scraping_project/dashboard/app.js
Labels: none

fix(#375): use get_config() in JavaScriptSpider init
  Scraping_project/src/stage1/experimental/js_spider.py
  Scraping_project/tests/unit/stage1/test_js_spider_init.py
Labels: area/stage1

deps: bump aiohttp to 3.13.1 in dev-requirements
  Scraping_project/dev-requirements.txt
Labels: none

fix(#156): show error/unknown state when metrics unreachable
  Scraping_project/dashboard/app.js
Labels: none

test(#375): harden js_spider init unit test stubs
  Scraping_project/tests/unit/stage1/test_js_spider_init.py
Labels: none

merge(main): keep entrypoint-smoke and package jobs in CI
  .github/workflows/main.yml
Labels: area/ci

merge(main): sync #262 with main — entrypoint-smoke + package
  .github/workflows/ci-kafka-alerts.yml
  .github/workflows/ci-observability-offline.yml
  .github/workflows/python.yml
  Scraping_project/PACKAGING.md
Labels: area/ci

merge(main): sync #262 cd-release checkout@v6 + gitignore
  .github/workflows/cd-release.yml
  .gitignore
Labels: area/ci
