Repository BenjaminSRussell/Scrapy, changes with the labels that .github/labeler.yml gives for each.
All labels: area/stage1, area/stage2, area/stage3, area/common, area/integration, area/nlp, area/ci

.github/labeler.yml:

area/stage1:
  - "Scraping_project/src/stage1/**"
area/stage2:
  - "Scraping_project/src/stage2/**"
area/stage3:
  - "Scraping_project/src/stage3/**"
area/common:
  - "Scraping_project/src/common/**"
area/integration:
  - "Scraping_project/tests/integration/**"
area/nlp:
  - "Scraping_project/src/common/nlp.py"
  - "Scraping_project/src/stage3/**"
area/ci:
  - ".github/**"

fix(ui): escape activity log, resize charts on tab, unhealthy defaults (#154 #156)
  Scraping_project/dashboard/app.js
  Scraping_project/dashboard/index.html
Labels: none

fix(ui): escape activity log, resize charts on tab, unhealthy defaults (#154 #156) (#1114)
  Scraping_project/dashboard/app.js
  Scraping_project/dashboard/index.html
Labels: none

fix(dashboard): activity log export + chart data-table fallbacks (#1089 #1090)
  Scraping_project/dashboard/app.js
  Scraping_project/dashboard/index.html
Labels: none

fix(dashboard): activity log export + chart data-table fallbacks (#1089 #1090) (#1115)
  Scraping_project/dashboard/app.js
  Scraping_project/dashboard/index.html
Labels: none

fix(dashboard): midnight chart labels, sparklines, responsive title (#1087 #1088 #1077)
  Scraping_project/dashboard/app.js
  Scraping_project/dashboard/index.html
Labels: none

fix(dashboard): midnight chart labels, sparklines, responsive title (#1087 #1088 #1077) (#1116)
  Scraping_project/dashboard/app.js
  Scraping_project/dashboard/index.html
Labels: none

fix(dashboard): pause refresh, deep-link tabs, cold charts, reconnect, mobile tabs (#1068 #1067 #1076 #1075 #1073)
  Scraping_project/dashboard/app.js
  Scraping_project/dashboard/index.html
Labels: none

fix(dashboard): pause refresh, deep-link tabs, cold charts, reconnect, mobile tabs (#1068 #1067 #1076 #1075 #1073) (#1117)
  Scraping_project/dashboard/app.js
  Scraping_project/dashboard/index.html
Labels: none

fix(dashboard): milestones, linkify, env badge, flags, chart heights (#1053 #1050 #1051 #1048 #1047 #1042)
  Scraping_project/dashboard/app.js
  Scraping_project/dashboard/index.html
Labels: none

fix(dashboard): milestones, linkify, env badge, flags, chart heights (#1053 #1050 #1051 #1048 #1047 #1042) (#1118)
  Scraping_project/dashboard/app.js
  Scraping_project/dashboard/index.html
Labels: none

Control Center: helper unit tests, styleguide, a11y checklist, threat model, version watermark; fix updateDashboard syntax error
  Scraping_project/dashboard/A11Y_CHECKLIST.md
  Scraping_project/dashboard/README.md
  Scraping_project/dashboard/app.js
  Scraping_project/dashboard/format-utils.js
  Scraping_project/dashboard/index.html
  Scraping_project/dashboard/serve.py
  Scraping_project/dashboard/styleguide.html
  Scraping_project/dashboard/tests/format-utils.test.js
  Scraping_project/dashboard/version.js
Labels: none

deps: pin pytest-env 1.2.0 (1.3+ needs pytest>=9; fixes CI ResolutionImpossible)
  Scraping_project/dev-requirements.in
  Scraping_project/dev-requirements.txt
Labels: none

ci: clear ruff F/E4/E7/E9 errors on main; fix recursive legacy get_delta shim (now get_delta_manager); import missing timedelta in DLQ
  Scraping_project/src/common/__init__.py
  Scraping_project/src/core/__init__.py
  Scraping_project/src/core/models.py
  Scraping_project/src/core/schemas.py
  Scraping_project/src/orchestrator/pipeline_orchestrator.py
  Scraping_project/src/stage1/processors/__init__.py
  Scraping_project/src/utils/connection_pool.py
  Scraping_project/src/utils/dead_letter_queue.py
  Scraping_project/src/utils/delta.py
  Scraping_project/src/utils/profiler.py
  Scraping_project/src/utils/retry.py
Labels: area/stage1, area/common

Control Center: tests, styleguide, a11y checklist, threat model, version watermark (#1119)
  Scraping_project/dashboard/A11Y_CHECKLIST.md
  Scraping_project/dashboard/README.md
  Scraping_project/dashboard/app.js
  Scraping_project/dashboard/format-utils.js
  Scraping_project/dashboard/index.html
  Scraping_project/dashboard/serve.py
  Scraping_project/dashboard/styleguide.html
  Scraping_project/dashboard/tests/format-utils.test.js
  Scraping_project/dashboard/version.js
  Scraping_project/dev-requirements.in
  Scraping_project/dev-requirements.txt
  Scraping_project/src/common/__init__.py
  Scraping_project/src/core/__init__.py
  Scraping_project/src/core/models.py
  Scraping_project/src/core/schemas.py
  Scraping_project/src/orchestrator/pipeline_orchestrator.py
  Scraping_project/src/stage1/processors/__init__.py
  Scraping_project/src/utils/connection_pool.py
  Scraping_project/src/utils/dead_letter_queue.py
  Scraping_project/src/utils/delta.py
  Scraping_project/src/utils/profiler.py
  Scraping_project/src/utils/retry.py
Labels: area/stage1, area/common

ci: make Scrapy main green — fix 108 mypy errors (with real bugs), bandit findings, bandit CI format
  .github/workflows/main.yml
  Scraping_project/dev-requirements.in
  Scraping_project/dev-requirements.txt
  Scraping_project/requirements.in
  Scraping_project/requirements.txt
  Scraping_project/src/common/__init__.py
  Scraping_project/src/common/async_asr_processor.py
  Scraping_project/src/common/crawl_data_manager.py
  Scraping_project/src/common/url_value_assessor.py
  Scraping_project/src/core/config.py
  Scraping_project/src/lakehouse/lakehouse_manager.py
  Scraping_project/src/otel_tracing.py
  Scraping_project/src/pipelines.py
  Scraping_project/src/scrapy_prometheus.py
  Scraping_project/src/settings.py
  Scraping_project/src/stage1/experimental/base_spider.py
  Scraping_project/src/stage1/experimental/deep_dive_spider.py
  Scraping_project/src/stage1/experimental/depth_spider.py
  Scraping_project/src/stage1/experimental/js_spider.py
  Scraping_project/src/stage1/js_detection.py
  Scraping_project/src/stage1/middlewares/retry_middleware.py
  Scraping_project/src/stage1/processors/js_priority_queue.py
  Scraping_project/src/stage1/sitemap_parser.py
  Scraping_project/src/stage2/intelligent_analyzer.py
  Scraping_project/src/stage3/stage3_worker.py
  Scraping_project/src/stage4/entity_summarization.py
  Scraping_project/src/stage4/large_doc_processor.py
  Scraping_project/src/stage4/summarization.py
  Scraping_project/src/utils/cache.py
  Scraping_project/src/utils/connection_pool.py
  Scraping_project/src/utils/dead_letter_queue.py
  Scraping_project/src/utils/delta.py
  Scraping_project/src/utils/profiler.py
  Scraping_project/src/utils/redis.py
  Scraping_project/src/utils/retry.py
Labels: area/stage1, area/stage2, area/stage3, area/common, area/nlp, area/ci

Fix the 4 pytest failures blocking green CI
  Scraping_project/src/lakehouse/lakehouse_manager.py
  Scraping_project/src/stage1/experimental/base_spider.py
  Scraping_project/tests/component/test_spider_pipeline.py
  Scraping_project/tests/unit/common/test_postgres_manager.py
  Scraping_project/tests/unit/stage4/test_entity_summarization.py
Labels: area/stage1

CI: get Scrapy main green — fix 108 mypy errors, bandit findings, bandit CI format (#1122)
  .github/workflows/main.yml
  Scraping_project/dev-requirements.in
  Scraping_project/dev-requirements.txt
  Scraping_project/requirements.in
  Scraping_project/requirements.txt
  Scraping_project/src/common/__init__.py
  Scraping_project/src/common/async_asr_processor.py
  Scraping_project/src/common/crawl_data_manager.py
  Scraping_project/src/common/url_value_assessor.py
  Scraping_project/src/core/config.py
  Scraping_project/src/lakehouse/lakehouse_manager.py
  Scraping_project/src/otel_tracing.py
  Scraping_project/src/pipelines.py
  Scraping_project/src/scrapy_prometheus.py
  Scraping_project/src/settings.py
  Scraping_project/src/stage1/experimental/base_spider.py
  Scraping_project/src/stage1/experimental/deep_dive_spider.py
  Scraping_project/src/stage1/experimental/depth_spider.py
  Scraping_project/src/stage1/experimental/js_spider.py
  Scraping_project/src/stage1/js_detection.py
  Scraping_project/src/stage1/middlewares/retry_middleware.py
  Scraping_project/src/stage1/processors/js_priority_queue.py
  Scraping_project/src/stage1/sitemap_parser.py
  Scraping_project/src/stage2/intelligent_analyzer.py
  Scraping_project/src/stage3/stage3_worker.py
  Scraping_project/src/stage4/entity_summarization.py
  Scraping_project/src/stage4/large_doc_processor.py
  Scraping_project/src/stage4/summarization.py
  Scraping_project/src/utils/cache.py
  Scraping_project/src/utils/connection_pool.py
  Scraping_project/src/utils/dead_letter_queue.py
  Scraping_project/src/utils/delta.py
  Scraping_project/src/utils/profiler.py
  Scraping_project/src/utils/redis.py
  Scraping_project/src/utils/retry.py
  Scraping_project/tests/component/test_spider_pipeline.py
  Scraping_project/tests/unit/common/test_postgres_manager.py
  Scraping_project/tests/unit/stage4/test_entity_summarization.py
Labels: area/stage1, area/stage2, area/stage3, area/common, area/nlp, area/ci

ci: fix invalid cd-release workflow (secrets in step if) and stale setup-python
  .github/workflows/cd-release.yml
  .github/workflows/ci-kafka-alerts.yml
Labels: area/ci

ci: skip production deploy when DEPLOY_* secrets are not configured
  .github/workflows/main.yml
Labels: area/ci

ci: fix invalid cd-release workflow, skip unconfigured deploy, setup-python v5 (#1123)
  .github/workflows/cd-release.yml
  .github/workflows/ci-kafka-alerts.yml
  .github/workflows/main.yml
Labels: area/ci

Small bug batch: spider modules, entrypoint modes, stage packages, regression guards
  Scraping_project/cli.py
  Scraping_project/drain_lake.py
  Scraping_project/reseed.py
  Scraping_project/run_multiple_scouts.py
  Scraping_project/shutdown.py
  Scraping_project/src/settings.py
  Scraping_project/src/stage2/__init__.py
  Scraping_project/src/stage4/__init__.py
  Scraping_project/start.py
  Scraping_project/tests/unit/test_fixed_bug_regressions.py
Labels: area/stage2

Small bug batch: spider modules, entrypoint modes, stage packages, regression guards (#1124)
  Scraping_project/cli.py
  Scraping_project/drain_lake.py
  Scraping_project/reseed.py
  Scraping_project/run_multiple_scouts.py
  Scraping_project/shutdown.py
  Scraping_project/src/settings.py
  Scraping_project/src/stage2/__init__.py
  Scraping_project/src/stage4/__init__.py
  Scraping_project/start.py
  Scraping_project/tests/unit/test_fixed_bug_regressions.py
Labels: area/stage2

Stage 3 writes stage3_summaries; dual-read legacy stage4_summaries (#612, #316)
  Scraping_project/src/core/constants.py
  Scraping_project/src/core/schemas.py
  Scraping_project/src/orchestrator/pipeline_orchestrator.py
  Scraping_project/src/stage3/stage3_worker.py
  Scraping_project/tests/unit/stage3/test_stage3_summary_table.py
Labels: area/stage3, area/nlp

Makefile: compose v2 + real service, cross-platform open, docs/test-watch/db-migrate targets; dependabot dirs
  .github/dependabot.yml
  Scraping_project/Makefile
Labels: area/ci

Dashboard: no Invalid Date, no invented table/scout counts; run dashboard node tests in CI
  .github/workflows/ci-dashboard.yml
  Scraping_project/dashboard/app.js
  Scraping_project/dashboard/format-utils.js
  Scraping_project/dashboard/index.html
  Scraping_project/dashboard/tests/format-utils.test.js
Labels: area/ci

Safety guards: memory lake opt-in, Redis flush confirm, Grafana password from env, example imports
  Scraping_project/docker-compose.yml
  Scraping_project/examples/entity_summarization_demo.py
  Scraping_project/examples/stage4/entity_worker_example.py
  Scraping_project/src/lakehouse/lakehouse_manager.py
  Scraping_project/src/utils/redis.py
  Scraping_project/tests/integration/test_redis_integration.py
  Scraping_project/tests/unit/common/test_redis_manager.py
  Scraping_project/tests/unit/test_safety_guards.py
Labels: area/integration

Docs: fix broken README/k8s links; PR template commands run in Scraping_project
  .github/pull_request_template.md
  README.md
  Scraping_project/k8s/README.md
Labels: area/ci

Stage2/3 continuous workers honor config.yml/env concurrency and batch size (#319)
  Scraping_project/README.md
  Scraping_project/src/core/config.py
  Scraping_project/src/stage2/stage2_worker.py
  Scraping_project/src/stage3/stage3_worker.py
  Scraping_project/tests/unit/core/__init__.py
  Scraping_project/tests/unit/core/test_stage_worker_settings.py
Labels: area/stage2, area/stage3, area/nlp

LakehouseManager honors DELTA_LAKE_PATH like DeltaHelper (#613); regression guards for #170 #210
  Scraping_project/DEPLOYMENT.md
  Scraping_project/README.md
  Scraping_project/src/lakehouse/lakehouse_manager.py
  Scraping_project/src/utils/delta.py
  Scraping_project/tests/unit/test_delta_path_contract.py
  Scraping_project/tests/unit/test_issue_170_210_regressions.py
Labels: none

Stage 3 writes stage3_summaries; dual-read legacy stage4_summaries (#612, #316) (#1125)
  Scraping_project/src/core/constants.py
  Scraping_project/src/core/schemas.py
  Scraping_project/src/orchestrator/pipeline_orchestrator.py
  Scraping_project/src/stage3/stage3_worker.py
  Scraping_project/tests/unit/stage3/test_stage3_summary_table.py
Labels: area/stage3, area/nlp

Makefile: compose v2 + real service, cross-platform open, docs/test-watch/db-migrate targets; dependabot dirs (#1126)
  .github/dependabot.yml
  Scraping_project/Makefile
Labels: area/ci

Prometheus port: README/Makefile match compose 9090 (#369)
  README.md
  Scraping_project/Makefile
Labels: none

Orchestrator PipelineStats use per-run worker counts (#327)
  Scraping_project/src/orchestrator/pipeline_orchestrator.py
  Scraping_project/src/stage2/stage2_worker.py
  Scraping_project/src/stage3/stage3_worker.py
  Scraping_project/src/stage4/stage4_worker.py
  Scraping_project/tests/unit/test_orchestrator_run_stats.py
Labels: area/stage2, area/stage3, area/nlp

Dashboard: no Invalid Date, no invented table/scout counts; run dashboard node tests in CI (#1127)
  .github/workflows/ci-dashboard.yml
  Scraping_project/dashboard/app.js
  Scraping_project/dashboard/format-utils.js
  Scraping_project/dashboard/index.html
  Scraping_project/dashboard/tests/format-utils.test.js
Labels: area/ci

Dependabot: one grouped weekly PR per ecosystem, open limit 3
  .github/dependabot.yml
Labels: area/ci

Safety guards: memory lake opt-in, Redis flush confirm, Grafana password from env, example imports (#1128)
  Scraping_project/docker-compose.yml
  Scraping_project/examples/entity_summarization_demo.py
  Scraping_project/examples/stage4/entity_worker_example.py
  Scraping_project/src/lakehouse/lakehouse_manager.py
  Scraping_project/src/utils/redis.py
  Scraping_project/tests/integration/test_redis_integration.py
  Scraping_project/tests/unit/common/test_redis_manager.py
  Scraping_project/tests/unit/test_safety_guards.py
Labels: area/integration

Docs: fix broken README/k8s links; PR template commands run in Scraping_project (#1129)
  .github/pull_request_template.md
  README.md
  Scraping_project/k8s/README.md
Labels: area/ci

LakehouseManager honors DELTA_LAKE_PATH like DeltaHelper (#613); regression guards for #170 #210 (#1131)
  Scraping_project/DEPLOYMENT.md
  Scraping_project/README.md
  Scraping_project/src/lakehouse/lakehouse_manager.py
  Scraping_project/src/utils/delta.py
  Scraping_project/tests/unit/test_delta_path_contract.py
  Scraping_project/tests/unit/test_issue_170_210_regressions.py
Labels: none

gitignore crawl artifacts: screenshots, WARC, profiler dumps, data/exports (#797)
  .gitignore
Labels: none

AggregationPipeline: bounded per-entity memory, persist entity_summaries to Delta (#790)
  Scraping_project/src/pipelines.py
  Scraping_project/src/settings.py
  Scraping_project/tests/integration/test_high_integrity_pipeline.py
  Scraping_project/tests/unit/test_aggregation_persistence.py
Labels: area/integration
